#giving_type_selector {
   margin: 2em 0;
  .form__field--wrapper {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    width: 50%;
    cursor: pointer;

    &:after {
      @include clearfix();
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    label {
      margin: 0;
      padding: 14px 0;
      width: 100%;
      height: 100%;
      border: solid 2px $colour-mercury-grey;
      color: $colour-royal-blue;
      line-height: 18px;
      font-family: $font-bold;
      font-weight: initial;
      text-align: center;
      cursor: pointer;

      @include breakpoint($screen-sm) {
        span:before {
          content: "\A";
          white-space: pre;
        }
      }
      @include breakpoint($screen-md) {
        span:before {
          display: none;
        }
      }

      &.checked {
        color: $colour-white;
        border-color: $colour-royal-blue;
        background-color: $colour-royal-blue;
      }
    }
    input:focus + .giving_selector--focus-styling {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // IE, FF etc.
      outline: 1px dotted black;
      // Chrome etc.
      outline: -webkit-focus-ring-color auto 5px;
      outline-offset: 0px;
    }
  }
}
