/* Section for form */
.content {
  background-color: $colour-dark-blue;
  h4, p, label {
    color: $colour-white;
  }

  .form__field {
    color: $colour-white;
  }
}

/* Form */
@include breakpoint($screen-lg) {
  .form__row {
    width: span(8);
  }
}


// hide and show for payment, giftaid, details, billing address and logos rows
.form__row--payment,
.form__row--giftaid,
.form__row--your-detail,
.form__row--billing-detail,
.form__row--card-logos,
.form__row--logos, {
  display: none;
  &.show {
    display: block;
  }
}

// hide extended billing address fields
.form__field--address {
  display: block;
  &.hide {
    display: none;
  }
}

// hide form row's title and copy
.form__subtitle,
.form__subcopy {
  display: none;
}

// labels and fields
.form__field--address-detail {
  label {
    color: $colour-grey;
  }
}

span.help-block {
  left: 0;
  width: 100%;
  border-radius: 2px;
}

input[type="email"],
input[type="number"],
input[type="text"],
select {
  max-width: 100%;
  border: 2px solid $colour-grey;
  border-radius: 3px;
  background-color: transparent;
  color: $colour-white;
  @include placeholder($colour-grey, 18px , $font-regular);
}
// place select arrow 18px from end of select box as per design
select {
  background: transparent url($image-path + "donate-select-arrow.png") calc(100% - 18px) center no-repeat;

  // make the option color default again (fixes inheritance of white colour on Windows)
  option {
    color: initial;
  }
}
// IE11 specific fix (-ms-high-contrast:none is not supported by Edge)
@media all and (-ms-high-contrast: none) {
  select {
    background: none;
    option {
      color: grey;
    }
  }
}

/* Remove visually the number spinner */
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// buttons
.search-box #postcode_button {
  border-radius: 2px;
  background-color: $colour-white;
}

button[type=submit] {
  @extend .btn;
  width: 100%;
  color: $colour-white;
  background-color: $colour-purple;
}
button.payment-button {
  border-radius: 5px;
  height: 55px;
  padding: 18px 30px;
}
div#paypal-button-container {
  margin: 15px 0;
}

// only show Apple Pay button when supported
#comicrelief_payinbundle_payment_apple_pay {
  display: none;
  &:after {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-style: white;
  }
  &.show {
    display: block;
  }
}

// giftaid row
.form__row--giftaid {
  h1 {
    background:url($image-path + "giftaid-mobile.jpg") no-repeat center;
    background-size:contain;
    width: 119px;
    height:68px;
    margin: 15px auto 20px;

    @include breakpoint($screen-md) {
      background:url($image-path + "giftaid.jpg") no-repeat center;
      background-size:contain;
      width: 298px;
      height: 105px;
    }
  }
  p:nth-of-type(2) {
    color: $colour-grey;
    text-align: left;
  }
  a {
    color: $colour-green;
  }
  .form__field--wrapper.form__field--giftaid {
    margin: 0 auto 30px;
    padding: 0;
    width: auto;
    background-color: transparent;
  }
  label.form__checkbox {
    top: 0;
    left: 40px;
    width: calc(100% - 40px);

    &:before {
      display: none;
    }
  }

  input[type="checkbox"] {
    top: 15px;
  }
  input[type="checkbox"]+span {
    top: 15px;
    border: 1px solid $colour-green;
  }
  input[type="checkbox"]:checked+span {
    border: 2px solid $colour-green;
    background-color: $colour-green;
  }
  input[type="checkbox"]:focus+span {
    border: 2px solid $colour-green;
  }
}

// card logo row
.card-list {
  text-align: center;

  .card-logo {
    display: inline-block;
    margin: 0 gutter();
    width: 60px;
    height: 37px;
    background-image: url($image-path + "accepted-payments-sprite.png");
    background-size: auto 37px;

    &.logo-maestro {
      background-position: 0 0;
    }
    &.logo-amex {
      background-position: -66px 0;
    }
    &.logo-mastercard {
      background-position: -132px 0;
    }
    &.logo-visa {
      background-position: -198px 0;
    }

    @include breakpoint($screen-md) {
      width: 82px;
      height: 50px;
      background-size: auto 50px;

      &.logo-amex {
        background-position: -90px 0;
      }
      &.logo-mastercard {
        background-position: -180px 0;
      }
      &.logo-visa {
        background-position: -270px 0;
      }
    }
  }
}

.form__row--payment-amount {
  p, .number-input-label {
    color: $colour-white;
  }

  .form__fieldset {
    position: relative;
    text-align: center;
  }

  label:not(.required){
    &:after {
      content: '';
    }
  }

  .form__radiobutton {
    margin-bottom: 15px;

    .form__field {
      font-family: $font-bold--sr18;
      color: $colour-black;
      padding-top: 0;
      line-height: 1.9;
      text-align: center;
    }
  }

  .form__field {
    text-align: left;
  }

  .form__radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: 60px;
    height: 40px;
    opacity: 0;
  }

  .form__radio+label {
    display: inline-block;
    background-color: $colour-white;
    border: 2px solid $colour-dark-blue-lighter;
    width: 60px;
    height: 40px;
    margin-right: 10px;

    @include breakpoint($screen-md){
      margin-right: 20px;
    }
  }

  .form__radio:checked+label{
    background-color:#2BFDAC;
  }

  .form__radio:focus+label{
    border: 2px solid $colour-dark-blue-lighter;
  }

  .number-input-label {
    position: absolute;
    left: 0px;
    top: 0.73em;
    line-height: 21px;
    color: $colour-white;
    font-size: 19px;
    font-family: $font-regular;
    margin-left: 15px;
    margin-top:1px;
  }

  .form__field--amount {
    .form__field--amount {
      padding-left: 28px;
    }

    label {
      @extend .visually-hidden;
    }
  }
}
