// Postcode lookup
//
// Markup: postcode-lookup.twig
//
// Style guide: 20.1005
.search-box {
    .postcodeSearch{
      float: none;
    }
    .search-box-button {
      position: relative;
      width: 100%;
      background: none;
      border: none;
    }
    #postcode_button {
      // @extend .btn;
      display: block;
      margin: 15px 0;
      width: 100%;
      height: 60px;
      border-radius: none;
      background-image: none;
      // background-color: $colour-black;
      appearance: none; //iOS fix
    }
    div.form__field--error {
      margin-top: 15px;
    }
    &.has-error {
      #postcode_button {
        margin-top: 45px;
      }
    }
  }