// Postcode lookup
//
// This is Progress bar
//
// Markup: postcode-lookup.twig
//
// Style guide: 20.1005

.search-box {
    .postcodeSearch{
      float: none;
    }
    .search-box-button {
      position: relative;
      width: 100%;
      background: none;
      border: none;
    }
    #postcode_button {
      @extend .btn;
      @include border-radius(0);
      display: block;
      margin: 15px 0;
      width: 100%;
      height: 60px;
      border-radius: none;
      background-image: none;
      // background-color: $colour-black;
      appearance: none; //iOS fix
    }
    div.form__field--error {
      margin-top: 15px;
    }
    &.has-error {
      #postcode_button {
        margin-top: 45px;
      }
    }
  }

.form_field--findaddress {
    width: 100%;

  .form__field--text {
    display:inline-block;
  }

  .form__btn {
    display:inline-block;
    max-width:182px;
  }
}