// ==========================================================================
// Colour
// ==========================================================================

$colour-v-light-grey: #F0F0F0;
$smoke-grey: #FAFAFA;

$colour-divider-grey: #d9d9d9;
$colour-border-grey: #29022c;
$colour-input-grey: #f8f8f8;
$colour-background-grey: #c7c7c7;

$colour-blue: #0565d1;
$colour-focus-blue: #0565d1;
$colour-light-blue: #aea9fa;
