// Buttons: primary action
a.btn,
button.btn {
  width:100%;
  height: 60px;
  background-color: $colour--btn-light;
  color: $colour--black;
  font-family: $montserrat;
  padding: 20px 30px;
  @include font-size($button-cta-font-size);
  @include border-radius(8px);
  @include box-shadow-transition();
  @include colour-transition();

  &.secondary {
    background-color: transparent;
    border: 4px solid $colour--white;
    color: $colour--white;
  }

  &:hover,
  &:focus {
    background-color: $colour--btn-hover;
    color: $colour--white;

    &.secondary {
      background-color: transparent;
      border: 4px solid $colour--white;
      color: $colour--white;
    }
  }

  &:active {
    background-color: $colour--btn-on-click;
    color: $colour--white;

    &.secondary {
      background-color: transparent;
      border: 4px solid $colour--white;
      color: $colour--white;
    }
  }
}

// CTAs - classes to be finalised
a.cta,
button.cta {
  height: 60px;
  width:100%;
  background-color: $colour--red;
  color: $colour--white;
  font-family: $montserrat;
  @include font-size($button-cta-font-size);
  @include border-radius(30px);
  @include box-shadow-transition();
  @include colour-transition();

  &:hover,
  &:focus {
    background-color: $colour--cta-hover;
    color: $colour--white;
  }
}

a.cta-2,
button.cta-2 {
  height: 60px;
  width:100%;
  background-color: transparent;
  border: 4px solid $colour--white;
  color: $colour--white;
  transition: all 0.1s ease-in-out;
  font-family: $montserrat;
  @include font-size($button-cta-font-size);
  @include border-radius(30px);
  @include colour-transition-2();
  box-shadow: none;
  padding: 15px 30px;

  &:hover,
  &:focus {
    background-color: transparent;
    border: 4px solid $colour--black;
    color: $colour--black;
  }
}
