// Buttons
//
// Buttons are normally used for key messages, or key call-to-actions. For less important messages, a link may be more appropriate. Buttons text uses the Bold weight of the Proxima Nova font. All buttons
// 
// .btn--black-ghost - Black ghost button
// .btn--white-ghost - White ghost button
// .btn--red - Red button
// .btn--blue - Blue button
// .btn--purple - Purple button
// .btn--white - White button
// .btn--lg - Large-style button
// :hover - Button hover state 
// :active - Button active state
// :focus - Button focus state
//
// Markup: buttons.twig
//
// Style guide: 10.3

.btn {

  // new
  @include border-radius(0);
  text-transform: uppercase;
  padding: 21px 30px;
  letter-spacing: 0.1em;
}

/* Process $buttonList colour variations through our btn-variation mixin. */
@each $button in $buttonList {
  @include btn-variation( $button );
}

/**
 * Buttons display as inline block for md and large breakpoints.
 */
.btn {
  &.btn--fixed-width {
    width: 100%;
  }
}

/**
 * Adds large buttons.
 */
.btn--lg {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 18px;
  line-height: 22px;
}

/**
 * Large button styles for >= md breakpoint.
 */
@include breakpoint($screen-md) {
  .btn--lg {
    height: 70px;
    padding: 24px 70px;
  }
}

/* Ghost button 
less padding because ghost buttons have borders */
.btn--white-ghost,
.btn--black-ghost {
  padding: 20px 29px;
}
.btn--black-ghost {
  border: 1px solid $colour-dark-blue;
  &:hover {
    color: $colour-white;
  }
}
.btn--white-ghost {
  border: 1px solid $colour-white;
  &:hover {
    color: $colour-dark-blue;
  }
}
