// Buttons
//
// Buttons are normally used for key messages, or key call-to-actions. For less important messages, a link may be more appropriate. Buttons text uses the Founders Grotesk Semibold font.
// 
// Markup: buttons.twig
//
// Style guide: 10.3

.btn {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 21px 30px;
  cursor: pointer;
  transition: 0.3s all;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  position: relative;
  @include border-radius(0);
    
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &.btn--full-width {
    display: block;
    width: 100%;
    @include breakpoint($screen-md) {
      display: inline-block;
      width: auto;
    }
  }
  + .btn {
    margin-top: 30px;
    margin-bottom: 0;
    @include breakpoint($screen-md) {
      margin-top: 0;
      margin-left: 25px;
    }
  }
  &--fixed-width {
    width: 100%;
  }
}


//button types (font_colour, bg_colour)
.btn--black {
  @include sr_button_types($colour-white, $colour-black);
}
.btn--dark-blue {
  @include sr_button_types($colour-white, $colour-dark-blue);
}
.btn--dark-blue-lighter {
  @include sr_button_types($colour-white, $colour-dark-blue-lighter);
}
.btn--white-smoke {
  @include sr_button_types($colour-dark-blue, $colour-white-smoke);
}
.btn--white {
  @include sr_button_types($colour-dark-blue, $colour-white);
}

/* This variation has a custom hover state, so we'll just add it here
rather than including it in a common mixin */
.btn--ruby {
  @include sr_button_types($colour-white, $colour-ruby);

  // Psuedo-element that's faded-in to act as our new hoverstate
  &:before {    
    background-image: linear-gradient(90deg, $colour-purple, $colour-ruby);
    content: '';    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
    transition: opacity 0.8s;
    display: block;
  }

  // Fade in custom psuedo-element
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
