<h3>Primary buttons</h3>
<p>Buttons have multiple variations that can be used for styling or functional purposes. The are used in conjunction with the base button class. For example: <b>.btn .btn--ruby</b></p>
<a class="btn btn--ruby" href="#">Link with button class</a>
<button class="btn btn--ruby">Native button</button>
<br>
<h3 style="margin-top: 30px;">Secondary / Ghost button</h3>
<p>Used for less important call-to-actions, particularly when primary buttons are feature on the same component/page, or simply as an alternative styling, where applicable. These buttons appear as ghost (hollow) buttons with 1px solid border and text colour matching the colour of the border. This default styling can be applied by using for example the <b>.btn--black-ghost</b> class. See Variations for more button syling options.</p>
<a class="btn btn--black-ghost" href="#">Link</a>
<button class="btn btn--black-ghost">Button</button>
<br>
<h3 style="margin-top: 30px;">Variations / Modifiers</h3>
<p>Buttons have multiple variations that can be used for styling or functional purposes. The are used in conjunction with the base button <b>.btn .btn--ruby etc</b> class</p>
<a class="btn btn--black" href="#">Link</a>
<button class="btn btn--black">Button</button>
<a class="btn btn--black-ghost" href="#">Ghost Button</a>
<p style="margin-top: 10px;">Black variation <i>.btn--black</i> <i>.btn--black-ghost</i></p>
<a class="btn btn--dark-blue" href="#">Link</a>
<button class="btn btn--dark-blue">Button</button>
<a class="btn btn--dark-blue-ghost" href="#">Ghost Button</a>
<p style="margin-top: 10px;">Dark-blue variation <i>.btn--dark-blue</i> <i>.btn--dark-blue-ghost</i></p>
<a class="btn btn--dark-blue-lighter" href="#">Link</a>
<button class="btn btn--dark-blue-lighter">Button</button>
<a class="btn btn--dark-blue-lighter-ghost" href="#">Ghost Button</a>
<p style="margin-top: 10px;">Dark blue lighter variation <i>.btn--dark-blue-lighter</i> <i>.btn--dark-blue-lighter-ghost</i></p>
<a class="btn btn--ruby" href="#">Link</a>
<button class="btn btn--ruby">Button</button>
<a class="btn btn--ruby-ghost" href="#">Ghost Button</a>
<p style="margin-top: 10px;">Ruby variation <i>.btn--ruby</i> <i>.btn--ruby-ghost</i></p>
<div class="bg--gradient-ruby-purple" style="padding: 20px; margin-bottom: 20px;">
  <a class="btn btn--white-smoke" href="#">Link</a>
  <button class="btn btn--white-smoke">Button</button>
  <a class="btn btn--white-smoke-ghost" href="#">Ghost Button</a>
  <p style="margin-top: 10px;">White smoke variation <i>.btn--white-smoke</i> <i>.btn--white-smoke-ghost</i></p>
</div>
<div class="bg--black" style="padding: 20px;">
  <a class="btn btn--white" href="#">Link</a>
  <button class="btn btn--white">Button</button>
  <a class="btn btn--white-ghost" href="#">Ghost Button</a>
  <p style="margin-top: 10px;">White variation <i>.btn--white</i> <i>.btn--white-ghost</i></p>
</div>
