<h3>SR20 BUTTONS!</h3>

<a class="btn btn--SR20-red" href="#">Link</a>
<button class="btn btn--SR20-red">Button</button>

<a class="btn btn--SR20-dark-blue" href="#">Link</a>
<button class="btn btn--SR20-dark-blue">Button</button>

<a class="btn btn--SR20-deep-violet" href="#">Link</a>
<button class="btn btn--SR20-deep-violet">Button</button>

<a class="btn btn--SR20-yellow" href="#">Link</a>
<button class="btn btn--SR20-yellow">Button</button>

<a class="btn btn--SR20-green" href="#">Link</a>
<button class="btn btn--SR20-green">Button</button>

<a class="btn btn--SR20-cyan-blue" href="#">Link</a>
<button class="btn btn--SR20-cyan-blue">Button</button>

<a class="btn btn--SR20-purple" href="#">Link</a>
<button class="btn btn--SR20-purple">Button</button>

<div style="background: black;padding: 20px;">
<a class="btn btn--SR20-white" href="#">Link</a>
<button class="btn btn--SR20-white ">Button</button>
</div>
