<div style="background-color: #7b7b7b; padding: 10px;">

<a class="btn {{modifier_class}}" href="#">
  Primary buttons
</a>
</div>

{# <button class="btn {{modifier_class}}">Native button</button> #}
