// ==========================================================================
// KSS styles
// ==========================================================================

// Position this normally as we can't do the cool 'sticky' functionality inside the styleguide
.kss-modifier__example header[role=banner].sticky-nav__header {
  position: relative;
}

.kss-image-dimension {
  position:relative;
  color: #fff;
  display:block;
  text-align: center;
  margin-top: 10%;
  @media (min-width: 1024px) {
    margin-top: 5%;
  }
}

#kss-node .kss-modifier__example.promo-header  {
  margin-right:-20px;
  margin-left: -20px;
}
