
// ==========================================================================
// KSS styles
// ==========================================================================

#kss-node .kss-sidebar,
#kss-node .kss-title--level-1 {
  background: #0565d1;
}

.kss-overview.kss-style a {
	color: #111;
	border-bottom: 4px solid #ea0043;
}

.kss-overview li {
	list-style-type: disc;
}
