
// ==========================================================================
// KSS styles
// ==========================================================================

#kss-node .kss-sidebar, #kss-node .kss-nav__menu-item--active.kss-nav__menu-item 
.kss-nav__menu-child {
  background: #0565d1;
}

.kss-overview.kss-style a {
	color: #111;
	border-bottom: 4px solid #ea0043;
}

.kss-overview li {
	list-style-type: disc;
}
