
// ==========================================================================
// KSS styles
// ==========================================================================

#kss-node .kss-sidebar {
  background: #ef4256;
}

.kss-header {
	a {
		img { display: none; }
		width: 150px;
		height: 50px;
		display: block;
		background: url(/kss-assets/images/pattern_logo_rnd.png) left top no-repeat;
		-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
  	background-size: contain;
	}
}