
// ==========================================================================
// KSS styles
// ==========================================================================

#kss-node .kss-sidebar {
	background: #1e1e1e;
}

.kss-header {
	a {
		img {
			display: none;
		}
		
		width: 150px;
		height: 50px;
		display: block;
		background: url(/kss-assets/images/pattern_logo_sr.png) left top no-repeat;
		background: url(/kss-assets/images/pattern_logo_sr.png) left top no-repeat;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
}

header[role=banner] .site-logo {
 	background: url(/kss-assets/images/logo-mobile.gif) no-repeat 0 0;
 	background-size: 100%;
}
