.promo-header,
.promo-header--small {
  min-height: 150px;
  background: transparent url($image-path + "promo-header-cr-donate-mob.jpg") top center/100% no-repeat;

  @include breakpoint($screen-md) {
    min-height: 400px;
    background: url($image-path + "promo-header-cr-donate.jpg") top center no-repeat;
  }
}
