.cards {
  padding: 30px;

  .cards__wrapper {
    @include container

    .cards__item {
      margin:0 5% 28px;

      @include breakpoint($screen-md) {
        margin:0 1.25% 28px;
        width: 30%;
      }
    }

    .cards__image {
      img {
        display: block;
        max-width: 100%;
      }
    }

    .cards__content-wrapper {
      position: relative;
      padding: 30px 20px 0;
      text-align: left;

      h3 {
        color: $colour-dark-purple;
      }

      a {
        color: $colour-dark-purple;
        font-family:$font-regular;
      }
    }
  }

  .cards-header {
    margin-bottom: 38px;

    @include breakpoint($screen-md) {
      margin:0 auto;
      width: 60%;
    }
  }
}
