.ui-tooltip.ui-tooltip--nav {
  // display tooltips based on meta-icons being active or not
  display: $tooltip-display !important;
  background-color: $colour-dark-blue;
  
  &:before {
    // important flag needed to override colour
    border-bottom-color: $colour-dark-blue !important; 
  }
}
