# Mac file
.DS_Store

#npm
node_modules/
npm-debug.log
.idea/
package-lock.json

#distribution
dist
kss/kss-assets/spritesheet.svg

# Sass cache
.sass-cache/

# tests
tests/visual/result/*
tests/visual/reference/*
tests/visual/html_report/*
!tests/visual/result/README.md