# Mac file
.DS_Store

#npm
node_modules/
npm-debug.log
.idea/

#distribution
dist

# Sass cache
.sass-cache/

# generated with grunt-sass-globbing

sass/base/_*.scss

# tests
tests/visual/result/*
tests/visual/reference/*
tests/visual/html_report/*
!tests/visual/result/README.md