<div class="block live-total-block">
  <div class="live-total-block__outerwrapper">
    <div class="live-total-block__wrapper">
      <div class="live-total__progress">
      <span class="progress-outer-circle">
        <span class="progress-circle"></span>
      </span>
      </div>
      <div class="live-total__content">
        <h2>The nation's steps</h2>
        <div id="js-totaliser" class="live-total">750,013,162</div>
        <div class="live-total__button">One billion step target</div>
      </div>
    </div>
  </div>
</div>
