// Press release article page
//
// Markup: press-release-article.twig
//
// Style guide: 300.6

.page-node-type-article--press-release {
	.cr-article__header {
		text-align: left;
		width: 100%;
		position: relative;
		&:before {
			background: url($image-path + "press-logos.png") no-repeat 0 0;
			background-size: 70px;
			content: " ";
			display: block;
			width: 70px;
			height: 70px;
			position: absolute;
			left: 30px;
			top: 10px;
			.page-node-type-article-press-release--comicrelief & {
				background-position: 0 -77px;
			}
			.page-node-type-article-press-release--sportrelief & {
				background-position: 0 -157px;
			}
		}
	}
	.cr-article__social-links {
		display: none;
	}
	.cr-article__title {
		color: $colour-red;
		margin: 30px 30px 0;
	}
	.cr-article__date {
		margin: 0 30px;
	}
	.cr-article__body {
		width: 100%;
		padding: 30px;
	}
}
