<div class="page-node-type-article--press-release">
	<article class="cr-article">
	  <div class="cr-article__content-wrapper">
		  <header class="node node--type-article node--view-mode-full cr-article__header cr-article__header--no-caption">
		    <div class="cr-article__social-links">
		      <div class="social-links-label">
		        <span>Share with:</span>
		      </div>
		      <div class="item-list"><ul class="social-links"><li><a href="http://twitter.com/home?status=http%3A%2F%2Fwww.rednoseday.com%2Fnews-tv-and-events%2Fnews%2Fbest-auction-ever-raising-money-red-nose-day&amp;amp;title=Best+Auction+Ever+-+raising+money+for+Red+Nose+Day" title="Twitter" class="social-link twitter-social-link social-link-popup SocialPopup-processed"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-link-twitter"></use></svg></a></li><li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.rednoseday.com%2Fnews-tv-and-events%2Fnews%2Fbest-auction-ever-raising-money-red-nose-day&amp;amp;title=Best+Auction+Ever+-+raising+money+for+Red+Nose+Day" title="Facebook" class="social-link facebook-social-link social-link-popup SocialPopup-processed"><svg class="icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#social-link-facebook"></use></svg></a></li></ul></div>  
		    </div>
		    <h1 class="cr-article__title">Best Auction Ever - raising money for Red Nose Day</h1>
		    <span class="cr-article__date"> 
		      <div class="field__label visually-hidden">Display date</div>
		      17 March 2017
		      </span>
		  </header>
		  <section class="cr-article__body">   
		 		<div class="cr-body">
		   		<p>Over 20 remarkable celebrity, film and television experiences and items are up for grabs in the <strong>#BestAuctionEver</strong> and prize draw give-away for Red Nose Day.</p>
		   		<ul>
		   		    <li><a class="link" href="#">Home </a></li>
		   		    <li><a class="link" href="#">Your impact</a></li>
		   		</ul>
					<ul><li>Would you like a chat with <strong>Ed Sheeran</strong> backstage at one of his shows? Get involved.</li>
						<li>Have you ever dreamt of flying to LA to hang out with <strong>James Corden</strong> at his chat show? He’s right there waiting for you.</li>
						<li>Doctor Who fans, have you ever wondered what it would be like to sit down for brunch with not one, not two, but seven,<strong> Doctors</strong>? Wonder no more.</li>
						<li>Feel like hanging out with the <strong>Formula 1 drivers</strong> at British Grand Prix week, while being given racing tips by <strong>Geri Horner</strong>? Now’s your chance.</li>
					</ul><p>And not only that…</p>

					<ul><li><strong>Claudia Winkleman</strong> is asking you to join her for a fringe trim and spray tan.</li>
						<li>Five <strong>Masterchef </strong>winners want to come to your house to cook you dinner.</li>
						<li><strong>Miranda Hart</strong> is hoping to take you for a gallop down The Strand.</li>
						<li><strong>Little Mix</strong> are ready and waiting to skype you.</li>
						<li><strong>Jamie Oliver</strong> and <strong>Michel Roux</strong> are longing to teach you to cook.</li>
						<li><strong>Gareth Malone</strong> is up for a singing lesson.</li>
						<li><strong>James Rhodes</strong> would like to play the piano in your house for 20 of your friends.</li>
						<li><strong>Richard Curtis</strong> is waiting to give you a part in his next movie.</li>
						<li><strong>Gillian Anderson</strong> wants to join you for a wander around the Tate Modern.</li>
						<li><strong>Davina</strong> is looking for a private work out pal.</li>
						<li><strong>Tom Fletcher</strong> is all set to come to your house for a story and a sing-song.</li>
						<li>Baking legends, <strong>Mary Berry</strong> and <strong>Nadiya Hussein</strong> are in the kitchen wishing to make you a cake.</li>
						<li><strong>Tanya Burr</strong> is excited to take you on a shopping spree with £1,000 to spend on you.</li>
						<li><strong>Kirstie Allsopp</strong> is inviting you and your friends to her incredibly beautiful seaside house in Devon.</li>
						<li><strong>Sofie Gråbøl</strong> has had enough of the jumper she wore in The Killing and would like you to have it instead.</li>
					</ul><p>10 of these amazing experiences will also be up for grabs as part of a very special series of prize draws, so if bidding isn’t your thing, just £5 means you can enter online to be in with a chance of bagging yourself a once-in-a-lifetime experience.</p>

					<p class="font--large"><strong>Get bidding now and help raise some serious life-changing cash this Red Nose Day.</strong></p>

					<p class="font--large text-align-center"><a class="btn btn--black" href="https://www.givergy.com/charity/red-nose-day" target="_blank">See all items</a></p>
		    </div>
		  </section>
	  </div>
	</article>
</div>
