<h3>Primary buttons</h3>
<p>Buttons have multiple variations that can be used for styling or functional purposes. The are used in conjunction with the base button <b>.btn .btn--black</b> class</p>
<a class="btn" href="#">Link with button class</a>
<button class="btn btn--black">Native button</button>
<br>
<h3 style="margin-top: 30px;">Secondary / Ghost button</h3>
<p>Used for less important call-to-actions, particularly when primary buttons are feature on the same component/page, or simply as an alternative styling, where applicable. These buttons appear as ghost (hollow) buttons with 4px solid border and text colour matching the colour of the border. This default styling can be applied by using the <b>.btn--white-ghost</b> class. See Variations for more button syling options.</p>
<a class="btn btn--white-ghost" href="#">Link</a>
<button class="btn btn--white-ghost">Button</button>
<br>
<h3 style="margin-top: 30px;">Variations / Modifiers</h3>
<p>Buttons have multiple variations that can be used for styling or functional purposes. The are used in conjunction with the base button <b>.btn .btn--red etc</b> class</p>

<a class="btn btn--red" href="#">Link</a>
<button class="btn btn--red">Button</button>
<p>Red variation <i>.btn--red</i></p>

<a class="btn btn--purple" href="#">Link</a>
<button class="btn btn--purple">Button</button>
<p>Purple variation <i>.btn--purple</i></p>

<a class="btn btn--royal-blue" href="#">Link</a>
<button class="btn btn--royal-blue">Button</button>
<p>Royal-blue variation <i>.btn--royal-blue</i></p>

<a class="btn btn--mint-green" href="#">Link</a>
<button class="btn btn--mint-green">Button</button>
<p>Mint-green variation <i>.btn--mint-green</i></p>
