<p>The Comic Relief font is Sailec. This used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h3>Fonts</h3>
<p>The Comic Relief font is Sailec. This used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h1 class="font--family-black">Black</h1>
<p>Sailec Black (used for buttons) <b>.font--family-black</b></p>
<h1 class="font--family-bold">Bold</h1>
<p>Sailec Bold (used for headings) <b>.font--family-bold</b></p>
<h1 class="font--family-regular">Regular</h1>
<p>Sailec Regular (used for body copy) <b>.font--family-regular</b></p>

<h3>Type Sizes</h3>
<p>All type sizes and line heights come from a typographic scale, which has a base copy size of 18px. This table shows</p>
<i>table of type sizes</i>

<h3>Headings</h3>
<p>There are a range of heading sizes from H1 to H5, using the typographic scale.</p>

<h1>This is fun, right?</h1>
<p>h1 (L): Used mainly for headers on landing pages</p>
<h1 class="font--large">This is fun, right?</h1>
<p>h1: Used in secondary page headers</p>
<h2>This is fun, right?</h2>
<p>h2: Used within pages, normally as row headings</p>
<h3>This is fun, right?</h3>
<p>h3: Used within pages, normally as row headings</p>
<h4>This is fun, right?</h4>
<p>h4: Used within pages, normally as row headings</p>
<h5>This is fun, right?</h5>
<p>h5: Used within pages, normally as row headings</p>
<br/>
<br/>
<br/>
<h4>Paragraphs</h4>
<p class="font--red">Red font <i>.font--red</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--purple">Purple font <i>.font--purple</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--royal-blue">Royal Blue font <i>.font--royal-blue</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--white bg--black" style="padding: 5px;">White font <i>.font--white</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--mint-green bg--black" style="padding: 5px;">Mint Green font <i>.font--mint-green</i> There are a range of paragraph sizes, using the typographic scale.</p>
