<style>
.breakpoint-lg, .breakpoint-md{display:none}
.breakpoint-sm{display:inline-block}
@media (min-width: 740px){
  .breakpoint-md{display:inline-block}
  .breakpoint-sm, .breakpoint-lg {display:none}
}
@media (min-width: 1024px){
  .breakpoint-lg {display:inline-block}
  .breakpoint-sm, .breakpoint-md{display:none}
}
</style>
<p>Comic Relief uses Sailec. This is used for headings and body copy in a number of weights</p>

<h3>Fonts</h3>
<h1 class="font--family-black">Black</h1>
<p>Sailec Black <b>.font--family-black</b></p>
<h1 class="font--family-bold">Bold</h1>
<p>Sailec Bold <b>.font--family-bold</b></p>
<h1 class="font--family-medium">Medium</h1>
<p>Sailec Medium <b>.font--family-medium</b></p>
<h1 class="font--family-regular">Regular</h1>
<p>Sailec Regular <b>.font--family-regular</b></p>
<h1 class="font--family-light">Light</h1>
<p>Sailec Light <b>.font--family-light</b></p>
<br/>
<br/>
<br/>
<h3>Type Sizes</h3>
<p>All type sizes and line heights come from a typographic scale, which has a base copy size of 18px.</p>
<br/>
<br/>
<br/>
<h3>Headings</h3>
<p>There are a range of heading sizes from H1 to H5, using the font size and line height. According to the typographic scale set the heading change sizes responsively for different media devices.</p>

<h1 class="font--xlarge">Header 1</h1>
<p>.font--xlarge, 
  <span class="breakpoint-lg">size: 83px, line height: 83px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 74px, line height: 75px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 66px, line height: 68px, breakpoint: : sm</span>
</p>

<h1 class="font--large">Header 1</h1>
<p>.font--large,
  <span class="breakpoint-lg">size: 58px, line height: 62px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 52px, line height: 57px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 41px, line height: 48px, breakpoint: : sm</span>
<p>
<h2>Header 2</h2>
<p>
  <span class="breakpoint-lg">size: 41px, line height: 48px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 36px, line height: 44px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 32px, line height: 41px, breakpoint: : sm</span>
</p>

<h3>Header 3</h3>
<p>
  <span class="breakpoint-lg">size: 26px, line height: 35px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 26px, line height: 35px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 29px, line height: 38px, breakpoint: : sm</span>
</p>
<h4>Header 4</h4>
<p>
  <span class="breakpoint-lg">size: 20px, line height: 31px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 20px, line height: 31px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 23px, line height: 33px, breakpoint: : sm</span>
</p>
<h5>Header 5</h5>
<p>
  <span class="breakpoint-lg">size: 18px, line height: 29px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 18px, line height: 29px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 20px, line height: 31px, breakpoint: : sm</span>
</p>
<br/>
<br/>
<br/>
<h3>Paragraphs</h3>
<p class="font--xlarge">Lorem ipsum dolor sit amet.</p>
<p>.font--xlarge, 
  <span class="breakpoint-lg">size: 23px, line height: 33px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 23px, line height: 28px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 23px, line height: 28px, breakpoint: : sm</span>
</p>
<p class="font--large">Lorem ipsum dolor sit amet.</p>
<p>.font--large,
  <span class="breakpoint-lg">size: 20px, line height: 31px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 20px, line height: 31px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 20px, line height: 31px, breakpoint: : sm</span>
</p>
<p>Lorem ipsum dolor sit amet.</p>
<p><span class="breakpoint-lg">size: 18px, line height: 29px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 18px, line height: 29px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 18px, line height: 29px, breakpoint: : sm</span> 
</p>
<p class="font--small">Lorem ipsum dolor sit amet.</p>
<p class="font--small">.font--small,
<span class="breakpoint-lg">size: 16px, line height: 27px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 16px, line height: 27px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 16px, line height: 27px, breakpoint: : sm</span> 
</p>

<p class="font--xsmall">Lorem ipsum dolor sit amet.</p>
<p class="font--xsmall">.font--xsmall,
<span class="breakpoint-lg">size: 14px, line height: 26px, breakpoint: lg</span>
  <span class="breakpoint-md">size: 14px, line height: 26px, breakpoint: md</span>
  <span class="breakpoint-sm">size: 14px, line height: 26px, breakpoint: : sm</span>
</p>
<br/>
<p class="font--red">Red font <i>.font--red</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--purple">Purple font <i>.font--purple</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--royal-blue">Royal Blue font <i>.font--royal-blue</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--white bg--black" style="padding: 5px;">White font <i>.font--white</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--mint-green bg--black" style="padding: 5px;">Mint Green font <i>.font--mint-green</i> There are a range of paragraph sizes, using the typographic scale.</p>
