<div class="form__row">
    <div class="form__field--wrapper form__checkbox">
        <label class="form__checkbox" for="comicrelief_payin_general_permissionEmail">I'm happy to hear from Comic Relief by email.</label>
        <input type="checkbox" id="comicrelief_payin_general_permissionEmail" name="comicrelief_payin_general[permissionEmail]" value="1">
        <span></span>
    </div>
</div>