header[role=banner] {
  height: 90px;

  .header__inner-home {
    float: right;
    margin: 28px 15px 0 0;
    font-family: $font-bold;

    a {
      border-bottom:2px solid transparent;

      &:hover {
        border-color:inherit;
      }
      span {
        color: $colour-black;
      }
    }
  }

  .header__inner-wrapper {
    padding: 0 15px 0;
    .block-branding {
      float: left;

      .site-logo {
        margin-left: 0;
        background: url($image-path + "rnd19-logo.svg") no-repeat 0 0;
        background-size: cover;
        transform: rotate(0);
      }
    }
  }
}
