body.payin {
  font-family: $body-font;
}

.header {
  display: none;
}
.promo-header {
  @include gradient-background($colour-purple, $colour-ruby);
}

footer {
  .cr-footer,
  .footer__branding {
    display: none;
  }
}
