/**
 * Parameters
 * $inlinelink[1] = name
 * $inlinelink[2] = border-color
 * $inlinelink[3] = border-color for hover & focus
 */
$linkList: (
  ("red" $colour-red $colour-purple),
  ("blue" $colour-blue $colour-yellow), 
  ("yellow" $colour-yellow $colour-blue),
  ("orange" $colour-orange $colour-pink),
  ("green" $colour-green $colour-light-blue), 
  ("light-blue" $colour-light-blue $colour-pink), 
  ("purple" $colour-purple $colour-blue),
  ("pink" $colour-pink $colour-green),
  ("white" $colour-white $colour-black),
  ("jasper-grey" $colour-jasper-grey $colour-red),
  ("gainsboro-grey" $colour-gainsboro-grey $colour-red),
  ("light-grey" $colour-light-grey $colour-red),
  ("smoke-grey" $colour-smoke-grey $colour-red)
);

/**
 * Parameters
 * $color[1] = name
 * $color[2] = background colour/font colour
 */
$colorList: (
  ("red" $colour-red),
  ("blue" $colour-blue), 
  ("yellow" $colour-yellow),
  ("orange" $colour-orange),
  ("green" $colour-green), 
  ("light-blue" $colour-light-blue), 
  ("purple" $colour-purple),
  ("pink" $colour-pink),
  ("black" $colour-black),
  ("white" $colour-white),
  ("jasper-grey" $colour-jasper-grey),
  ("gainsboro-grey" $colour-gainsboro-grey),
  ("light-grey" $colour-light-grey),
  ("smoke-grey" $colour-smoke-grey)
);

/**
 * Parameters
 * $button[1] = name
 * $button[2] = background-color
 * $button[3] = background-color for hover & focus
 * $button[4] = text color
 */
$buttonList: (
  ("black-ghost" transparent $colour-black $colour-black),
  ("white-ghost" transparent $colour-white $colour-black),
  ("red" $colour-red $colour-pink $colour-white),
  ("blue" $colour-blue $colour-purple $colour-white), 
  ("yellow" $colour-yellow $colour-green $colour-black),
  ("green" $colour-green $colour-light-blue $colour-black), 
  ("light-blue" $colour-light-blue $colour-yellow $colour-black), 
  ("purple" $colour-purple $colour-blue $colour-white),
  ("pink" $colour-pink $colour-green $colour-white),
  ("white" $colour-white $colour-black $colour-black),
  ("orange" $colour-orange $colour-yellow $colour-black),
);
