/* RND17 colours */

$colour-red: #f04257;
$colour-blue: #22d2dc;
$colour-yellow: #fbef51;
$colour-green: #b2e55e;
$colour-teal: #00beca;
$colour-royal-blue: #0565d1;
$colour-purple: #7d2ca9;
$colour-dark-purple: #7023b7;
$colour-pink: #fc9eb9;

$colour-black: #030e1a;
$colour-dark-blue: #061d38;
// $colour-dark-grey: #333;
$colour-jasper-grey: #666;
// $colour-greyboy-grey: #999;
$colour-gainsboro-grey: #c7c7c7;
$colour-light-grey: #dddddd;
$colour-smoke-grey: #f0f0f0;
$colour-white: #fff;
// it the below still needed??
$item-grey: #ddd;
/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED;