<h3>New Colours</h3>
<p>Across the site we use</p>
<div style="display: inline-block; margin: 10px">
  <div class="bg--red" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-red</p>
  <p>#e53138</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--purple" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-purple</p>
  <p>#78368c</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--blue" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-blue</p>
  <p>#2a72b7</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--light-blue" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-light-blue</p>
  <p>#5ec2ea</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--yellow" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-yellow</p>
  <p>#ffc700</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--green" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-green</p>
  <p>#79ac2b</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--orange"  style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-orange</p>
  <p>#fc7b39</p>
</div>
<br/>
<div style="display: inline-block; margin: 10px">
  <div class="bg--pink" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-pink</p>
  <p>#c6037c</p>
</div>
<br/>
<h3>Old Greyscale palette</h3>
<p>Across the site we use</p>
<div style="display: inline-block; margin: 10px">
  <div class="bg--white" style="border: 1px solid black; height: 99px; display:block; width: 99px;"></div>
  <p><br/>$colour-white</p>
  <p>#fff</p>
</div>
<br/>
<div style="display: inline-block; margin: 10px">
  <div class="bg--black" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-black</p>
  <p>#030e1a</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--jasper-grey" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-jasper-grey</p>
  <p>#666</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--gainsboro-grey" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-gainsboro-grey</p>
  <p>#c7c7c7</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--light-grey" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-light-grey</p>
  <p>#e6e3dc</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--smoke-grey" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-smoke-grey</p>
  <p>#f0f0f0</p>
</div>
