<section class="paragraph--copy-copy {{modifier_class}}">
    <div class="copy-copy__text-wrapper bg--ruby">
        <div class="copy-copy__text cr-body">
            <h1 class="text--title font--white">Red Nose Day</h1>
            <p class="font--white">On Friday 15 March, people across the UK will be coming together to do things big and small, that will add up to something massive. And we’d like you to join in.</p>
            <p class="font--white">On Friday 15 March, people across the UK will be coming together to do things big and small, that will add up to something massive. And we’d like you to join in.</p>
            <p class="font--white">On Friday 15 March, people across the UK will be coming together to do things big and small, that will add up to something massive. And we’d like you to join in.</p>
            <p>
                <a class="btn btn--dark-blue" href="https://shop.comicrelief.com/" target="_blank">Order a fundraising pack</a>
            </p>
        </div>
    </div>
    <div class="copy-copy__text-wrapper bg--dark-blue">
        <div class="copy-copy__text cr-body">
            <h1 class="text--title font--white">Red Nose Day</h1>
            <p class="font--white">On Friday 15 March, people across the UK will be coming together to do things big and small, that will add up to something massive. And we’d like you to join in.</p>
            <p>
                <a class="btn btn--ruby" href="https://shop.comicrelief.com/" target="_blank">Order a fundraising pack</a>
            </p>
        </div>
    </div>
</section>
