<section class="paragraph--fixed-ratio-image {{modifier_class}}">
    <div class="fixed-ratio-image__image-wrapper">
        <img src="kss-assets/images/4-3-img.jpg" />
    </div>
    <div class="bg--teal fixed-ratio-image__text-wrapper">
        <h1>PREPARE FOR A SPECTACULAR NIGHT OF COMEDY</h1>
        <p>28 February 2019. One night, one stage, eight giants of comedy live at The SSE Arena, Wembley</p>
        <p><a class="btn btn--white" href="https://www.comicrelief.com/#newsletter" title="find out more about Spectacular">Sign up for pre-sale tickets</a></p>
    </div>
</section>