h1 {
  margin: 0 0 20px;
  color: $black;
  @include GT-Walsheim-Bold;

  @include font-size($h1-font-size);
  &.font--font-black{
    font-family: $black;
    @include font-size($h1-black-font-size);
  }
  &.font--xlarge {
    @include font-size($h1-xlarge-font-size);
  }
  &.font--black-shadow {
    font-family: $black;
    @include font-size($h1-blackshadow-font-size);
    text-shadow: -3px 3px 0px rgba(0, 0, 0, 0.25);
    @include bp($screen-md) {
      text-shadow: -5px 5px 0px rgba(0, 0, 0, 0.25);
    }
    @include bp($screen-lg) {
      text-shadow: -7px 7px 0px rgba(0, 0, 0, 0.25);
    }
  }
}
h2, h3, h4, h5, p, .link {
  color: $black;
}
p,
h2,
h3,
h4 {
  margin: 0 0 15px;
  clear: both;
}
p:last-child,
p:first-child:last-child { 
  margin-bottom: 5px;
}
h2 {
  @include GT-Walsheim-Medium;
  @include font-size($h2-font-size);
}
h3 {
  @include GT-Walsheim-Regular;
  @include font-size($h3-font-size);
}
h4 {
  @include GT-Walsheim-Regular;
  @include font-size($h4-font-size);
}

p {
  padding: 0;
  font-family: $body-font;
  @include font-size($p-font-size);
  &.font--xlarge {
    @include font-size($p-xlarge-font-size);
    margin-bottom: 20px;
  }
  &.font--large {
    @include font-size($p-large-font-size);
  }
  &.font--small {
    @include font-size($p-small-font-size);
  }
  &.font--xsmall {
    @include font-size($p-xsmall-font-size);
  }
}
span.font--font-black{
  font-family: $black;
}

strong {
  @include GT-Walsheim-Bold;
}

.font--black {
  @include GT-Walsheim-Black;
}

img,
a img {
  border: none;
}

a {
  color: $black;
  text-decoration: underline;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}

p {
  padding: 0;
  font-size: 16px;
}


ul {
  list-style: none; 
}

ol {
  list-style: none; 
}

ol, ul {
  padding-left: 0;
  margin-top: 0; 
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $item-grey; 
}


.link {
  text-decoration: none;
  word-break: break-all;
  color: inherit;
  border-bottom: 4px solid $red;
  @include GT-Walsheim-Bold;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  outline: 0;
  
  &:hover,
  &:active,
  &:focus {
    border-bottom: 4px solid $black;
  }
  &.inline {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: inherit;
    border-width: 2px;
    font-size: inherit;
    line-height: 22px;
    &:hover,
    &:active,
    &:focus {
      border-width: 2px;
    }
  }
}

.external-link {
  &:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px 5px -3px 10px;
    content: " ";
    background-size: 25px 25px;
  }
}

/*
 * Text link color
 */
@include link-variation($linkList);
@include bg-color-variations($colorList);
@include type-color-variations($colorList);
