<nav style="display: block;" role="navigation" aria-labelledby="block-kidsmenu-menu" id="block-kidsmenu" class="block block-menu menu--kids-menu">
  <h2 class="visually-hidden" id="block-kidsmenu-menu">Kids menu</h2>
  <a class="kids-logo" href="/kids">Kids homepage</a>
  <ul class="menu" id="main-menu">
  <li class="menu-item"><a href="#" class="kids-play" target="">Play</a></li>
  <li class="menu-item"><a href="#" class="kids-bake" target="">Bake</a></li>
  <li class="menu-item"><a href="#" class="kids-dress-up" target="">Dress up</a></li>
  <li class="menu-item"><a href="#" class="kids-jokes" target="">Jokes</a></li>
  <li class="menu-item"><a href="#" class="kids-learn" target="">Story</a></li>
  <li class="menu-item"><a href="#" class="kids-grown-ups" target="">Grown ups</a></li>
  <li class="menu-item"><a href="#" class="kids-leave-kids" target="">Leave</a></li>
  </ul>
</nav>
