<br/>
<br/>
<div class="bg--white" style="border: 1px solid black; height: 100px; width: 100%;"></div>
<p>$colour-white: #fff;</p>

<div class="bg--red" style="height: 100px; width: 100%;"></div>
<p>$colour-red: #ea0043;</p>

<div class="bg--royal-blue" style="height: 100px; width: 100%;"></div>
<p>$colour-royal-blue: #4032fe;</p>

<div class="bg--mint-green" style="height: 100px; width: 100%;"></div>
<p>$colour-mint-green: #5df4cf;</p>

<div class="bg--purple" style="height: 100px; width: 100%;"></div>
<p>$colour-purple: #340f78;</p>

<div class="bg--dark-purple" style="height: 100px; width: 100%;"></div>
<p>$colour-dark-purple: #29022c;</p>

<div class="bg--light-grey" style="height: 100px; width: 100%;"></div>
<p>$colour-light-grey: #F8F8F8;</p>

<div class="bg--grey" style="height: 100px; width: 100%;"></div>
<p>$colour-grey: #e8e8e8;</p>


<h4>NEW FOR 2018!</4>

<div class="bg--cr-red" style="height: 100px; width: 100%;"></div>
<p>$cr-red: #e52631;</p>

<div class="bg--cr-orange" style="height: 100px; width: 100%;"></div>
<p>$cr-orange: #fc7b39;</p>

<div class="bg--cr-yellow" style="height: 100px; width: 100%;"></div>
<p>$cr-yellow: #ffc700;</p>

<div class="bg--cr-green" style="height: 100px; width: 100%;"></div>
<p>$cr-green: #79ac2b;</p>

<div class="bg--cr-blue" style="height: 100px; width: 100%;"></div>
<p>$cr-blue: #2a72b7;</p>

<div class="bg--cr-magenta" style="height: 100px; width: 100%;"></div>
<p>$cr-magenta: #c6037c;</p>

<div class="bg--cr-purple" style="height: 100px; width: 100%;"></div>
<p>$cr-purple: #78368c;</p>

<div class="bg--cr-light-blue" style="height: 100px; width: 100%;"></div>
<p>$cr-light-blue: #5ec2ea;</p>
