// Highlight
//
// .highlight--red - Red highlight
// .highlight--purple - Purple highlight
// .highlight--royal-blue - Royal-blue highlight
// .highlight--mint-green - Mint-green highlight
// .highlight--white - Mint-green highlight
// 
// Markup: highlight.twig
//
// Style guide: 10.19

.highlight {
  padding: 7px 4px 1px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  border: 4px solid $colour-black;
  font-weight: bold;

  // Target Highlights wrapped in *or* containing strong tags
  strong &,
  strong {
    padding: 3px 6px 2px;
  }
}

.highlight--purple {
  color: $colour-purple;
  border: 4px solid $colour-purple;
}
.highlight--royal-blue {
  color: $colour-royal-blue;
  border: 4px solid $colour-royal-blue;
}
.highlight--red {
  color: $colour-red;
  border: 4px solid $colour-red;
}
.highlight--mint-green {
  color: $colour-mint-green;
  border: 4px solid $colour-mint-green;
}
.highlight--white {
  color: $colour-white;
  border: 4px solid $colour-white;
}
