<article class="article-teaser">
  <a href="#" class="article-teaser__link">
    <div class="article-teaser__image">
      <picture>
        <img property="schema:image" class="media__image media__element b-lazy b-responsive b-loaded" src="kss-assets/images/16-9-img.jpg" alt="" typeof="foaf:Image">
      </picture>
    </div>
    <div class="article-teaser__content-wrapper">
      <div class="article-teaser__content">
        <span class="article-teaser__date">28 October 2016</span>
        <h2>News article</h2>
      </div>
    </div>
  </a>
</article>
