.promo-header {
  min-height: 100px;
  @include gradient-background($colour-purple, $colour-ruby);
  
  h1, p, span {
    color: $colour-white;
  }
  p {
    margin-bottom: 0;
    @include font-size($h3-font-size);
  }
  h1 {
   font-family: $font-medium;
   text-transform: none;
   
   @include font-size($h2-font-size);
  }
  // no line break before donation amount in span
  br {
    display: none;
  }
}

// remove h1 text text-shadow
.promo-header--default:not(.promo-header--video):not(.promo-header--no-image) {
  .promo-header__content .promo-header__content-inner {
    h1 {
      text-shadow: none;
    }
  }
}  

@include breakpoint($screen-md) {
  .promo-header {
    min-height: 200px;
  }
}

@include breakpoint($screen-lg) {
  .promo-header {
    p {
      margin-bottom: 20px;
    }
    h1 {
      @include font-size($h1-small-font-size);
    }
    // show line break to keep pound sign and amount on same line 
    br {
      display: block;
    }
  }
}
