// CR Colours

/* Primary */
$colour-red: #E52630;
$colour-deep-violet: #2C0230;
$colour-white: #FFFFFF;

/* Secondary */
$colour-grey: #131113;
$colour-coral: #F9686D;
$colour-orange: #FF9144;
$colour-yellow: #FFE400;
$colour-green: #4ECD57;
$colour-blue: #6489FC;
$colour-magenta: #FC59CE;
$colour-purple: #C180F9;
$colour-teal: #22CFD8;

/* Secondary light */
$colour-light-grey: #F4F2F4;
$colour-light-coral: #FFCECE;
$colour-light-orange: #FEE3CC;
$colour-light-yellow: #FEFD5A;
$colour-light-green: #62EF74;
$colour-light-blue: #8BACFE;
$colour-light-magenta: #FEB4DC;
$colour-light-purple: #DFC6F6;
$colour-light-teal: #86E4E9;

/* Secondary dark */
$colour-dark-grey: #4B324E;
$colour-dark-coral: #961D35;
$colour-dark-orange: #984316;
$colour-dark-yellow: #665700;
$colour-dark-green: #1B651D;
$colour-dark-blue: #274084;
$colour-dark-magenta: #821C5D;
$colour-dark-purple: #48276E;
$colour-dark-teal: #13767C;

// Overiding base variable 
$colour-black: $colour-deep-violet;

// Membership colour

$colour-donate-blue: #4032fe;
$colour-donate-grey: #dadada