// CR buttons variations, w/ default hover state colours
@mixin cr_button_types($colour, $bg-colour, $hover-colour: $colour-red, $hover-text-colour: $colour-white) {
  color: $colour;
  background-color: $bg-colour;
  &:hover,
  &:focus,
  &:active {
    background-color: $hover-colour;
    color: $hover-text-colour;
  }
}

// CR links variation
@mixin link($border, $hover) {
  // Set this to 'black' by default; will be overriding to white when used in certain contexts
  color: $colour-deep-violet;
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border-bottom: 4px solid $border;
  font-family: $montserrat;
  font-size: 18px;
  line-height: 28px;
  transition-property: border, color;
  transition-duration: 180ms;
  &:hover,
  &:active,
  &:focus {
    border-bottom: 4px solid $hover;
    color: $hover;
  }
  &.inline {
    font-size: inherit;
    line-height: 14px;
    border-bottom: 4px solid rgba($border, 0.5);
    &:hover {
      border-bottom: 4px solid rgba($hover, 0.5);
    }
  }
  &.link--small {
    font-size: 16px;
    line-height: 26px;
  }
}
