// Fonts
$body-font: "Montserrat", sans-serif;
$montserrat: "Montserrat", sans-serif;
$anton: "Anton", sans-serif;

// breakpoint: (font-size, line-height)

// 'Title' H1 variation
$h1-title-font-size: (
  null: (100px, 104px),
  $screen-md: (100px, 104px),
  $screen-lg: (100px, 104px)
);
$h1-font-size: (
  null: (64px, 72px),
  $screen-md: (64px, 72px),
  $screen-lg: (64px, 72px)
);
$h2-font-size: (
  null: (42px, 48px),
  $screen-md: (42px, 48px),
  $screen-lg: (42px, 48px)
);
$h3-font-size: (
  null: (26px, 32px),
  $screen-md: (26px, 32px),
  $screen-lg: (26px, 32px)
);

/* More backwards compatibility */
$h1-large-font-size: $h1-title-font-size;

/* New stuff */
$subtitle-font-size: (
  null: (27px, 40px),
  $screen-md: (36px, 48px),
  $screen-lg: (36px, 48px)
);

$label-font-size: (
  null: (11px, 16px),
  $screen-md: (15px, 24px),
  $screen-lg: (15px, 24px)
);

$body-font-size: (
  null: (15px, 24px),
  $screen-md: (20px, 32px),
  $screen-lg: (20px, 32px)
);

/* As per Body for backwards compatibility */
$p-font-size: (
  null: (15px, 24px),
  $screen-md: (20px, 32px),
  $screen-lg: (20px, 32px)
);

$footnote-font-size: (
  null: (11px, 16px),
  $screen-md: (11px, 16px),
  $screen-lg: (11px, 16px)
);

$subtitle-small-font-size: (
  null: (27px, 40px),
  $screen-md: (27px, 40px),
  $screen-lg: (27px, 40px)
);

/* $label-small-font-size: (
  null: (11px, 16px),
  $screen-md: (11px, 16px),
  $screen-lg: (11px, 16px)
); */

/* $body-small-font-size: (
  null: (15px, 24px),
  $screen-md: (15px, 24px),
  $screen-lg: (15px, 24px)
); */
