.promo-header {
  @include breakpoint($screen-md-max) {
    min-height: 500px;
  }
}
.promo-header__content {
  p {
    .promo-header--feature & {
      color: $colour-dark-blue-lighter;
    }
  }
}


// As we can't maintain the ratio, at least set a height on browsers that can't display objectfit our promo feature image
.promo-header__bg-image.compat-object-fit {
  min-height: 300px;

  @include breakpoint($screen-md){
    min-height: 400px;
  }

  @include breakpoint($screen-lg){
    min-height: 500px;
  }
}
