.form__row--just-in-time-block {
  font-family:$montserrat;
  font-weight: 800;
  .toggle-link {
    font-family:$montserrat;
    font-weight: 800;
  }
  .just-in-time--content {
    strong {
      font-weight: inherit;
      font-family: inherit;
      text-decoration: underline;
    }
  }
}
