.search-block {
  // offset from navigation
  position: fixed;
  padding-top: $sm-nav-height;
  @include gradient-background($colour-purple, $colour-ruby);
  @include breakpoint($screen-md) {
    padding-top: $md-nav-height;
  }
  @include breakpoint($desktop-nav-breakpoint) {
    padding-top: $lg-nav-height;
  }

  .search-block__form {
    //gives height to the block
    form {
      margin: 100px auto 50px;
      border-bottom: $colour-white-smoke 1px solid ;
    }
  }
  .form-item {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 5px;
  }
  input[type=text] {
    height: 50px;
    padding: 0;
    font-family: $font-bold--sr18;
    @include font-size($p-large-font-size);
    color: $colour-white;
    background-color: transparent;
    @include breakpoint($screen-md) {
      @include font-size($p-xxlarge-font-size);
    }
  }
  .form-actions {
    margin: 0;
    float: right;
  }
  input[type=submit] {
    height: 50px;
    background-color: $colour-white;
    // mask size is the same as font size
    mask: url($image-path + "magnify-icon.svg") no-repeat right center;
    mask-size: 23px;
    -webkit-mask: url($image-path + "magnify-icon.svg") no-repeat right center;
    -webkit-mask-size: 23px;
    @include breakpoint($screen-md){
      mask-size: 36px;
      -webkit-mask-size: 36px;
    }
    &:hover {
      background-color: darken($colour-white, 10%);
    }
    .no-cssmask & {
      background: transparent url($image-path + "search_page_icon.png") center right no-repeat;
      background-size: 23px;
      @include breakpoint($screen-md) {
        background-size: 36px;
      }
      &:focus,
      &:hover {
        background-image: url($image-path + "search_page_icon_hover.png");
        background-color: transparent;
      }
    }
    
  }
  a.close-button {
    // offset from navigation
    padding-top: $sm-nav-height;
    @include breakpoint($screen-md) {
      padding-top: $md-nav-height;
    }
    @include breakpoint($desktop-nav-breakpoint) {
      padding-top: $lg-nav-height;
    }
    .icon {
      fill: $colour-white;
    }
    &:hover {
      .icon {
        fill: $colour-white-smoke;
      }
    }
  }
}
