// Search block
//
// Markup: search.twig
//
// Style guide: 20.195

.search-block {
  position: absolute;
  top: calc(#{$sm-nav-height} + 20px);
  right: calc(92px + 65px);
  left: initial;
  padding: 20px;
  width: 380px;
  background-color: $colour-dark-blue;
  @include breakpoint($screen-md) {
    top: calc(#{$md-nav-height} + 20px);
  }
  @include breakpoint($desktop-nav-breakpoint) {
    top: calc(#{$lg-nav-height} + 20px);   
  }
  @include breakpoint($desktop-nav-breakpoint) {
    right: calc(92px + 5px); 
  }
  
  .search-block__message {
    margin: 0;
    width: 100%;
    p {
      margin: 0 auto 20px;
      width: 60%;
      font-family: $font-bold--sr18;
      color: $colour-white;
      word-wrap: break-word;
      @include font-size($h3-font-size);
    }
  }

  .search-block__form {
    margin: 0;
    padding: 0;
    width: 100%;
    form {
      margin: 0;
      border: none ;
    }
  }
  .form-item {
    margin: 0;
    padding: 0 10px;
    width: calc(100% - 50px);
    background-color: $colour-white;
    @include breakpoint($screen-md) {
      width: 290px;
    }
  }
  
  input[type=text] {
    padding: 0;
    height: 50px;
    font-family: $font-bold--sr18;
    @include font-size($h3-font-size);
    color: $colour-dark-blue;
  }
  .form-actions {
    margin: 0;
    height: 50px;
    width: 50px;
    background-color: $colour-ruby;
  }
  input[type=submit] {
    width: 25px;
    height: 50px;
    background-color: $colour-white;
    mask-size: 23px;
    -webkit-mask-size: 23px;
    @include breakpoint($screen-md) {
      mask-size: 25px;
      -webkit-mask-size: 25px;
    }
    &:hover {
      background-color: darken($colour-white, 10%);
    }    
  }
}
