<div class="views-exposed-form contextual-region block search-block show" data-drupal-selector="views-exposed-form-search-page-1" id="block-exposedformsearchpage-1">
  <div class="search-block__wrapper">
    <div class="search-block__message">
      <p>So, what are you looking for?</p>
    </div>
    <div class="search-block__form">
      <form action="/web/search" method="get" id="views-exposed-form-search-page-1" accept-charset="UTF-8" data-drupal-form-fields="edit-text">
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-text form-item-text">
          <label for="edit-text">Search</label>
          <input data-drupal-selector="edit-text" type="text" id="edit-text" name="text" value="" size="30" maxlength="128" class="form-text">
        </div>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-search" type="submit" id="edit-submit-search" value="Apply" class="button js-form-submit form-submit"></div>
      </form>
    </div>
  </div>
  <a role="button" class="close-button" href="#" aria-label="close search form">
    <svg class="icon" focusable="false" tabindex="-1">
      <use xlink:href="#close-cross"></use>
    </svg>
  </a>
</div>
