<section class="paragraph--copy-video {{modifier_class}}">
    <div class="copy-video__video-wrapper">
        <iframe src="https://www.youtube.com/embed/epDTcPgIKgU" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="bg--teal copy-video__text-wrapper">
        <h1>Copy-Video Component: 16:9</h1>
    </div>
</section>


<section class="paragraph--copy-video paragraph--copy-video--portrait {{modifier_class}}">
    <div class="copy-video__video-wrapper">
        <iframe src="https://www.youtube.com/embed/rwlAhFaLzXg" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="bg--coral copy-video__text-wrapper">
        <h1>Copy-Video Component: portrait</h1>
    </div>
</section>

<section class="paragraph--copy-video paragraph--copy-video--portrait-two {{modifier_class}}">
    <div class="copy-video__video-wrapper">
        <iframe src="https://www.youtube.com/embed/rwlAhFaLzXg" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="bg--yellow copy-video__text-wrapper">
        <h1>Copy-Video Component: portrait</h1>
    </div>
</section>
