<section class="paragraph--copy-video {{modifier_class}}">
    <div class="copy-video__video-wrapper">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/epDTcPgIKgU" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {# <img src="kss-assets/images/16-9-img.jpg" /> #}
    </div>
    <div class="bg--teal copy-video__text-wrapper">
        <h1>Copy-Video Component</h1>
    </div>
</section>
