<section class="paragraph--copy-video">
  <div class="copy-video__video-wrapper">

    <iframe class="copy-video__video" src="https://www.youtube.com/embed/epDTcPgIKgU?enablejsapi=1" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <button class="copy-video__button">PLAY</button>
  </div>
  <div class="bg--teal copy-video__text-wrapper">
    <h1>Copy-Video Component: 16:9</h1>
  </div>
</section>

<p>&nbsp;</p>




<section class="paragraph--copy-video paragraph--copy-video--portrait-50 ">
  <div class="copy-video__video-wrapper">

    <iframe class="copy-video__video" src="https://www.youtube.com/embed/rwlAhFaLzXg?enablejsapi=1" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <button class="copy-video__button">PLAY</button>

  </div>

  <div class="bg--coral copy-video__text-wrapper">
    <h1>Copy-Video Component: portrait 50vh</h1>
  </div>
</section>

<p>&nbsp;</p>

<section class="paragraph--copy-video paragraph--copy-video--portrait-100 ">
  <div class="copy-video__video-wrapper">

       <iframe class="copy-video__video" src="https://www.youtube.com/embed/rwlAhFaLzXg?enablejsapi=1" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <button class="copy-video__button">PLAY</button>



  </div>
  <div class="bg--yellow copy-video__text-wrapper">
    <h1>Copy-Video Component: portrait 100vh</h1>
  </div>
</section>

<p>&nbsp;</p>




