<section class="paragraph--copy-video {{modifier_class}}">
  <div class="copy-video__video-wrapper">

    <iframe src="https://www.youtube.com/embed/epDTcPgIKgU" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <input class="copy-video__thumbnail" type="checkbox" id="checkbx-1" name="group-checkbox1" value="2" />
    <img src="https://img.talkandroid.com/uploads/2016/06/youtube_play_button_big.jpg" width="100%" height="100%"/>


  </div>
  <div class="bg--teal copy-video__text-wrapper">
    <h1>Copy-Video Component: 16:9</h1>
  </div>
</section>

<p>&nbsp;</p>




<section class="paragraph--copy-video paragraph--copy-video--portrait-50 {{modifier_class}}">
  <div class="copy-video__video-wrapper">

    <iframe src="https://www.youtube.com/embed/rwlAhFaLzXg" frameborder="0" modestbranding="1" showtitle="0"
        showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>

      <input class="copy-video__thumbnail" type="checkbox" id="checkbx-2" name="group-checkbox2" value="2" />
      <img src="https://img.talkandroid.com/uploads/2016/06/youtube_play_button_big.jpg" width="100%" height="100%"/>

  </div>

  <div class="bg--coral copy-video__text-wrapper">
    <h1>Copy-Video Component: portrait 50vh</h1>
  </div>
</section>

<p>&nbsp;</p>

<section class="paragraph--copy-video paragraph--copy-video--portrait-100 {{modifier_class}}">
  <div class="copy-video__video-wrapper">

    <iframe src="https://www.youtube.com/embed/rwlAhFaLzXg" frameborder="0" modestbranding="1" showtitle="0"
      showinfo="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    
      <input class="copy-video__thumbnail"  id="checkbx-3" name="group-checkbox3" value="2" />
      <img src="https://img.talkandroid.com/uploads/2016/06/youtube_play_button_big.jpg" width="100%" height="100%"/>


  </div>
  <div class="bg--yellow copy-video__text-wrapper">
    <h1>Copy-Video Component: portrait 100vh</h1>
  </div>
</section>

<p>&nbsp;</p>




