<section class="paragraph--background-video-copy {{modifier_class}} bg--dark-teal">
  <div class="bgvc__video-wrapper objectfit">

    <video muted="true" preload="none" poster="https://upload.wikimedia.org/wikipedia/commons/5/57/Cumulus_Clouds_over_Yellow_Prairie2.jpg">
      <source src="videos/SR18-promo.mp4" type="video/mp4">
    </video>

  </div>
  <div class="bgvc__text-wrapper">
    <div class="bgvc__text cr-body">
      <h1 style="text-align: center;">
        Background Video - Copy component
      </h1>
    </div> 
  </div>
</section>
