// ==========================================================================
// Form
// ==========================================================================

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  height: 60px;
  background-color: $colour-v-light-grey;
   @include border-radius(2px); 
}

input[type="checkbox"] + span {
  background-color: $colour-v-light-grey;
	@include border-radius(2px);
}

select {
	height: 60px;
  @include border-radius(2px);
}

// ==========================================================================
// Form Layout
// ==========================================================================

form {
  width: auto;
  margin: 30px calc(2*#{gutter()});
  padding: 30px;
  background-color: $colour-white;
  word-wrap: break-word;

  @include breakpoint($screen-md) {
    width: 100%;
    max-width: 640px;
    margin: 60px auto;
    padding: 60px;
    
    button {
      width: 100%;
    }
  }
}

.form__group {
  @include breakpoint($screen-md) {
  }
}

.form__group--grey {  
  background-color: $smoke-grey;
}

.form__group--fullwidth {
  padding: 0px;
  width: 100%;
}

.form__step {
  @include container;
}

.form__fieldset,
.form__fieldset--divider { 
  @include span(12);

  @include breakpoint($screen-md) {
    @include span(12); 
  }
}

.form__field {
  @include span(12);
  margin: 15px 0px;

  @include breakpoint($screen-md) {
    //@include span(6);
    //margin-bottom: 3%;
  }
}

.page-title {
  text-align: center;
  border-bottom: 1px solid $item-grey;

  .intro-copy {
    @include font-size($h2-font-size);
  }
}

// ==========================================================================
// Form Validation
// ==========================================================================
.validation__wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}

.validation__text {
  margin: 5px 0 0;
  padding: 0;
  .fa {
    margin-right: 5px;
  }
}

.validation__warning {
  color: #f98026;
}

.validation__error {
  color: #f04257;
}

.validation__success {
  color: #458B00;
}

.validation__error > a {
  cursor: pointer;
  text-decoration: underline;
  color: #F0544A;
}

.validation__error > a:hover {
  color: #F06B65;
}