//Email sign up 
//
// Style guide: 120

// Email sign up header
//
// Markup: email-signup-header.twig
//
// Style guide: 120.1


//hide esu form initially
.block--cr-email-signup.block--cr-email-signup--head,
.block--cr-email-signup.block--cr-email-signup--head.block--cr-email-signup--error {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.5);

  @include breakpoint($screen-lg) {
    left: 0;
    right: 0;
  }

  .block--cr-email-signup__inner-wrapper {
    position: relative;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    padding: 35px;
    background-color: $colour-black;
    @include breakpoint($screen-md) {
      top: 78px;
      left: 25%;
      padding: 55px;
      width: 50%;
    }
    @include breakpoint($desktop-nav-breakpoint) {
      top: 103px;
    }

    a.close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;

      .icon {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        fill: $colour-white;
      }

      &:hover,
      &:focus {
        .icon {
          fill: $colour-jasper-grey;
        }
      }
    }
  }

  &.block--cr-email-signup--error.block--cr-email-signup {
    .esu-errors.messages.messages--error {
      position: relative;
      margin-top: 20px;
      padding: 0 0 0 40px;
      max-width: 100%;
      background: $colour-black url(/profiles/contrib/cr/themes/custom/campaign_base/images/patternlab/error-red-cross.svg) -10px center no-repeat;
      text-align: left;
    }
  }
}

.ui-selectmenu-menu {
  z-index: 102;
}

.block--cr-email-signup--head.cr-header-email-signup-form {
  &.visible {
    display: block;
  }
  .cr-email-signup--messages {
    width: auto;
    height: 100%;
    margin: 0;

    @include breakpoint($screen-md) {
      max-width: initial;
    }
  }

  form {
    .form-item-email {
      float: none;
      margin: 0;
      width: 100%;

      label {
        @include visuallyhidden;
      }
      input {
        margin: 30px 0;
        padding: 15px;

        @include breakpoint($screen-md) {
          max-width: initial;
        }
      }
    }
    .form-item-school-phase {
      margin: 0 auto;
      width: 300px;
      label {
        top: -20px;
        right: 15px;
        clip: auto;
        width: auto;
        height: auto;
        height: auto;
        color: white;
        font-size: 14px;
      }
      select {
        width: 240px;
      }
    }
  }

  .js-form-type-select {
    margin: 0;
    input,
    .ui-selectmenu-button {
      float: left;
      max-width: 310px;
      padding-left: 22px;
      border-radius: 36px 0 0 36px;
    }
  }
  .js-form-type-select {
    margin-top: 25px;
  }

  input[type=submit].button {
    @extend .btn;
    margin-bottom: 30px;
  }

  .form-item-school-phase + input[type=submit].button {
    width: 60px;
    margin: 0;
    text-indent: -9999px;
    background: $colour-gainsboro-grey url( $image-path + "arrow-right.svg") -4px center no-repeat;
    @include breakpoint($screen-md) {
      width: 100%;
    }
    &.step2 {
      margin-top: 25px;
    }

    &:focus {
      border: 3px solid $colour-red;
    }
  }
  .esu-title-message,
  .esu-initial-message,
  .esu-privacy-message,
  .esu-first-success-message,
  .esu-second-success-message {
    p {
      margin-bottom: 10px;
      text-align: left;
      color: $colour-white;
    }
  }
  .esu-title-message p {
      @extend h2;
  }
  .esu-second-success-message {
    @include span(8);
    @include push(2);
  }
}
