<form>
<div>
 <select>
   <option value selected="selected">- Please select -</option>
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
 </select><br>
</div>
<div>
	<input type="checkbox" class="original-check-field">
	<label for="checkbox" class="check-tick-label">
		<span id="checkbox" class="check-field"></span>
			<p>This is a checkbox</p>
	</label>
</div>
<div>
	<input type="radio" class="original-check-field">
	<label for="partner" id="labelForpartner" class="check-tick-label">
		<span class="check-field" aria-hidden="true"></span>
		<p>
			<span>
				<span>This is a radio button</span>
			</span>
		</p>
	</label>
</div>
<div>
	<textarea>This is text area</textarea>
</div>
<div>
	<input type="submit">
</div>
</form>
