<form>
<div>
 <select>
   <option value selected="selected">- Please select -</option>
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
 </select><br>
</div>
<div>
	<label for="checkbox">
		<input type="checkbox">
		<span></span>
		<span>This is a checkbox</span>
	</label>
</div>
<div>
	<label for="radio">
		<input type="radio">
		<span></span>
		<span>This is a radio button</span>
	</label>
</div>
<div>
	<textarea>This is text area</textarea>
</div>
<div>
	<input type="submit">
</div>
</form>
