.partners {
  background: $colour-smoke-grey;
  border-top: 1px solid $colour-mercury-grey;
  color: $colour-dark-purple;
}

.hyperlink {
  color: $colour-dark-purple;
}

.donate__partners {
  @include container
  padding: 30px 0;
  font-family: $body-font;

  .donate__partners-fr {
    @include span(3);
  }

  .donate__partners-digicert {
    @include span(1);
  }

  .donate__partners-copy {
    @include span(7);
    color: $colour-dark-purple;
    clear: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
