// Cookie consent
//
// Markup: cookie-consent.twig
//
// Style guide: 20.115

.cookie-consent.cc_container {
  display: flex;
  position: relative;
  padding: 10px;
  text-align: center;
  background: $colour-black;
  justify-content: space-between;
  @include breakpoint($screen-lg) {
    padding: 15px 20px 15px;
  }
  .btn,
  p,
  a { 
    color: $colour-white;
    font-family: $body-font;
  }
  p {
    margin-top: 15px;
  }
  .cc_message {
    margin: 0 auto;
    width: calc(100% - 50px);
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    @include breakpoint($screen-md) {
      width: auto;
      margin-top: 15px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .btn {
    margin: 0;
    padding: 12px 20px;
    width: 40px;
    height: 44px;
    text-indent: -9999px;
    background-image: url( $image-path + "cross-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    // no hover because touchscreen and lack of svg mask support, but override default hover colours on buttons 
    &:hover {
      background-color: transparent;
    }
    
    @include breakpoint($screen-lg) {
      width: auto;
      text-indent: 0;
      color: $colour-black;
      background-image: none;
      background-color: $colour-white;
      border: 2px solid $colour-white;
      &:hover {
        color: $colour-white;
        background-color: transparent;
      }
    }
  }
}
