
@font-face {font-family: 'Founders-Grotesk-X-Condensed-Bold';
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/344C3C_0_0.eot');
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/344C3C_0_0.woff2') format('woff2'),
url('https://d1hcgerbie49io.cloudfront.net/webfonts/344C3C_0_0.woff') format('woff');}
 
  
@font-face {font-family: 'Founders-Grotesk-Bold';
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_1_0.eot');
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_1_0.woff2') format('woff2'),
url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_1_0.woff') format('woff');}
 
  
@font-face {font-family: 'Founders-Grotesk-Light';
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_2_0.eot');
src: url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_2_0.woff2') format('woff2'),
url('https://d1hcgerbie49io.cloudfront.net/webfonts/34011A_2_0.woff') format('woff');}
