// Typography
//
// Markup: typography.twig
//
// Style guide: 10.1

// TO DO: add colours

i.font--family-black {
  font-family: $font-founders-bold;
}
.font--family-black {
  font-family: $font-founders-bold;
}
i.font--family-bold {
  font-family: $font-founders-semibold;
}
.font--family-bold {
  font-family: $font-founders-semibold;
}
i.font--family-regular {
  font-family: $font-founders-regular;
}
.font--family-regular {
  font-family: $font-founders-regular;
}
strong {
  font-family: $font-founders-semibold;
  font-weight: normal;
}
