h1 {
  font-family: $font-black--sr18;
  font-weight: 900;

  text-transform: uppercase;
  &.font--large{
     @include font-size($h1-large-font-size);
  }
}

h2,
h3,
h4,
h5 {
  font-family: $font-bold--sr18;
  font-weight: 700;
  color: $colour-dark-blue;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 900;
}
h3.alternate {
  @extend h2;
}

// Bespoke for SR18 OTN
h1.alternate {
  @extend h3;
  text-transform: none;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: inherit;
  
  @include breakpoint($screen-md) {
    font-size: 52px;
    line-height: 55px;
  }

  @include breakpoint($screen-lg) {
    font-size: 66px;
    line-height: 66px;
  } 
}

h5 {
  @include font-size($h5-font-size);
}

i.font--family-black {
  font-family: $font-black--sr18;
  font-weight: 900;
}
.font--family-black {
  font-family: $font-black--sr18;
  font-weight: 900;
}
i.font--family-bold {
  font-family: $font-bold--sr18;
  font-weight: 700;
}
.font--family-bold {
  font-family: $font-bold--sr18;
  font-weight: 700;
}
i.font--family-regular {
  font-family: $font-regular--sr18;
  font-weight: 500;
}
.font--family-regular {
  font-family: $font-regular--sr18;
  font-weight: 500;

}
strong {
  font-family: $font-bold--sr18;
  font-weight: 900;
  color: $colour-dark-blue-lighter;
}

p {
  color: $colour-dark-blue-lighter;
  &.font--xxlarge {
    margin-bottom: 20px;
    @include font-size($p-xxlarge-font-size);
  }
  &.font--xxsmall {
    @include font-size($p-xxsmall-font-size);
  }
}
span,
ul,
ol {
  color: $colour-dark-blue-lighter;
}

// colour classes
h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
ul,
ol,
li {
  &.font {
    &--black {
      color: $colour-black;
    }
    &--dark-blue {
      color: $colour-dark-blue;
    }
    &--dark-blue-lighter {
      color: $colour-dark-blue-lighter;
    }
    &--ruby {
      color: $colour-ruby;
    }
    &--white-smoke {
      color: $colour-white-smoke;
    }
    &--white {
      color: $colour-white;
    }
    &--SR19-white {
      color: $colour-SR19-white;
    }
    &--SR19-black {
      color: $colour-SR19-black;
    }
    &--SR19-light-blue {
      color: $colour-SR19-light-blue;
    }
    &--SR19-dark-blue {
      color: $colour-SR19-dark-blue;
    }
    &--SR19-coral {
      color: $colour-SR19-coral;
    }
    &--SR19-red {
      color: $colour-SR19-red;
    }
  }
}
