<p>The SR18 font is Founders Grotesk. This is used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h2>Fonts</h2>
<p>The SR18 font is Founders Grotesk. This is used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h3 class="font--family-black">Black</h3>
<p>Founders Grotesk X Condensed Bold <b>.font--family-black</b></p>
<h3 class="font--family-bold">Bold</h3>
<p>Founders Grotesk Semibold <b>.font--family-bold</b></p>
<h3 class="font--family-regular">Regular</h3>
<p>Founders Grotesk Regular <b>.font--family-regular</b></p>
<br>
<br>
<br>
<h2>Type Sizes</h2>
<p>All type sizes and line heights come from a typographic scale, which has a base copy size of 20px.</p>
<br>
<br>
<h3>Headings</h3>
<p>There are a range of heading sizes from H1 to H5, using the typographic scale.</p>
<h1 class="font--large">This is fun, right?</h1>
<p><b>h1.font--large:</b> Used mainly for headers on landing pages</p>
<h1>This is fun, right?</h1>
<p><b>h1:</b> Used in secondary page headers</p>
<h2>This is fun, right?</h2>
<p><b>h2:</b> Used within pages, normally as row headings</p>
<h3 class="alternate">This is fun, right?</h3>
<p><b>h3.alternate:</b> Same styling as h2</p>
<h3>This is fun, right?</h3>
<p><b>h3:</b> Used within pages</p>
<h4>This is fun, right?</h4>
<p><b>h4:</b> Used within pages</p>
<h5>This is fun, right?</h5>
<p><b>h5:</b> Used within pages</p>
<br/>
<br/>
<h3>Paragraphs</h3>
<p class="font--xxlarge">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xxlarge font size <b>.font--xxlarge</b> </p>
<p class="font--xlarge">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xlarge font size <b>.font--xlarge</b></p>
<p class="font--large">There are a range of paragraph sizes, using the typographic scale.</p>
<p>large font size <b>.font--large</b></p>
<p class="font--small">There are a range of paragraph sizes, using the typographic scale.</p>
<p>small font size <b>.font--small</b></p>
<p class="font--xsmall">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xsmal font size <b>.font--xsmall</b></p>
<p class="font--xxsmall">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xxsmall font size <b>.font--xxsmall</b></p>
<br>
<br>
<p class="font--black">Black font <b>.font--black</b> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--dark-blue">Dark blue font <b>.font--dark-blue</b> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--dark-blue-lighter">Dark blue lighter font <b>.font--dark-blue-lighter</b> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--ruby">Ruby font <b>.font--ruby</b> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--white-smoke bg--black" style="padding: 5px;">White smoke font <b>.font--white-smoke</b> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--white bg--black" style="padding: 5px;">White font <b>.font--white</b> There are a range of paragraph sizes, using the typographic scale.</p>
