<p>The SR18 font is Founders Grotesk. This is used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h2>Fonts</h2>
<p>The SR18 font is Founders Grotesk. This is used for headings and body copy in a number of weights (Black, Bold and Regular).</p>
<h3 class="font--family-black">Black</h3>
<p>Founders Grotesk X Condensed Bold <b>.font--family-black</b></p>
<h3 class="font--family-bold">Bold</h3>
<p>Founders Grotesk Semibold<b>.font--family-bold</b></p>
<h3 class="font--family-regular">Regular</h3>
<p>Founders Grotesk Regular<b>.font--family-regular</b></p>
<br>
<br>
<br>
<h2>Type Sizes</h2>
<p>All type sizes and line heights come from a typographic scale, which has a base copy size of 20px.</p>
<br>
<br>
<h3>Headings</h3>
<p>There are a range of heading sizes from H1 to H5, using the typographic scale.</p>
<h1 class="font--large">This is fun, right?</h1>
<p>h1 <i>.font--large</i>: Used mainly for headers on landing pages</p>
<h1 >This is fun, right?</h1>
<p>h1: Used in secondary page headers</p>
<h2>This is fun, right?</h2>
<p>h2: Used within pages, normally as row headings</p>
<h3>This is fun, right?</h3>
<p>h3: Used within pages, normally as row headings</p>
<h4>This is fun, right?</h4>
<p>h4: Used within pages, normally as row headings</p>
<h5>This is fun, right?</h5>
<p>h5: Used within pages, normally as row headings</p>
<br/>
<br/>
<h3>Paragraphs</h3>
<p class="font--xxlarge">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xxlarge font size <i>.font--xxlarge</i> </p>
<p class="font--xlarge">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xlarge font size <i>.font--xlarge</i></p>
<p class="font--large">There are a range of paragraph sizes, using the typographic scale.</p>
<p>large font size <i>.font--large</i></p>
<p class="font--small">There are a range of paragraph sizes, using the typographic scale.</p>
<p>small font size <i>.font--small</i></p>
<p class="font--xsmall">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xsmal font size <i>.font--xsmall</i></p>
<p class="font--xxsmall">There are a range of paragraph sizes, using the typographic scale.</p>
<p>xxsmall font size <i>.font--xxsmall</i></p>
<br>
<br>
<p class="font--red">Red font <i>.font--red</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--purple">Purple font <i>.font--purple</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--royal-blue">Royal Blue font <i>.font--royal-blue</i> There are a range of paragraph sizes, using the typographic scale.</p>
<p class="font--white bg--black" style="padding: 5px;">White font <i>.font--white</i> There are a range of paragraph sizes, using the typographic scale.</p>
