<section class="paragraph--membership-widget {{modifier_class}} bg--purple">
    <picture>
        <source media="all and (min-width: 1024px)" srcset="kss-assets/images/16-9-img.jpg" type="image/jpeg"/>
        <source media="all and (min-width: 740px)" srcset="kss-assets/images/16-9-img.jpg" type="image/jpeg"/>
        <source media="(min-width: 0px)" srcset="kss-assets/images/4-3-img.jpg" type="image/jpeg"/>
        <img alt="boring" src="kss-assets/images/16-9-img.jpg" typeof="foaf:Image"/>
    </picture>
    <div class="fhsi__text-wrapper  {{modifier_class}} text-align-center">
        <h1>Full Height Single Image - 4:3 img on mobile</h1>
        <p>
            <a class="btn btn--white" href="https://www.comicrelief.com/#newsletter" title="find out more about Spectacular">Button</a>
        </p>
    </div>
</section>