
// Colours
// 
// Markup: colour.twig
//
// Style guide: 10.5

/* 
 * Colours
 */

// Colours

// Brand colors

$colour-red: #f04257 !default;
$colour-blue: #22d2dc !default;
$colour-yellow: #fbef51 !default;
$colour-green: #b2e55e !default;
$colour-teal: #00beca !default;
$colour-royal-blue: #0565d1 !default;
$colour-purple: #7d2ca9 !default;
$colour-dark-purple: #7023b7 !default;
$colour-pink: #fc9eb9 !default;

$colour-black: #030e1a !default;
$colour-dark-blue: #061d38 !default;
$colour-dark-grey: #333 !default;
$colour-jasper-grey: #666 !default;
$colour-greyboy-grey: #999 !default;
$colour-gainsboro-grey: #c7c7c7 !default;
$colour-light-grey: #dddddd !default;
$colour-smoke-grey: #f0f0f0 !default;
$colour-white: #fff !default;

/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED !default;
$item-grey: #ddd !default;
