
// Colours
// 
// Markup: colour.twig
//
// Style guide: 10.5

/* 
 * Colours
 */

// Colours

// Brand colors

$colour-red: #dc2a2a;
$colour-blue: #45bfd4;
$colour-yellow: yellow;
$colour-green: #27bf90;
$colour-teal: teal;
$colour-royal-blue: #0565d1;
$colour-purple: #b4549e;
$colour-dark-purple: #7023b7;
$colour-pink: #fc9eb9;

$colour-black: #000;
$colour-dark-blue: #061d38;
// $colour-dark-grey: #333;
$colour-jasper-grey: #606060;
// $colour-greyboy-grey: #999;
$colour-gainsboro-grey: #ccc;
$colour-light-grey: #f3f3f5;
$colour-smoke-grey: #f0f0f2;
$colour-white: #fff;

/* Single message row background colour, used in June site, to be renamed and updated */
$cream-grey: #F5F2ED;
$item-grey: #ddd;
