<h4>Default link</h4>
<p>
  <a class="link" href="#">
    Default Link
  </a>
</p>
<p>
  This is an example of an <a class="link inline">default inline link</a>, this will be the same for all coloured links.
</p>
<h4>Links in other colours:</h4>
<p>
  <a class="link link--blue" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--blue  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--purple" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--purple  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--light-blue" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--light-blue  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--yellow" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--yellow  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--orange" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--orange  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--pink" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--pink  inline">inline link</a>, this will be the same for all coloured links.
</p>
<p>
  <a class="link link--green" href="#">
    Link
  </a>
</p>
<p>
  This is an example of an <a class="link link--green  inline">inline link</a>, this will be the same for all coloured links.
</p>
