.paragraph--membership-signup {
    width: 100%;
    min-height: 100vh;

    img {
        position: absolute;
        bottom: 0;
    }

    @include breakpoint($screen-lg) {
        img {
            height: 100%;
        }
    }

    // Copy : title and form
    .membership-signup {
        &__wrapper-copy {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 60%;
            position: relative;
            width: calc(100% - (30 / 320) * 100%);

            &--title {
                padding-top: 32px;

                h1 {
                    margin-bottom: 10px;
                }

                p {
                    padding: 0 30px;
                }
            }

            &--form {

                width: 100%;
                background: $colour-white;
                padding: 0 20px;
                margin-top: 30px;

                p {
                    padding: 20px 0px;
                    margin: 0;
                    font-weight: bold;
                }

                // Select amount box
                .money-buy {

                    display: flex;
                    justify-content: space-between;

                    .select-amount-btn {
                        width: calc((100% - (20 / 220) * 100%) / 3);
                        height: 62px;
                        border: 1px solid $colour-grey;
                        position: relative;
                        padding: 0;
                        margin: 0;
                        border-radius: 0;

                        span {
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            left: 50%;
                            font-size: 20px;
                            font-weight: 800;
                        }

                        &--2,
                        &--3 {
                            margin-left: calc((14 / 250) * 100%);
                        }
                    }
                }

                .form__fieldset {
                    display: flex;
                    margin: 35px 0 40px;
                    position: relative;


                    label {
                        padding: 0;
                        top: 10px;
                        letter-spacing: -0.2px;
                        line-height: 2.18;
                        font-weight: 500;
                        text-align: left;
                        position: absolute;
                        bottom: 42px;
                        text-transform: initial;
                    }

                    input,
                    select {
                        border: 2px solid $colour-grey;
                    }

                    .form__field--wrapper {
                        position: relative;
                        margin: 0;

                        .currency-input-label {
                            position: absolute;
                            padding: 13px 12px;
                            font-size: 20px;
                            columns: $colour-grey;
                        }

                        input {
                            padding-left: 30px;
                            font-size: 20px;
                        }
                    }

                    select {
                        background: $colour-grey;
                    }
                }

                .donation-copy {
                    p {
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 17px;
                    }
                }
            }

            // Medium screen
            @include breakpoint($screen-md) {
                width: calc(100% - (348 / 768) * 100%);

                &--title {
                    padding-top: 45px;

                    p {
                        padding: 0 calc((40 / 740) * 100%);
                    }
                }

                &--form {
                    padding: 0 40px;

                    .form__fieldset {
                        label {
                            position: relative;
                            bottom: 0;
                            flex: 2;
                        }

                        .form__field--wrapper {
                            flex: 3;
                        }
                    }
                }
            }

            // Large screen
            @include breakpoint($screen-lg) {
                margin: 30px 100px 30px;
                float: right;
                width: 420px;

                &--title {
                    padding: 0;
                }

                &--form {
                    select {
                        padding: 0 30px;
                    }

                    .form__fieldset {
                        .form__field--wrapper {
                            flex: 2;
                        }
                    }

                }
            }
        }

    }

    // Copy signup - form align left
    &--copy-left {
        @include breakpoint($screen-lg) {
            .membership-signup__wrapper-copy {
                float: left;
            }
        }
    }
}
