<section class="paragraph--membership-signup {{modifier_class}} bg--coral">
  <picture>
    <source media="all and (min-width: 1024px)" srcset="../images/membership-LG.jpg" type="image/jpeg"/>
    <source media="all and (min-width: 740px)" srcset="../images/membership-MD.jpg" type="image/jpeg"/>
    <source media="all and (min-width: 0px)" srcset="../images/membership-SM.jpg" type="image/jpeg"/>
    <img alt="Membership" src="../images/membership-MD.jpg" typeof="foaf:Image"/>
  </picture>
  <div class="membership-signup__wrapper-copy text-align-center">
    <div class="membership-signup__wrapper-copy--title ">
      <h1>Sign up now
      </h1>
      <p>100% of your donation goes to help those in need
      </p>
    </div>
    <div class="membership-signup__wrapper-copy--form">
      <p>
        Choose your monthly donation
      </p>
      <form class="membership-signup__form-money">
        <div class="money-boxes">
          <button class="select-amount-btn money-box--1">
            <span class="text-align-center">5
            </span>
          </button>
          <button class="select-amount-btn money-box--2">
            <span class="text-align-center">10
            </span>
          </button>
          <button class="select-amount-btn money-box--3">
            <span class="text-align-center">30
            </span>
          </button>
          </diV>
        <div class="form__fieldset  ">
        <label for="other-amont">Other amount
        </label>
          <div class="form__field--wrapper form__money form__field--amount">
          <span id="js-currency-label" class="currency-input-label">£</span>
            <input aria-describedby="field-label--amount field-error--amount" class="form__field form__field--amount " id="field-input--amount" max="5000" min="1" name="amount" pattern="[^[1-9]+$]" placeholder="0" required="" type="number" value="">
          </div>
          <div class="form__field--wrapper form__choice form__field--currency">
            <select class="form__field form__field--currency" id="comicrelief_payinbundle_payment_currency" name="comicrelief_payinbundle_payment[currency]">
              <optgroup label="currency">
                <option data-currency="£" value="GBP">£ GBP
                </option>
                <option data-currency="$" value="USD">$ USD
                </option>
                <option data-currency="$" value="AUD">$ AUD
                </option>
                <option data-currency="€" value="EUR">€ EUR
                </option>
              </optgroup>
            </select>
          </div>
        </div>
        <button class="btn btn--blue">Next step
        </button>
        <div class="donation-copy">
          <p>£100 a month will help support people living unimaginably tough lives
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
