// Colours
// 
// Markup: colour.twig
//
// Style guide: 10.5

// CR Colours

$colour-red: #ea0043;
$colour-dark-purple: #29022c;
$colour-royal-blue: #4032fe;
$colour-purple: #340f78;
$colour-mint-green: #5df4cf;
$colour-black: #29022c;
$colour-dark-grey: #333;
$colour-grey: #e8e8e8;
$colour-light-grey: #F8F8F8;
$colour-white: #fff;

// light colours

$colour-purple-light: #3e128f;
$colour-dark-purple-light: #400344;
$colour-royal-blue-light: #584bfe;
$colour-mint-green-light: #8df7dd;
$colour-red-light: #ff044c;
