// Fonts

$font-stack: "Sailec-Regular", sans-serif;

$font-black-oblique: "Sailec-BlackItalic", sans-serif;
$font-black: "Sailec-Black", sans-serif;
$font-bold-oblique: "Sailec-BoldItalic", sans-serif;
$font-bold: "Sailec-Bold", sans-serif;
$font-medium-oblique: "Sailec-MediumItalic", sans-serif; 
$font-medium: "Sailec-Medium", sans-serif;
$font-regular-oblique: "Sailec-RegularItalic", sans-serif; 
$font-regular: "Sailec-Regular", sans-serif;
$font-light-oblique: "Sailec-LightItalic", sans-serif; 
$font-light: "Sailec-Light", sans-serif;
$body-font: "Sailec-Regular", sans-serif;

// breakpoint: (font-size, line-height)
$h1-large-font-size: (
  null: (66px, 68px),
  $screen-md: (74px, 75px),
  $screen-lg: (83px, 83px)
);
$h1-font-size: (
  null: (41px, 48px),
  $screen-md: (52px, 57px),
  $screen-lg: (58px, 62px)
);
$h2-font-size: (
  null: (32px, 41px),
  $screen-md: (36px, 44px),
  $screen-lg: (41px, 48px)
);
$h3-font-size: (
  null: (29px, 38px),
  $screen-md: (26px, 35px),
  $screen-lg: (26px, 35px)
);
$h4-font-size: (
  null: (23px, 33px),
  $screen-md: (20px, 31px),
  $screen-lg: (20px, 31px)
);
$h5-font-size: (
  null: (20px, 31px),
  $screen-md: (18px, 29px),
  $screen-lg: (18px, 29px)
);
$p-xxlarge-font-size: (
  null: (58px, 62px),
  $screen-md: (52px, 57px),
  $screen-lg: (41px, 48px)
);
$p-xlarge-font-size: (
  null: (23px, 28px),
  $screen-md: (23px, 28px),
  $screen-lg: (23px, 33px)
);
$p-large-font-size: (
  null: (20px, 31px),
  $screen-md: (20px, 31px),
  $screen-lg: (20px, 31px)
);
$p-font-size: (
  null: (18px, 29px),
  $screen-md: (18px, 29px),
  $screen-lg: (18px, 29px)
);
$p-small-font-size: (
  null: (16px, 27px),
  $screen-md: (16px, 27px),
  $screen-lg: (16px, 27px)
);
$p-xsmall-font-size: (
  null: (14px, 26px),
  $screen-md: (14px, 26px),
  $screen-lg: (14px, 26px)
);
$p-xxsmall-font-size: (
  null: (13px, 24px),
  $screen-md: (13px, 24px),
  $screen-lg: (13px, 24px)
);
$p-intro-font-size: (
  null: (16px, 27px),
  $screen-md: (16px, 27px),
  $screen-lg: (16px, 27px)
);

