<section class="paragraph--full-height-single-image-triple-copy {{modifier_class}} bg--purple">
    <div class="fhsitc__image-text-wrapper">
        <div class="fhsitc__text-1 bg--red "> 
            <img src="kss-assets/images/example-emoji.png">
        </div>
        <div class="fhsitc__image bg--yellow">
         <img src="https://www.comicrelief.com/sites/default/files/styles/bg_rich_text_wide/public/2018-12/spectacular_header_v5%402x.jpg?itok=Pr8MA0UX" />
         </div>
        <div class="bg--green fhsitc__text-2 "> 
            <img src="kss-assets/images/example-emoji.png">
        </div>
    </div>
    <div class="bg--teal fhsitc__text-wrapper">
        <div class="fhsitc__text-3">
        <h1 class="font--white text-align-center"><strong>PREPARE FOR A SPECTACULAR NIGHT OF COMEDY</strong></h1>

<p class="font--white text-align-center">28 February 2019. One night, one stage, eight giants of comedy live at The SSE Arena, Wembley</p>

<p class="text-align-center"><a class="btn btn--white" href="https://www.comicrelief.com/#newsletter" title="find out more about Spectacular">Sign up for pre-sale tickets</a></p>
         </div> 
    </div>
</section>
