h1, h2, h3, h4, h5 { 
  text-transform: uppercase;
  word-break: break-word;
  font-family: $anton;
  strong {
    font-family: inherit;
  }
}

p, span {
  word-break: break-word;
  font-family: $montserrat;
  strong {
    font-family: inherit;
  }
}

/* Override base theme variations, to make current content 'work' on some level */
h1 {
  &.font--font-black,
  &.font--xlarge,
  &.font--black-shadow  {
    @include font-size($h1-font-size);
  }
}

p {
  &.font--xlarge,
  &.font--large,
  &.font--small,
  &.font--xsmall {
    @include font-size($p-font-size);
  }
}

h1.text--title {
  @include font-size($h1-title-font-size);
}

h1, h2, h3, h4, h5, p, span {
  &.font {
    &--red,
    &--royal-blue,
    &--dark-purple,
    &--purple,
    &--black,
    &--dark-grey,
    &--grey  {
      color: $colour-dark-purple;
    }

    &--mint-green,
    &--white,
    &--light-grey {
      color: $colour-white;
    }
  }
}


/* 2019 Classes .. to be used via Sass @extends, not as standalone WYSIWYG classes */
.text--subtitle,
.text--subtitle-small,
.text--label,
.text--label-small {
  font-family: $montserrat;
  font-weight: 800;
  strong {
    font-weight: inherit;
  }
}

.text--footnote, {
  font-family: $montserrat;
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.text--body {
  @include font-size($body-font-size);
}
.text--body-small {
  @include font-size($body-small-font-size);
}
.text--subtitle {
  @include font-size($subtitle-font-size);
}
.text--subtitle-small {
  @include font-size($subtitle-small-font-size);
}
.text--label {
  @include font-size($label-font-size);
}
.text--label-small {
  @include font-size($label-small-font-size);
}
.text--footnote {
  @include font-size($footnote-font-size);
}

/* Backwards mapping so our existing content in the CMS doesn't look too wonky */
i.font--family-black,
.font--family-black, 
i.font--family-bold, 
.font--family-bold {
  font-family: $montserrat;
  font-weight: 800;
  text-transform: unset;
}

i.font--family-regular,
.font--family-regular,
.font--family-medium,
i.font--family-medium {
  font-family: $montserrat;
  font-weight: 700;
  text-transform: unset;
}

.font--family-light,
i.font--family-light {
  font-family: $montserrat;
  font-weight: 500;
  text-transform: unset;
}
