h1, h2, h3, h4, h5 { 
  text-transform: uppercase;
  font-family: $anton;
}

/* Override base theme variations, to make current content 'work' on some level */
h1 {
  &.font--font-black {
    @include font-size($h1-font-size);
  }
  &.font--xlarge {
    @include font-size($h1-font-size);
  }
  &.font--black-shadow {
    @include font-size($h1-font-size);
  } 
}

h1.text--title {
  @include font-size($h1-title-font-size);
}

h1, h2, h3, h4, h5, p, span {
  &.font {
    &--red {
      color: $colour-red;
    }
    &--mint-green {
      color: $colour-mint-green;
    }
    &--royal-blue {
      color: $colour-royal-blue;
    }
    &--purple {
      color: $colour-purple;
    }
    &--dark-purple {
      color: $colour-dark-purple;
    }
    &--black {
      color: $colour-black;
    }
    &--white {
      color: $colour-white;
    }
    &--light-grey {
      color: $colour-light-grey;
    }
    &--dark-grey {
      color: $colour-dark-grey;
    }
    &--grey {
      color: $colour-grey;
    }
  }
}


/* 2019 Classes .. to be used via Sass @extends, not as standalone WYSIWYG classes */
.text--subtitle,
.text--subtitle-small,
.text--label,
.text--label-small {
  font-family: $montserrat;
  font-weight: 800;
  strong {
    font-weight: inherit;
  }
}

.text--body,
.text--body-small,
.text--footnote {
  font-family: $montserrat;
  font-weight: 500;
  strong {
    font-weight: 700;
  }
}

.text--subtitle {
  @include font-size($subtitle-font-size);
}
.text--subtitle-small {
  @include font-size($subtitle-small-font-size);
}
.text--label {
  @include font-size($label-font-size);
}
.text--label-small {
  @include font-size($label-small-font-size);
}
.text--body {
  @include font-size($body-font-size);
}
.text--body-small {
  @include font-size($body-small-font-size);
}
.text--footnote {
  @include font-size($footnote-font-size);
}

/* Backwards mapping so our existing content in the CMS doesn't look too wonky */
i.font--family-black,
.font--family-black, 
i.font--family-bold, 
.font--family-bold {
  font-family: $montserrat;
  font-weight: 800;
  text-transform: unset;
}

i.font--family-regular,
.font--family-regular,
.font--family-medium,
i.font--family-medium {
  font-family: $montserrat;
  font-weight: 700;
  text-transform: unset;
}

.font--family-light,
i.font--family-light {
  font-family: $montserrat;
  font-weight: 500;
  text-transform: unset;
}
