<header role="banner">
  <div class="header__inner-wrapper">
    <div id="block-comicrelief-branding" class="block block-system block-system-branding-block">
      <a href="/" title="Home" rel="home" class="site-logo" tabindex="2">LOGO</a>
    </div>
    {% include directory ~ '../../../base/components/navigation/main-nav.twig' %}
    {% include directory ~ '../../../base/components/meta-icons/meta-icons.twig' %}
  </div>
</header>