<header role="banner" class="sticky-nav__header">
  <div class="header__inner-wrapper">
    <div id="block-comicrelief-branding" class="block block-system block-system-branding-block">
      <a href="/" title="Home" rel="home" class="site-logo" tabindex="2">
        <img src="/kss-assets/images/sr18-logo-2018.svg" alt="Home"></a>
    </div>
    {% include directory ~ 'main-nav.twig' %}
    {% include directory ~ '../../../base/components/meta-icons/meta-icons.twig' %}
  </div>
</header>
