<header role="banner">
  <div class="header__inner-wrapper">
    <div id="block-comicrelief-branding" class="block block-system block-system-branding-block">
      <a href="/" title="Home" rel="home" class="site-logo" tabindex="2">LOGO</a>
    </div>
    {% include directory ~ 'main-nav.twig' %}
    {% include directory ~ '../../../base/components/meta-icons/meta-icons.twig' %}
  </div>
</header>
<section class="paragraph single-msg single-msg--copy-only bg--purple single-msg--default-padding" style="height: 2000px;">
  <div class="single-msg__outer-wrapper">
    <div class="single-msg__copy_wrapper bg--purple">
      <div class="single-msg__copy">
        <div class="single-msg__body">
          <div class="cr-body">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h4 class="text-align-center">[filler copy to illustrate sticky nav]</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>