// cr-donate specific form styling overrides 

// Checkboxes
.form__row--giftaid .form__field--wrapper.form__checkbox,
.form__field--wrapper.form__checkbox {
  background-color: $colour-grey;
  &.form__checkbox-text-only {
    background-color: initial;
  }
}
.form__checkbox:before {
  display: none;
}
.form__checkbox {
  input[type="checkbox"],
  input[type="checkbox"]+span {
    top: 50%;
    left: initial;
    border: 1px solid $colour-black;
    transform: translateY(-50%);
  }
  input[type="checkbox"]:focus+span {
    border-width: 2px;
  }
  label.form__checkbox {
    left: 45px;
    padding: 0;
    width: calc(100% - 45px);
  }
}

@include breakpoint($screen-md) {
  .promo-header {
    z-index: -1; // move this to promo header component
  }
  form {
    margin: -100px auto 0;
    width: span(10);
    border: 2px solid $colour-grey;
    background-color: $colour-white;
  }
  .form__row {
    width: span(10);
  }
}
@include breakpoint($screen-lg) {
  form {
    width: span(7);
  }
}
