// cr-donate specific form styling overrides
form,
form a,
input {
  font-family: $body-font;
  color: $colour-dark-purple;
}
form {
  margin-bottom: 30px;
  @include breakpoint($screen-md) {
    margin: -75px auto 60px;
    width: span(10);
    border: 2px solid $colour-grey;
    background-color: $colour-white;
  }
  @include breakpoint($screen-lg) {
    width: span(7);
  }
}
input[type="email"],
input[type="number"],
input[type="text"],
select,
textarea {
  border: 1px solid $colour-dark-purple;
  @include placeholder($colour-dark-purple, 18px , $font-regular);
}
select {
  background: transparent url($image-path + "drop-down-dark-purple.svg") calc(100% - 20px) 20px/20px 10px no-repeat;
}
.form__row {
  width: span(11);

  @include breakpoint($screen-md) {
    width: span(10);
  }
}

// hide and show for form rows if js is enabled
.js-enabled {
  .form__row--payment,
  .form__row--giftaid,
  .form__row--payment-buttons,
  .form__row--your-detail,
  .form__row--billing-detail,
  .form__field--address,
  .form__row--keep-touch,
  .form__nav,
  .form__row--card-logos,
  .form__row--logos, {
    display: none;
    &.show {
      display: block;
    }
  }
}
// when js is not enabled the (functioning) form fields should be visible
.no-js {
  .form__next,
  .form__back,
  #comicrelief_payinbundle_payment_paypal,
  .search-box-button,
  .form__subcopy--bfpo,
  .form__address-detail-toggle,
  #address-detail {
    display: none;
  }
}

// Remove large space between billing address row and keep in touch row
.form__row--billing-detail {
  padding-bottom: 0;
}
.form__row--payment-buttons,
.form__row--billing-detail,
.form__row--keep-touch {
  padding-top: 0;
}

// Back button
.form__back {
  display: block;
  position: relative;
  padding-left: 1em;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  
  &:before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 0.5em;
    height: 0.5em;
    border-left: 2px solid $colour-dark-purple;
    border-top: 2px solid $colour-dark-purple;
    transform: rotate(-45deg);
  }
}

// Checkboxes
.form__checkbox:before {
  display: none;
}
.form__checkbox {
  input[type="checkbox"],
  input[type="checkbox"]+span {
    top: 50%;
    left: 20px;
    border: 1px solid $colour-grey;
    background-color: $colour-white;
    transform: translateY(-50%);
  }
  input[type="checkbox"]:checked+span {
    background-color: $colour-white;
  }
  input[type="checkbox"]:focus+span {
    border-width: 2px;
  }
  label.form__checkbox {
    top: 14px;
    left: 45px;
    padding: 0;
    width: calc(100% - 45px);
  }
}
.form__row--giftaid .form__field--wrapper.form__checkbox,
.form__field--wrapper.form__checkbox {
  margin-bottom: 1em;
  padding: 0.5em 1em 1em 1em;
  background-color: $colour-smoke-grey;
  &.form__checkbox-text-only {
    padding: 0;
    background-color: transparent;

    .form__address-detail-toggle {
      padding: 20px 0;
    }
    // make sure the checkbox covers the whole label so it's clickable
    input[type="checkbox"] {
      top: 45px;
      left: 0;
      height: 60px;
    }
  }
}

// text styling
.form__subtitle {
  @extend h2;
  text-align: center;
}
.form__subcopy--contact {
  font-weight: bold;
}
.form__subcopy--bfpo {
  font-size: 16px;
}

// buttons 
button,
button.payment-button,
input[type="button"] {
  @extend .btn;
  @extend .btn--fixed-width;
}
.search-box {
    #postcode_button {
    @extend .btn--dark-purple-ghost;
    border-width: 2px;
    border-radius: 30px;
  }
  .search-box-button.loading:after {
    border: 2px solid;
  }
}
button[type="submit"],
#comicrelief_payinbundle_payment_card, {
  @extend .btn--red;
}
// Apple Pay button only shows when supported
#comicrelief_payinbundle_payment_apple_pay {
  display: none;
  // fallback if apple pay styling doesn't come through
  // making sure this doesn't stick out if apple styling does come through
  height: 59px;
  @extend .btn--black;
  // apple pay styling
  &:after {
    margin-top: -1px;
    height: 60px;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-style: black;
  }
  &.show {
    display: block;
  }
}
// PayPal fallback styling
#comicrelief_payinbundle_payment_paypal:after {
  border-radius: 30px;
  background-color: $colour-grey;
  background-image: url($image-path + "paypal.svg");
}

// Amount row styling
.form__row--payment-amount {
  p, .number-input-label {
    color: $colour-dark-purple;
  }

  .form__fieldset {
    @include clearfix;
    position: relative;
    margin-bottom: 3%;

    &.form__amount-submit {
      margin-top: 6%;
    }
  }

  .form__radiobutton {

    .select-label {
      @include font-size($p-font-size);
      font-family: $font-bold;
      margin: 15px 0 25px;

      @include breakpoint($screen-md) {
        margin: 30px 0 38px;
      }
    }

    .form__field {
      font-family: $font-bold;
      color: $colour-royal-blue;
      margin-bottom:0;
    }

    &.form__fieldset {
      margin-bottom: 0;
    }

    .form__radiobutton--row {
      background-color: $colour-mercury-grey;
      color: $colour-dark-purple;

      span {
        font-family: $body-font;
      }
    }

    .form__radio+label {
      display: inline-block;
      background-color: $colour-white;
      border: 2px solid $colour-mercury-grey;
      width: 80px;
      height: 84px;
      text-align: center;
    }

    .form__radio:checked+label {
      background-color:$colour-royal-blue;
      color: $colour-white;
      transition: 0.3s all;
    }

    .form__radio:focus+label {
      border: 2px solid $colour-dark-purple;
    }

    .form__radio:not(:checked):focus+label {
      border: 2px solid $colour-dark-purple;
    }
  }

  .currency-input-label {
    position: absolute;
    left: 0px;
    top: 0.75em;
    line-height: 21px;
    color: $colour-dark-purple;
    font-size: 18px;
    font-family: $body-font;
    margin-left: 15px;
    margin-top:1px;
    z-index: 9;
  }

  .form__field--amount {

    .form__field--amount {
      @include placeholder (#757575, 18px, $body-font);
      padding-left: 28px;
      float: left;
      width: span(6);
      margin-right: calc(2 * #{gutter()});
    }

    &.form__field--wrapper {
      margin-bottom: 0;
    }
  }

  .form__field--currency {

    .form__field--currency {
      float: left;
      width: span(6);
      margin-left: calc(2 * #{gutter()});
    }
  }

  .form__field--currency, .form__field--amount {
    label {
      @extend .visually-hidden;
    }
  }
}

.form__row--giftaid {
  h1 {
    background:url($image-path + "gift_aid_logo.png") no-repeat center;
    background-size: contain;
    width: 210px;

    @include breakpoint($screen-md) {
      width: 298px;
    }
  }
}

// help text and error messages
.error-container {
  position: absolute;
}
.help-block,
.error-container {
  top: 105%;
}
.error-container {
  .form__field--amount & {
    position: absolute;
    top: 55px;
  }
  .form__field--postcode & {
    position: relative;
    top: 4px;
  }
}
.help-block.form-error {
  display: block;
  position: relative;
  background-position: left 40%;
}
.form__field--wrapper {
  margin-bottom: 5%;
}
