// cr-donate specific form styling overrides

// Checkboxes
.form__row--giftaid .form__field--wrapper.form__checkbox,
.form__field--wrapper.form__checkbox {
  background-color: $colour-smoke-grey;
  &.form__checkbox-text-only {
    background-color: initial;
  }
}
.form__checkbox:before {
  display: none;
}
.form__checkbox {
  input[type="checkbox"],
  input[type="checkbox"]+span {
    top: 50%;
    left: initial;
    border: 1px solid $colour-grey;
    background-color: $colour-white;
    transform: translateY(-50%);
  }
  input[type="checkbox"]:checked+span {
    background-color: $colour-white;
  }
  label.form__checkbox {
    top: 14px;
    left: 45px;
    padding: 0;
    width: calc(100% - 45px);
  }
}

@include breakpoint($screen-md) {
  form {
    margin: -75px auto 0;
    width: span(10);
    border: 2px solid $colour-grey;
    background-color: $colour-white;
  }
}
@include breakpoint($screen-lg) {
  form {
    width: span(7);
  }
}

.form__row {
  width: span(11);

  @include breakpoint($screen-md) {
    width: span(10);
  }
}

.form__row--payment-amount {
  p, .number-input-label {
    color: $colour-dark-purple;
  }

  .form__fieldset {
    @include clearfix;
    position: relative;
    margin-bottom: 3%;
  }

  .form__radiobutton {

    .select-label {
      @include font-size($p-font-size);
      font-family: $font-bold;
      margin: 15px 0 25px;

      @include breakpoint($screen-md) {
        margin: 30px 0 38px;
      }
    }

    .form__field {
      font-family: $font-bold;
      color: $colour-royal-blue;
      margin-bottom:0;
    }

    &.form__fieldset {
      margin-bottom: 0;
    }

    .form__radiobutton--row {
      background-color: $colour-mercury-grey;
      color: $colour-dark-purple;

      span {
        font-family: $body-font;
      }
    }

    .form__radio+label {
      background-color: $colour-white;
      border: 2px solid $colour-mercury-grey;
    }

    .form__radio:checked+label, .form__radio:focus+label{
      background-color:$colour-royal-blue;
      color: $colour-white;
      border: 2px solid $colour-royal-blue;
      transition: 0.3s all;
    }
  }

  .currency-input-label {
    position: absolute;
    left: 0px;
    top: 0.75em;
    line-height: 21px;
    color: $colour-dark-purple;
    font-size: 18px;
    font-family: $body-font;
    margin-left: 15px;
    margin-top:1px;
    z-index: 9;
  }

  .form__field--amount {

    .form__field--amount {
      @include placeholder (#757575, 18px, $body-font);
      padding-left: 28px;
      float: left;
      width: span(6);
      margin-right: calc(2 * #{gutter()});
    }
  }

  .form__field--currency {

    .form__field--currency {
      float: left;
      width: span(6);
      margin-left: calc(2 * #{gutter()});
    }
  }

  .form__field--currency, .form__field--amount {
    label {
      @extend .visually-hidden;
    }
  }
}
