// Buttons
//
// Buttons are normally used for key messages, or key call-to-actions. For less important messages, a link may be more appropriate (see Links). Buttons text uses the Black weight of the Sailec font.

.btn {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  padding: 23px 40px 19px;
  cursor: pointer;
  transition: 0.3s all;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  @include border-radius(30px);
  span {
    font-size: inherit;
    font-weight: inherit;
  }
  &.btn--full-width {
    display: block;
    width: 100%;
    @include breakpoint($screen-md) {
      display: inline-block;
      width: auto;
    }
  }
  + .btn {
    margin-top: 30px;
    @include breakpoint($screen-md) {
      margin-top: 0;
      margin-left: 25px;
    }
  }
  &--fixed-width {
    width: 100%;
  }
}

/* button(font_colour, bg_colour, hover bg-colour) */

.btn--black,
.btn--deep-violet {
  @include cr_button_types($colour-white, $colour-deep-violet, $colour-teal);
}


.btn--red {
  @include cr_button_types($colour-white, $colour-red, $colour-teal);
  text-shadow: 0 1px 1px $colour-deep-violet;
}

.btn--white {
  @include cr_button_types($colour-deep-violet, $colour-white, $colour-teal);
}

/* Backward compatibility; old class names, new colour vars */
.btn--royal-blue {
  @include cr_button_types($colour-white, $colour-blue, $colour-teal);
}
.btn--mint-green {
  @include cr_button_types($colour-deep-violet, $colour-teal, $colour-red);
}

/* Brand new Secondary buttons */
.btn--grey {
  @include cr_button_types($colour-deep-violet, $colour-grey, $colour-teal);
}
.btn--coral {
  @include cr_button_types($colour-deep-violet, $colour-coral, $colour-teal);
}
.btn--orange {
  @include cr_button_types($colour-deep-violet, $colour-orange, $colour-teal);
}
.btn--yellow {
  @include cr_button_types($colour-deep-violet, $colour-yellow, $colour-teal);
}
.btn--green {
  @include cr_button_types($colour-deep-violet, $colour-green, $colour-teal);
}
.btn--blue {
  @include cr_button_types($colour-deep-violet, $colour-blue, $colour-teal);
}
.btn--purple {
  @include cr_button_types($colour-deep-violet, $colour-purple, $colour-teal);
}
.btn--magenta {
  @include cr_button_types($colour-deep-violet, $colour-magenta, $colour-teal);
}
.btn--teal {
  @include cr_button_types($colour-deep-violet, $colour-teal, $colour-teal);
}


/* Brand new Secondary Light buttons */
.btn--light-grey {
  @include cr_button_types($colour-deep-violet, $colour-light-grey, $colour-teal);
}
.btn--light-coral {
  @include cr_button_types($colour-deep-violet, $colour-light-coral, $colour-teal);
}
.btn--light-orange {
  @include cr_button_types($colour-deep-violet, $colour-light-orange, $colour-teal);
}
.btn--light-yellow {
  @include cr_button_types($colour-deep-violet, $colour-light-yellow, $colour-teal);
}
.btn--light-green {
  @include cr_button_types($colour-deep-violet, $colour-light-green, $colour-teal);
}
.btn--light-blue {
  @include cr_button_types($colour-deep-violet, $colour-light-blue, $colour-teal);
}
.btn--light-magenta {
  @include cr_button_types($colour-deep-violet, $colour-light-magenta, $colour-teal);
}
.btn--light-purple {
  @include cr_button_types($colour-deep-violet, $colour-light-purple, $colour-teal);
}
.btn--light-teal {
  @include cr_button_types($colour-deep-violet, $colour-light-teal, $colour-teal);
}

/* Brand new Secondary Dark buttons */
.btn--dark-grey {
  @include cr_button_types($colour-white, $colour-dark-grey, $colour-teal);
}
.btn--dark-coral {
  @include cr_button_types($colour-white, $colour-dark-coral, $colour-teal);
}
.btn--dark-orange {
  @include cr_button_types($colour-white, $colour-dark-orange, $colour-teal);
}
.btn--dark-yellow {
  @include cr_button_types($colour-white, $colour-dark-yellow, $colour-teal);
}
.btn--dark-green {
  @include cr_button_types($colour-white, $colour-dark-green, $colour-teal);
}
.btn--dark-blue {
  @include cr_button_types($colour-white, $colour-dark-blue, $colour-teal);
}
.btn--dark-magenta {
  @include cr_button_types($colour-white, $colour-dark-magenta, $colour-teal);
}
.btn--dark-purple {
  @include cr_button_types($colour-white, $colour-deep-violet, $colour-teal);
}
.btn--dark-teal {
  @include cr_button_types($colour-white, $colour-dark-teal, $colour-teal);
}
