// ==========================================================================
// Button
// ==========================================================================

.btn {
  background-color: $colour-blue;
  text-transform: uppercase;
  border: 0px;
  padding: 18px 40px 17px;
  letter-spacing: 1px;
  outline: 0;

  &:hover {
    background-color: $colour-dark-blue;
    
  }
}
.btn--rectangle {
  padding: 23px 40px 19px;
  @include border-radius(0px);

  &:hover {
    @include border-radius(0px);
    transform: translateY(0px); // override subtheme
  }
}
.btn--full-width {
  @include breakpoint($screen-md) {
    width: 100%;
  }
}

/* Ghost button 
less padding because ghost buttons have borders */
.btn--ghost,
.btn--blue-ghost {
  padding: 21px 40px 17px;
  border: 2px solid $colour-blue;
  background-color: $colour-white;
  color: $colour-blue;

  &:hover {
    border: 0px;
    padding: 23px 40px 19px;
    background-color: $colour-dark-blue;
    color: $colour-white;
  }
}
.btn--white-ghost {
  background-color: $colour-black;
  border: 2px solid $colour-white;

  &:hover {
    color: $colour-black;
    background-color: $colour-white;
  }
}