// Just-In-Time block
//
// Markup: just-in-time-block--frost.twig
//
// Style guide: 20.1004

.form__row--just-in-time-block {

  .toggle-link {
    font-size: 18px;
    transition: all 0.5s ease;
    border-bottom: 1px solid #666;
    font-family: $font-medium;
    color: #666;
  }

  .just-in-time--content {
    display: block !important;
    margin-top:15px;
    overflow: hidden;
    transition: max-height 0.5s linear; 
    height: auto;
    max-height: 0;
  }

  .show-link:target ~ .just-in-time--content{
    max-height: 500px;
  }
}
