<form>
  <div>
    <select>
      <option value selected="selected">- Please select -</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br>
  </div>
  <div class="form__field form__field--checkbox password-checkbox">
    <label for="cb" class="checkbox">
    <input type="checkbox" id="cb">
    <span class="checkbox"></span>
    <span class="form__field--copy" style="display: block; margin-top: 10px;">This is a checkbox</span>
    </label>
  </div>
  <fieldset class="form__fieldset">
    <div class="form__field ">
      <div class="form__field form__field--radio">
        <input type="radio" id="radiobuttons1" name="radiobuttons">
        <label for="radiobuttons1" id="labelForRadiobuttons1" class="radio">
        <span class="radio"></span>
        <span class="form__field--copy">
        <span>I like radio buttons</span>
        </span>
        </label>
      </div>
      <div class="form__field form__field--radio">
        <input type="radio" id="radiobuttons2" name="radiobuttons">
        <label for="radiobuttons2" id="labelForRadiobuttons2" class="radio">
        <span class="radio"></span>
        <span class="form__field--copy">
        <span>I <strong>love</strong> radio buttons</span>
        </span>
        </label>
      </div>
    </div>
  </fieldset>
  <div></div>
  <div>
    <textarea>This is text area</textarea>
  </div>
  <div>
    <input type="submit">
  </div>
</form>