<div class="form__row form__row--just-in-time-block">
 <div class="form__fieldset">
  <a href="#show" aria-expanded="true" class="link toogle-link show-link" aria-label="click to open" id="show">What you can expect to recieve from us</a>
  <a href="#hide" class="link toggle-link close-link" aria-label="click to close" aria-expanded="false" id="hide">What you can expect to recieve from us</a>
  <div class="just-in-time--content">
    <p><strong>Name, email and billing address:</strong> we need it to create a receipt for your payment nd send it to you.</p>
    <p><strong>Phone number:</strong> we collect it in case there is an issue with donation</p>
    <p><strong>Establishment information:</strong> we use this information to understand better which institutions raise money for us.</p>
  </div>
</div>
</div>
