.form__row--title {
  width: 100%;
  background-color: $colour-white-smoke;

  h4 {
    @include font-size($p-font-size);
    font-family: $font-regular;
    color: $colour-dark-blue-lighter;

    span {
      font-weight: bold;
    }
  }
}

.form__subtitle {
  @extend h2;
  text-align: center;
  color: $colour-dark-blue-lighter;
}

label,
input,
select {
  color: $colour-dark-purple;
}

input[type="email"], 
input[type="number"], 
input[type="text"], 
select {
  border: 1px solid $colour-dark-purple;
}
input[type="email"], 
input[type="number"], 
input[type="text"] {
  background-color: $colour-light-grey;
}

.search-box #postcode_button {
  color: $colour-dark-purple;
  border: 1px solid $colour-dark-purple;
}

.form__row--keep-touch {
  label.form__checkbox {
    top: 0;
    left: 40px;
     
     &:before {
      display: none;
    }
  }
  input[type="checkbox"] {
    z-index: 1;
    top: 10px;
    margin: 0;
    width: 30px;
    height: 30px;
    background-color: red;

  }
  input[type="checkbox"]+span {
    z-index: 0;
    float: none;
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $colour-light-grey;
    background-color: green;
  }

  input[type="checkbox"]:checked+span {
    border-width: 2px;
    background-image: url( $image-path + "checkbox-tick-new.png") 50% 50% no-repeat;
  }
  input[type="checkbox"]:focus+span {
    border-width: 2px;
  }
}


@include breakpoint($screen-md) {
  .search-box #postcode_button {
    margin-top: 30px;
  }
  // center address buttons
  .search-box #postcode_button,
  .form__field--address-detail label.form__checkbox {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
}
