.form__row--title {
  width: 100%;
  background-color: $colour-white-smoke;

  h4 {
    @include font-size($p-font-size);
    font-family: $font-regular;
    color: $colour-dark-blue-lighter;

    span {
      font-weight: bold;
    }
  }
}

// hide address fields until shown
.form__field--address,
.form__row--billing-detail {
  display: none; 
   &.show {
    display: block;
   }
}
.form__row--your-detail,
.form__row--payment {
  padding: 30px 0 0;
}

.form__row--address-detail,
.form__row--billing-detail {
  padding: 0;
}

.form__subtitle {
  @extend h2;
  text-align: center;
  color: $colour-dark-blue-lighter;
}

label,
input {
  color: $colour-dark-purple;
}

input[type="email"], 
input[type="number"], 
input[type="text"] {
  border: 1px solid $colour-dark-purple;
  background-color: $colour-light-grey;
}
select {
  border: 1px solid $colour-royal-blue;
}

.search-box #postcode_button {
  color: $colour-dark-purple;
  border: 1px solid $colour-dark-purple;
}

.form__row--keep-touch,
.form__row--billing-detail {
  p {
    @include font-size($p-xsmall-font-size);
    color: $colour-dark-purple;
  }
  label.form__checkbox {
    top: 0;
    left: 40px;
    width: calc(100% - 40px);
     
     &:before {
      display: none;
    }
  }
  input[type="checkbox"] {
    z-index: 1;
    position: absolute;
    top: 10px;
    margin: 0;
    width: 30px;
    height: 30px;
    opacity: 0;

  }
  input[type="checkbox"]+span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $colour-grey;
    background-color: transparent;
  }

  input[type="checkbox"]:checked+span {
    background: url($image-path + "checkbox-tick-new.png") center/50% no-repeat;
  }
  input[type="checkbox"]:focus+span {
    border-color: $colour-dark-purple;
  }
}

button.payment-button {
  border: 1px solid $colour-dark-purple;
}
button[type=submit] {

}


@include breakpoint($screen-md) {
  .form__row--your-detail,
  .form__row--payment {
    padding: 60px 0 0;
  }
  .search-box #postcode_button {
    margin-top: 30px;
  }
  // center address buttons
  .search-box #postcode_button,
  .form__field--address-detail label.form__checkbox {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }

  button.payment-button,
  button[type=submit] {
    width: 50%;

  }
}
