.cookie-consent.cc_container {
  display: block;
  padding: 20px;

  .cc_more_info {
    font-size: inherit;
    line-height: inherit;
  }

  .cc_message {
    margin: 0 0 10px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    font-size: 14px;
    line-height: 20px;

    @include breakpoint($screen-md){
      font-size: 14px;
      line-height: 20px;
      width: 75%;
      margin: 0 auto 15px;
    }

    .btn {
      @extend .btn;
      @extend .btn--green;
      background-image: none;
      height: auto;
      text-indent: 0;
      margin-top: 0;
      margin-bottom: 10px;
      padding: 8px 20px;
      
      @include breakpoint($screen-md) {
        margin-right: 8px;
        margin-bottom: 0;
      }
    }
  }
}
