// Links
//
// Buttons are normally used for key messages, or key call-to-actions. For less important messages, a link may be more appropriate. Buttons text uses the Bold weight of the Proxima Nova font. All buttons
// 
// .link--large - Large - The font size is 18px and line height is 28px. Border / underline is 4px.
// .link--small - Small - The font size is 16px and line height is 26px. Border / underline is 4px.
// :hover - Link hover state
// :active - Link active state
// :focus - Link focus state
//
// Markup: links.twig
//
// Style guide: 10.2

/*  
 * Link styles,
 * Copied from SR16 theme
 */

.link {
  text-decoration: none;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: inherit;
  border-bottom: 4px solid $colour-red;
  font-family: $font-bold;
  font-size: 18px;
  line-height: 30px;
  transition-property: border, color;
  transition-duration: 180ms;
  &:hover,
  &:active,
  &:focus {
    border-bottom: 4px solid $colour-black;
  }
  &.inline {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    color: inherit;
    border-width: 2px;
    font-size: inherit;
    line-height: 22px;
    &:hover,
    &:active,
    &:focus {
      border-width: 2px;
    }
  }
}

@for $link from 1 to (length($linkList)+1) {
  @include link-variation(nth($linkList, $link));
}
