// Expanded Footer
//
// Expanded footer (aka TURBOFOOTER™) for the CR.com site in 2018
// 
// Markup: expanded-footer.twig
//
// Style guide: 185.5

footer.footer--expanded {
  background: #f2f2f2;
  padding: 50px 18px 185px;

  // Social Links
  .footer__social-links {
    margin: 0 0 48px;
    ul li {
      margin: 5px 8px 0;

      a {
        width: 52px;
        height: 52px;
      }
    }
  }

  .footer__copyright p {
    color: $colour-black;
    font-size: 18px;
    line-height: 29px;
  }

  .footer__branding {
    margin-top: 60px;
  }

  ul.menu.menu--level-0 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

     // This presents each submenu/category in the footer
     >li.menu-item {
      @include span(12);
      margin-bottom: 45px;

       @include breakpoint($screen-md) {
         @include span(6);
       }

       @include breakpoint($screen-lg) {
         @include span(4);
       }

       // category 'title' link
       > a {
       color: $colour-black;
       font-size: 31px;
       text-decoration: none;
       position: relative;

        &:after {
          content:'\2303';
          position:absolute;
          font-family:Arial;
          margin-left: 4px;
          overflow: hidden;
          line-height: 19px;
          font-size: 25px;
          color: inherit;
          font-weight: bold;
          top: 5px;
          transform: rotate(180deg);
          transition-duration: 0.1s;
          transition-property: transform;
          transition-timing-function: ease;
        }

        &.js-show {
          + ul.menu--level-0.menu--level-1 {
            max-height: 300px;
          
            @include breakpoint($screen-md) {
              max-height: 150px;
            }

          }
          &:after {
            transform: rotate(0);
          }
        }

         // all within that category
         + ul.menu--level-0.menu--level-1 {
          width: 100%;
          margin: 0;
          max-height: 0;
          overflow-y: hidden;
          transition: max-height 0.5s ease;

           // each link item
           li {
             padding: 10px 10px 10px 0;
             width: 100%;
             margin: 0;

             a {
              color: black;
              font-weight: 400;
              font-size: 18px;
              text-decoration: none;
              &:after {
                content: none;
              }
             }
           }

           div.menu--expanded-footer__left,
           div.menu--expanded-footer__right {
            width: 100%;
           }

           @include breakpoint($screen-md) {      
             // split submenus
             div.menu--expanded-footer__left {
               float: left;
               width: 50%;
             }

             div.menu--expanded-footer__right {
              float: right;
              width: 50%;
              li {
                 padding: 10px 0px 10px 10px;
              }
             }
           }
         }
       }
     }
  }
}
