/* Main navigation styling */ 
.main-nav__wrapper {

  height: auto;

  .main-nav__items.menu-open,
  .main-nav__items {

    @include breakpoint($screen-lg) {
      height: 96px;
    }

    li.item-open,
    li {
      a {
        font-size: 16px;
        line-height: 16px;
        color: $colour-dark-grey;

        @include breakpoint($screen-lg) {
          padding: 8px 7px 4px;
        }
      }
    }

    &.menu--level-0 {

      @include breakpoint($screen-lg) {
        width: auto;
      }

      > li,
      > li.item-open {

      @include breakpoint($screen-lg) {
        padding: 37px 0px;
        margin: 0 5px;
      }

      > a {
        font-family: $font-medium;
        text-transform: uppercase;
        padding: 14px 20px 9px;
        
        @include breakpoint($screen-lg) {
          padding: 5px 7px 2px;
          font-size: 15px;
          line-height: 15px;
        }
      }

      &:hover > a {
        background-color: $colour-mint-green;           
      }

      // Donate button: can we target this better?
      &:last-child {
      
        @include breakpoint($screen-lg) {
          > a {
            // placeholder colours
            background-color: red;
            color: $colour-white;           
            padding: 14px 20px 10px;
            border-radius: 25px;
          }
        }

        &:hover > a {
          background-color: $colour-mint-green;           
          color: $colour-black;  
        }
      }
    }
    } 

    &.menu--level-1 {

      li.menu-item.menu-item--duplicate {
      
        > a {
          color: $colour-mint-green;
          font-family: $font-medium;
          position: relative;
          font-size: 21px;
          line-height: 21px;

          &:after {
            width: 14px;
            border-bottom: 4px solid $colour-mint-green;
            left: 12px;
            top: auto;
            bottom: 0;

            @media (min-width: 1024px) {
              bottom: 10px;
            }
          }

          &:before {
            @include breakpoint($screen-lg) {
              left: 34px;
              width: 10px;
              height: 10px;
              border: 11px solid transparent;
              border-bottom-color: $colour-dark-purple;
              top: -22px;
            }
          }
        }

        @include breakpoint($screen-lg) {
          height: 74px;
          width: 100%;
          padding: 0;

          a {
            padding: 26px 21px;
          }
        }
      }

      @include breakpoint($screen-lg) {
        padding-bottom: 20px;
      }
    }


    &.menu--level-1,
    &.menu--level-2 {
      li a,
      li.item-open a {
        font-family: $font-light;
        font-size: 16px;
        line-height: 16px;
        color: $colour-white;

        @include breakpoint($screen-lg) {
          font-size: 20px;
          line-height: 20px;
        }

        &:hover {
          background-color: #3e1c43;
        }
      }

      li.menu-item,
      li.item-open.menu-item {
        @include breakpoint($screen-lg) {
          padding: 0;
          height: 100%;
          width: 100%;

          a {
            padding: 10px 21px 7px;
          }
        }
      }
    }

    li.item-open,
    li {

      // Reset base styles, so we're targetting the anchor and not the li
      > ul li:hover {
        background-color: $colour-dark-purple;
      }

      > ul li a:hover {
        background-color: lighten($colour-dark-purple, 5%);
      }

      &:hover > a span.menu-item__text {
        border-bottom: none;
      }
    }

    // Secondary nav items that have tertiary menu items
    &.menu--level-1 li.menu-item.menu-item--expanded {
      @include breakpoint($screen-lg) {
        height: 100%;
      }
    }
    
    &.menu--level-2 {
  
      li.menu-item {
        padding: 0;

        a {
          // Indent tertiary items
          padding-left: 40px;

          background-color: lighten($colour-dark-purple, 10%);

          &:hover {
            // Placeholder colours!
            background-color: lighten($colour-dark-purple, 15%) !important;
          }
        }
      } 

      // Position tertriary menu items
      @include breakpoint($screen-lg) {
        display: block;
        position: relative;
        top: 0;
        height: 100%;
        max-height: 100%;
      }
    }
  } 
}
