<footer role="contentinfo" class="footer--expanded">
  <div class="footer__social-links">
    <ul>
      <li>
        <a href="https://www.facebook.com/comicrelief" title="Facebook" target="_blank" class="icon__fb">
          <svg class="icon">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/comicrelief" title="Twitter" target="_blank" class="icon__twitter">
          <svg class="icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCdF5u0ggeSETozc8fsprjcw" title="Youtube" target="_blank" class="icon__youtube">
          <svg class="icon">
            <use xlink:href="#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/comicrelief" title="Instagram" target="_blank" class="icon__instagram">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
            <defs>
              <radialGradient id="a" cx="14.53" cy="2.37" r="50.41" gradientTransform="matrix(1, 0, 0, -1, 0, 52.25)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ffd676"></stop>
                <stop offset="0.25" stop-color="#f2a454"></stop>
                <stop offset="0.38" stop-color="#f05c3c"></stop>
                <stop offset="0.7" stop-color="#c22f86"></stop>
                <stop offset="0.96" stop-color="#6666ad"></stop>
                <stop offset="0.99" stop-color="#5c6cb2"></stop>
              </radialGradient>
            </defs>
            <title>Rednoseday Instagram</title>
            <desc>Visit Rednoseday instagram page</desc>
            <circle cx="25" cy="25" r="25" fill="url(#a)"></circle>
            <path d="M25,13.25c3.83,0,4.28,0,5.79.08a7.93,7.93,0,0,1,2.66.49,4.75,4.75,0,0,1,2.72,2.72,7.93,7.93,0,0,1,.49,2.66c.07,1.51.08,2,.08,5.79s0,4.28-.08,5.79a7.93,7.93,0,0,1-.49,2.66,4.75,4.75,0,0,1-2.72,2.72,7.93,7.93,0,0,1-2.66.49c-1.51.07-2,.08-5.79.08s-4.28,0-5.79-.08a7.93,7.93,0,0,1-2.66-.49,4.75,4.75,0,0,1-2.72-2.72,7.93,7.93,0,0,1-.49-2.66c-.07-1.51-.08-2-.08-5.79s0-4.28.08-5.79a7.93,7.93,0,0,1,.49-2.66,4.75,4.75,0,0,1,2.72-2.72,7.93,7.93,0,0,1,2.66-.49c1.51-.07,2-.08,5.79-.08m0-2.58c-3.89,0-4.38,0-5.91.09a10.52,10.52,0,0,0-3.48.67,7.33,7.33,0,0,0-4.19,4.19,10.52,10.52,0,0,0-.67,3.48c-.07,1.53-.09,2-.09,5.91s0,4.38.09,5.91a10.52,10.52,0,0,0,.67,3.48,7.33,7.33,0,0,0,4.19,4.19,10.52,10.52,0,0,0,3.48.67c1.53.07,2,.09,5.91.09s4.38,0,5.91-.09a10.52,10.52,0,0,0,3.48-.67,7.33,7.33,0,0,0,4.19-4.19,10.52,10.52,0,0,0,.67-3.48c.07-1.53.09-2,.09-5.91s0-4.38-.09-5.91a10.52,10.52,0,0,0-.67-3.48,7.33,7.33,0,0,0-4.19-4.19,10.52,10.52,0,0,0-3.48-.67C29.38,10.69,28.91,10.67,25,10.67Z" fill="#fff"></path>
            <path d="M25,17.64A7.36,7.36,0,1,0,32.36,25,7.36,7.36,0,0,0,25,17.64Zm0,12.14A4.78,4.78,0,1,1,29.78,25h0A4.78,4.78,0,0,1,25,29.78Z" fill="#fff"></path>
            <circle cx="32.65" cy="17.35" r="1.72" fill="#fff"></circle>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="region region-footer cr-footer">
    <nav role="navigation" aria-labelledby="block-expandedfooter-menu" id="block-expandedfooter" class="contextual-region block block-menu navigation menu--expanded-footer">
      <h2 class="visually-hidden" id="block-expandedfooter-menu">Expanded Footer</h2>
      <ul class="menu menu--level-0">
        <li class="menu-item menu-item--expanded menu-item--1 clearfix">
          <a href="/" aria-expanded="false" aria-haspopup="true" title="A Second Menu" data-drupal-link-system-path="<front>" role="button">Hear From Us</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix">
            <li class="menu-item menu-item--1 clearfix">
              <a class="js-esu-popup" href="#">
                <svg class="icon" focusable="false" tabindex= "-1">
                  <use xlink:href="#envelope"></use>
                </svg>
                Get the newsletter
              </a>
            </li>
            <li class="menu-item menu-item--2 clearfix">
              <a href="/" data-drupal-link-system-path="<front>" >Choose how we contact you</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--2 clearfix">
          <a href="/" aria-expanded="false" aria-haspopup="true" title="Get in touch" data-drupal-link-system-path="<front>" role="button">Get in touch</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix menu--has-3-items">
            <li class="menu-item menu-item--1 clearfix">
              <a href="/" data-drupal-link-system-path="<front>" >Contact us</a>
            </li>
            <li class="menu-item menu-item--2 clearfix">
              <a href="/" title="Your Gift Aid" data-drupal-link-system-path="<front>" >Your Gift Aid</a>
            </li>
            <li class="menu-item menu-item--3 clearfix">
              <a href="/" title="FAQs" data-drupal-link-system-path="<front>">FAQs</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--3 clearfix">
          <a href="/" aria-expanded="false" aria-haspopup="true" data-drupal-link-system-path="<front>" role="button">About us</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix menu--has-3-items menu--has-6-items">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/mission" title="Mission">Mission</a>
              </li>
              <li class="menu-item menu-item--2 clearfix">
                <a href="/our-history" title="Our history">Our history</a>
              </li>
              <li class="menu-item menu-item--3 clearfix">
                <a href="/finances" title="Finances">Finances</a>
              </li>
            </div>
            <div class="menu--expanded-footer__right">
              <li class="menu-item menu-item--4 clearfix">
                <a href="/partners" title="Partners">Partners</a>
              </li>
              <li class="menu-item menu-item--5 clearfix">
                <a href="/meet-the-team" title="Meet the team">Meet the team</a>
              </li>
              <li class="menu-item menu-item--6 clearfix">
                <a href="/Sport-Relief" title="Sport Relief">Sport Relief</a>
              </li>
            </div>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--4 clearfix">
          <a href="/" aria-expanded="false" aria-haspopup="true" title="Careers" data-drupal-link-system-path="<front>" role="button">Careers</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix menu--has-3-items menu--has-6-items">
            <li class="menu-item menu-item--1 clearfix">
              <a href="/" title="Open roles" data-drupal-link-system-path="<front>">Open roles</a>
            </li>
            <li class="menu-item menu-item--2 clearfix">
              <a href="/" title="Working at Comic Relief" data-drupal-link-system-path="<front>">Working at Comic Relief</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--5 clearfix">
          <a href="/" aria-expanded="false" aria-haspopup="true" title="News" data-drupal-link-system-path="<front>" role="button">News</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix menu--has-3-items menu--has-6-items">
            <li class="menu-item menu-item--1 clearfix">
              <a href="/news" title="News" data-drupal-link-system-path="node/427">News</a>
            </li>
            <li class="menu-item menu-item--2 clearfix">
              <a href="/" title="News" data-drupal-link-system-path="<front>">Press Area</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--6 clearfix">
          <a href="/"aria-expanded="false" aria-haspopup="true" title="Legal" data-drupal-link-system-path="<front>" role="button" >Legal</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-2-items menu--level-1 clearfix menu--has-3-items menu--has-6-items menu--has-4-items">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/Privacy-policy" title="Privacy policy">Privacy policy</a>
              </li>
              <li class="menu-item menu-item--2 clearfix">
                <a href="/Terms-of-use" title="Terms of use">Terms of use</a>
              </li>
            </div>
            <div class="menu--expanded-footer__right">
              <li class="menu-item menu-item--3 clearfix">
                <a href="/Cookies" title="Cookies">Cookies</a>
              </li>
              <li class="menu-item menu-item--4 clearfix">
                <a href="/positive-practices" title="Positive practices">Positive practices</a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
      <span class="lg-breakpoint" />
    </nav>
  </div>
  <div class="footer__copyright">
    <p>© Comic Relief 2018. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
  </div>
  <div class="footer__branding">
  <a title="Comic Relief" href="http://www.comicrelief.com/" rel="home" target="_blank">
   <svg class="icon">
      <use xlink:href="#crlogo2018"></use>
    </svg>
  </a>
</div>
</footer>