<footer role="contentinfo" class="footer--expanded">
  <div class="footer__social-links">
    <ul>
      <li>
        <a href="https://www.facebook.com/comicrelief" title="Facebook" target="_blank" class="icon__fb">
          <svg class="icon">
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/comicrelief" title="Twitter" target="_blank" class="icon__twitter">
          <svg class="icon">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UCdF5u0ggeSETozc8fsprjcw" title="Youtube" target="_blank" class="icon__youtube">
          <svg class="icon">
            <use xlink:href="#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/comicrelief" title="Instagram" target="_blank" class="icon__instagram">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50">
            <defs>
              <radialGradient id="a" cx="14.53" cy="2.37" r="50.41" gradientTransform="matrix(1, 0, 0, -1, 0, 52.25)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ffd676"></stop>
                <stop offset="0.25" stop-color="#f2a454"></stop>
                <stop offset="0.38" stop-color="#f05c3c"></stop>
                <stop offset="0.7" stop-color="#c22f86"></stop>
                <stop offset="0.96" stop-color="#6666ad"></stop>
                <stop offset="0.99" stop-color="#5c6cb2"></stop>
              </radialGradient>
            </defs>
            <title>Rednoseday Instagram</title>
            <desc>Visit Rednoseday instagram page</desc>
            <circle cx="25" cy="25" r="25" fill="url(#a)"></circle>
            <path d="M25,13.25c3.83,0,4.28,0,5.79.08a7.93,7.93,0,0,1,2.66.49,4.75,4.75,0,0,1,2.72,2.72,7.93,7.93,0,0,1,.49,2.66c.07,1.51.08,2,.08,5.79s0,4.28-.08,5.79a7.93,7.93,0,0,1-.49,2.66,4.75,4.75,0,0,1-2.72,2.72,7.93,7.93,0,0,1-2.66.49c-1.51.07-2,.08-5.79.08s-4.28,0-5.79-.08a7.93,7.93,0,0,1-2.66-.49,4.75,4.75,0,0,1-2.72-2.72,7.93,7.93,0,0,1-.49-2.66c-.07-1.51-.08-2-.08-5.79s0-4.28.08-5.79a7.93,7.93,0,0,1,.49-2.66,4.75,4.75,0,0,1,2.72-2.72,7.93,7.93,0,0,1,2.66-.49c1.51-.07,2-.08,5.79-.08m0-2.58c-3.89,0-4.38,0-5.91.09a10.52,10.52,0,0,0-3.48.67,7.33,7.33,0,0,0-4.19,4.19,10.52,10.52,0,0,0-.67,3.48c-.07,1.53-.09,2-.09,5.91s0,4.38.09,5.91a10.52,10.52,0,0,0,.67,3.48,7.33,7.33,0,0,0,4.19,4.19,10.52,10.52,0,0,0,3.48.67c1.53.07,2,.09,5.91.09s4.38,0,5.91-.09a10.52,10.52,0,0,0,3.48-.67,7.33,7.33,0,0,0,4.19-4.19,10.52,10.52,0,0,0,.67-3.48c.07-1.53.09-2,.09-5.91s0-4.38-.09-5.91a10.52,10.52,0,0,0-.67-3.48,7.33,7.33,0,0,0-4.19-4.19,10.52,10.52,0,0,0-3.48-.67C29.38,10.69,28.91,10.67,25,10.67Z" fill="#fff"></path>
            <path d="M25,17.64A7.36,7.36,0,1,0,32.36,25,7.36,7.36,0,0,0,25,17.64Zm0,12.14A4.78,4.78,0,1,1,29.78,25h0A4.78,4.78,0,0,1,25,29.78Z" fill="#fff"></path>
            <circle cx="32.65" cy="17.35" r="1.72" fill="#fff"></circle>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="region region-footer cr-footer">
    <!-- THEME DEBUG -->
    <!-- THEME HOOK: 'block' -->
    <!-- FILE NAME SUGGESTIONS:
      * block--expandedfooter.html.twig
      x block--system-menu-block--expanded-footer.html.twig
      * block--system-menu-block.html.twig
      * block--system.html.twig
      * block.html.twig
      -->
    <!-- BEGIN OUTPUT from 'themes/custom/comicrelief/templates/layout/footer/block--system-menu-block--expanded-footer.html.twig' -->
    <nav role="navigation" aria-labelledby="block-expandedfooter-menu" id="block-expandedfooter" class="block block-menu navigation menu--expanded-footer">
      <h2 class="visually-hidden" id="block-expandedfooter-menu">Expanded Footer</h2>
      <ul class="menu menu--level-0">
        <li class="menu-item menu-item--expanded menu-item--1 clearfix">
          <a href="/" data-drupal-link-system-path="<front>" class="is-active">Hear From Us</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-6-items menu--level-1 clearfix">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/newsletter" title="Get the newsletter">Get the newsletter</a>
              </li>
              <li class="menu-item menu-item--2 clearfix">
                <a href="/how-we-contact-you" title="Choose how we contact you">Choose how we contact you</a>
              </li>
              <li class="menu-item menu-item--3 clearfix">
                <a href="/another-link" title="Another link">Another link</a>
              </li>
            </div>
            <div class="menu--expanded-footer__right">
              <li class="menu-item menu-item--4 clearfix">
                <a href="/yet-another-link" title="Yet Another Link">Yet Another Link</a>
              </li>
              <li class="menu-item menu-item--5 clearfix">
                <a href="/a-fifth-link" title="A Fifth Link">A Fifth Link</a>
              </li>
              <li class="menu-item menu-item--6 clearfix">
                <a href="/sixth-link">A Final Sixth Link</a>
              </li>
            </div>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--2 clearfix">
          <a href="/" title="A Second Menu" data-drupal-link-system-path="<front>" class="is-active">A Second Menu</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-6-items menu--level-1 clearfix menu--has-1-items">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/" title="Another Link In The Wall" data-drupal-link-system-path="<front>" class="is-active">Another Link In The Wall</a>
              </li>
            </div>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--3 clearfix">
          <a href="/" title="A Third Menu" data-drupal-link-system-path="<front>" class="is-active">A Third Menu</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-6-items menu--level-1 clearfix menu--has-1-items">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/thirdfifhsid" title="A Third menu link">A Third menu link</a>
              </li>
            </div>
          </ul>
        </li>
        <li class="menu-item menu-item--expanded menu-item--4 clearfix">
          <a href="/" title="A fourth menu" data-drupal-link-system-path="<front>" class="is-active">A Fourth Menu</a>
          <ul class="menu menu--level-0 menu menu--expanded-footer menu--has-6-items menu--level-1 clearfix menu--has-1-items">
            <div class="menu--expanded-footer__left">
              <li class="menu-item menu-item--1 clearfix">
                <a href="/some-link" title="Fourth Menu link">Fourth Menu link</a>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__copyright">
    <p>© Comic Relief 2018. Comic Relief, registered charity 326568 (England/Wales); SC039730 (Scotland)</p>
  </div>
</footer>