.paragraph--membership-donate-widget {
    width: 100%;
    height: 755px;

    img {
        position: absolute;
        bottom: 0;
    }

    .mdw {
        &__wrapper-copy {
            padding: 0 17px;
            text-align: center;


            &--title {
                padding-top: 32px;

                h1 {
                    margin-bottom: 10px;
                }

                p {
                    padding: 0 30px;
                }
            }

            &--form {
                background: $colour-white;
                margin-top: 30px;
            }
        }
    }

}