.paragraph--membership-donate-widget {
    width: 100%;
    height: 755px;

    img {
        position: absolute;
        bottom: 0;
    }

    .mdw {
        &__wrapper-copy {
            position: relative;
            padding: 0 15px;
            text-align: center;


            &--title {
                padding-top: 32px;

                h1 {
                    margin-bottom: 10px;
                }

                p {
                    padding: 0 30px;
                }
            }

            &--form {

                width: 100%;
                background: $colour-white;
                padding: 0 20px;
                margin-top: 30px;

                p {
                    padding: 20px 11px;
                    margin: 0;
                    font-weight: bold;
                }

                .money-boxes {

                    display: flex;
                    justify-content: space-between;

                    .select-amount-btn {
                        width: calc((100% - (20 / 220) * 100%) / 3);
                        height: 62px;
                        border: 1px solid $colour-grey;
                        position: relative;
                        padding: 0;
                        margin: 0;
                        border-radius: 0;

                        span {
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            left: 50%;
                            font-size: 20px;
                            font-weight: 800;
                        }

                        &--2,
                        &--3 {
                            margin-left: calc((14 / 250) * 100%);
                        }
                    }
                }

                label {
                    padding: 0;
                    margin-top: 20px;
                    margin: 20px 0 6px;
                    letter-spacing: -0.2px;
                    line-height: 2.18;
                    font-weight: 500;
                    text-align: left;
                }

                .form__fieldset {
                    display: flex;
                    margin-bottom: 40px;

                    input,
                    select {
                        height: 44px;
                        border: 2px solid $colour-grey;
                    }

                    select {
                        background: $colour-grey;
                    }
                }
                .donation-copy {
                    p {
                        font-weight: 500;
                        font-size: 11px;
                    }
                }
            }
        }
    }

}