<header class="header" role="banner">
	<div class="header__inner-wrapper">
    <div id="block-branding" class="block block-branding">
      <a href="https://www.comicrelief.com" title="Home" rel="home noopener noreferrer" class="site-logo site-logo--crdonate">
        <img src="../../../kss-assets/images/cr_logo.png" alt="Home">
      </a>
    </div>
  </div>
</header>
<main role="role">
  <div class="promo-header promo-header--default promo-header--small" style="background: url('../../kss-assets/images/promo-header-1170-450.jpg') center top no-repeat transparent;"></div>
  <div class="inner-content failure">
      <h1>Oops, your payment <br /> didn&apos;t go through</h1>
      <h2>Your transaction failed and you&apos;ve not been charged</h2>
      <a class="btn btn--red" href="/">Try again</a>
      <p>
        If you continue to encounter this problem please <a className="hyperlink" href="https://www.comicrelief.com/contact-us"><strong>contact the support team</strong></a>
      </p>
    </div>
</main>

