<header class="header" role="banner">
	<div class="header__inner-wrapper">
    <div id="block-branding" class="block block-branding">
      <a href="https://www.comicrelief.com" title="Home" rel="home noopener noreferrer" class="site-logo site-logo--crdonate">
        <img src="./kss-assets/images/cr_logo.svg" alt="Home">
      </a>
    </div>
  </div>
</header>
<main>
<div class="promo-header promo-header--default promo-header--small" style="background: url('./kss-assets/images/promo-header-1170-450.jpg') center top no-repeat transparent;"></div>
   <div class="inner-content inner-content--success">
      <h1>Thank you, deee!</h1>
      <p class="success-transactionsid">Transaction ID: b8d1a3a2-8596-416d-b512-a8d4c0c7d891</p>
      <div class="success-social-links">
         <span>Let the world know!</span>
         <ul>
            <li>
               <a href="#facebook-share" aria-label="Share on Facebook. (Opens in a new window)." target="_blank" class="icon__fb">
                  <svg class="icon">
                     <use xlink:href="#icon-facebook"></use>
                  </svg>
               </a>
            </li>
            <li>
               <a href="#twitter-share" aria-label="Share on Twitter. (Opens in a new window)." target="_blank" class="icon__twitter">
                  <svg class="icon">
                     <use xlink:href="#icon-twitter"></use>
                  </svg>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <div class="form__row--upsell">
      <div class="cards cards--three-grid-centre cards--three-grid-unit">
         <div class="cards-header">
            <h2>Your £1 goes a long way</h2>
            <p>We currently support more than 2,000 projects in the UK and around the world, tackling issues like malaria, mental illness. These are some of the people we helped last year:</p>
         </div>
         <div class="cards__wrapper">
            <div class="cards__item">
               <div class="cards__image cards__item--kevin-story"></div>
               <div class="cards__content-wrapper">
                  <div class="cards__content">
                     <p>" If it wasn't for this place, I would be dead."</p>
                     <p><a href="https://www.sportrelief.com/where-your-money-goes/kevin" class="link link--black" target="_blank" rel="noopener noreferrer">Kevin's story<span class="visuallyhidden">(opens in a new window)</span></a></p>
                  </div>
               </div>
            </div>
            <div class="cards__item">
               <div class="cards__image cards__item--aziza-story"></div>
               <div class="cards__content-wrapper">
                  <div class="cards__content">
                     <p>" Malaria impacts my daily life."</p>
                     <p><a href="https://www.sportrelief.com/where-your-money-goes/aziza/" class="link link--black" target="_blank" rel="noopener noreferrer">Aziza's story<span class="visuallyhidden">(opens in a new window)</span></a></p>
                  </div>
               </div>
            </div>
            <div class="cards__item">
               <div class="cards__image cards__item--georgia-story"></div>
               <div class="cards__content-wrapper">
                  <div class="cards__content">
                     <p>"I got really ill, I felt I was up to failure."</p>
                     <p><a href="https://www.sportrelief.com/where-your-money-goes/georgia" class="link link--black" target="_blank" rel="noopener noreferrer">Georgia's story<span class="visuallyhidden">(opens in a new window)</span></a></p>
                  </div>
               </div>
            </div>
         </div>
         <a href="https://www.comicrelief.com/your-impact" aria-label="See where your money goes" class="btn btn--red">More about your impact</a>
      </div>
   </div>
</main>

<div class="partners">
   <section class="donate__partners">
      <div class="donate__partners-fr"><img src="./kss-assets/images/frsb.png" alt="Registered with Fundraising Regulator - Logo"></div>
      <div class="donate__partners-digicert"><img src="./kss-assets/images/logo_digicert_v1.jpg" alt="DigiCert Logo"></div>
      <p class="donate__partners-copy font--xsmall">By working with the best partners like Braintree, DigiCert, Paypal, Stripe and WorldPay, we'll keep your data safe. <a class="hyperlink" href="https://www.cafonline.org/" aria-label="Click here to go to Charities Aid Foundation account">Donate using your Charities Aid Foundation account</a></p>
   </section>
</div>