@import "components/background-colours/background-colours";
@import "components/buttons/buttons";
@import "components/highlight/highlight";
@import "components/links/links";
@import "components/loading/loading";
@import "components/content-block/content-block";
@import "components/media-block/media-block";
@import "components/typography/fonts";
@import "components/typography/typography";
@import "components/single-msg/single-msg";
@import "components/navigation/main-nav";
@import "components/cookie-consent/cookie-consent";
@import "components/meta-icons/meta-icons";
@import "components/navigation/expanded-footer";
@import "components/email-signup/email-signup-head";
@import "components/news-teaser/news-article-teaser";
@import "components/list/list";
@import "components/just-in-time-block/just-in-time-block";
@import "components/fixed-ratio-image/fixed-ratio-image";
@import "components/full-height-single-image-single-copy/full-height-single-image-single-copy";
@import "components/full-height-double-image-single-copy/full-height-double-image-single-copy";
@import "components/full-height-single-image-triple-copy/full-height-single-image-triple-copy";
@import "components/full-height-single-image/full-height-single-image";
@import "components/copy-copy/copy-copy";

body {
  font-family: $montserrat;
  font-weight: 500;
}
header[role=banner] {
  .site-logo {
    margin-top: 20px;
  }   
}

// Social links
.footer__social-links {
  margin: 0 0 20px;
  li {
    margin: 5px 4px 0;
    @include breakpoint($screen-md) {
      margin: 5px 8px 0;
    }
    a {
      -webkit-transition: 0.5s opacity;
      transition: 0.5s opacity;
      border-radius: 50%;
      background: black;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
