// ==========================================================================
// Core components
// ==========================================================================

@import "../../../base/core/base-1-mixins";
@import "../../../base/core/base-breakpoints";
@import "../../../base/core/base-common";
@import "../../../base/core/base-grid";
@import "../../../base/core/base-helper";
@import "../../../base/core/base-layout";
@import "../../../base/core/base-reset";

// ==========================================================================
// Core variables
// ==========================================================================

@import "../../../base/variables/_grid.scss";
@import "../../../base/variables/_colours.scss";
@import "../../../base/variables/_typography.scss";
@import "../../../base/variables/_lists.scss";
@import "../../../base/variables/_theme.scss";

// ==========================================================================
// Sub Theme variables
// ==========================================================================

@import "variables/_colours.scss";
@import "variables/_typography.scss";
@import "variables/_mixins.scss";

// ==========================================================================
// Core components
// ==========================================================================

// Increase max width
$max-width: 1440px;

// Tweak column-gutter ratio
$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: 40px/60px,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to
);

// Or choose components one by one
@import "../../../base/components/background-colours/background-colours";
@import "../../../base/components/background-single-msg/background-single-msg";
@import "../../../base/components/banners/card-banner";
@import "../../../base/components/card-block/card";
@import "../../../base/components/cards/cards";
@import "../../../base/components/content-block/content-block";
@import "../../../base/components/content-wall/content-wall";
@import "../../../base/components/cookie-consent/cookie-consent";
@import "../../../base/components/custom-block/custom-block";
@import "../../../base/components/email-signup/email-signup-head";
@import "../../../base/components/email-signup/email-signup";
@import "../../../base/components/feature-articles-block/feature-articles-block";
@import "../../../base/components/footer/footer";
@import "../../../base/components/form/form";
@import "../../../base/components/grid/grid";
@import "../../../base/components/header/base-header";
@import "../../../base/components/iframe-block/iframe-block";
@import "../../../base/components/lightcase/lightcase";
@import "../../../base/components/list/list";
@import "../../../base/components/media-block/media-block";
@import "../../../base/components/media/media";
@import "../../../base/components/navigation/feature-nav";
@import "../../../base/components/navigation/footer-nav";
@import "../../../base/components/navigation/hamburger-menu-button";
@import "../../../base/components/navigation/main-nav";
@import "../../../base/components/news-article/news-article";
@import "../../../base/components/news-article/press-release-article";
@import "../../../base/components/news-overview/news";
@import "../../../base/components/news-teaser/news-article-teaser";
@import "../../../base/components/news-teaser/news-teaser";
@import "../../../base/components/pagination/pagination";
@import "../../../base/components/paragraph--cr-single-message-row/paragraph--cr-single-message-row";
@import "../../../base/components/partners-row/partners-row";
@import "../../../base/components/partners-grid/partners-grid";
@import "../../../base/components/partners/partners";
@import "../../../base/components/promo-header/promo-header";
@import "../../../base/components/quote-block/content-wall-quote";
@import "../../../base/components/related-articles/related-articles";
@import "../../../base/components/search-results/search-result";
@import "../../../base/components/search/search-block";
@import "../../../base/components/selectbox/selectbox";
@import "../../../base/components/social/social";
@import "../../../base/components/table/table";
@import "../../../base/components/teaser-block/teaser-block";
@import "../../../base/components/tooltips/tooltips";
@import "../../../base/components/typography/typography";
@import "../../../base/components/views/views";
@import "../../../base/components/just-in-time-block/_just-in-time";
@import "../../../base/components/form/_standard-form.scss";

// ==========================================================================
// Sub theme components overrides
// ==========================================================================
@import "_cr19-styleguide.scss";
@import "_cr19-components";
@import "../../../base/components/postcode-lookup/_postcode-lookup";
