// Colours
// 
// Markup: colour.twig
//
// Style guide: 10.5

// SR Colours

$colour-black: #030e1a;
$colour-dark-blue: #061d38;
$colour-dark-blue-lighter: #223c59;
$colour-ruby: #e81962;
$colour-white-smoke: #fbf5f5;

// gradient colours
$colour-purple: #ab12e3;
$colour-red: #e81a62;


