// Colours
//
// Markup: colour.twig
//
// Style guide: 10.5

// SR Colours

$colour-black: #030e1a;
$colour-dark-blue: #061d38;
$colour-dark-blue-lighter: #223c59;
$colour-ruby: #e7135d;
$colour-white-smoke: #fbf5f5;
$colour-white: #ffffff;
$colour-purple: #ab12e3;
$colour-green: #008000;
$colour-grey: #bfbfbf;
