
$colour-black: #030e1a;
$colour-dark-blue: #061d38;
$colour-dark-blue-lighter: #223c59;
$colour-ruby: #e7135d;
$colour-white-smoke: #fbf5f5;
$colour-white: #ffffff;
$colour-purple: #ab12e3;
$colour-green: #008000;
$colour-grey: #bfbfbf;

// SR19 colours
$colour-SR19-white: #ffffff;
$colour-SR19-black: #030e1a;
$colour-SR19-light-blue:#86E4E9;
$colour-SR19-dark-blue: #3A4972;
$colour-SR19-coral: #FF6F61;
$colour-SR19-red: #E52630;

/* SR20 colours */

// Primy
$colour-SR20-deep-violet: #2c0230;
$colour-SR20-red: #e52530;
$colour-SR20-dark-blue:#3a4972;
$colour-SR20-light-blue:#274084;
$colour-SR20-white: #ffffff;

//Secondy
$colour-SR20-yellow: #FFE400;
$colour-SR20-green: #4ecd57;
$colour-SR20-cyan-blue: #22CFD8;
$colour-SR20-light-grey: #f4f2f4;

//Schoolsy
$colour-SR20-purple: #7F58A5;
