//Background - font colour mixins
@mixin dark-backgrounds() {
  h2, h3, h4, h5, p, strong, .link {
    color: $colour-white;
  }
  .bg--white-smoke,
  .bg--white {
    h2, h3, h4, h5 {
      color: $colour-dark-blue;
    }
    p, strong, .link {
      color: $colour-dark-blue-lighter;
    }
  }
}
@mixin light-backgrounds() {
  h2, h3, h4, h5 {
    color: $colour-dark-blue;
  }
  p, strong, .link {
    color: $colour-dark-blue-lighter;
  }
  .bg--black,
  .bg--dark-blue,
  .bg--dark-blue-lighter,
  .bg--ruby,
  .bg--gradient-ruby-purple,
  .bg--gradient-purple-ruby {
    h2, h3, h4, h5, p, strong, .link {
      color: $colour-white;
    }
  }
}

@mixin sr_button_types($colour, $bg-colour) {
  color: $colour;
  background-color: $bg-colour;
  &:hover,
  &:focus,
  &:active {
    @if ($bg-colour == $colour-black) or ($bg-colour == $colour-dark-blue) or ($bg-colour == $colour-dark-blue-lighter) {
      background-color: lighten($bg-colour, 10%);
    }
    @else {
      background-color: darken($bg-colour, 5%);
    } 
  }
  &-ghost {
    padding: 20px 29px;
    border: 1px solid $bg-colour;
    color: $bg-colour;
    background-color: transparent;
    background-clip: initial;
    &:hover {
      background-color: $bg-colour;
      color: $colour;
    }
  }
}
