//Background - font colour mixins
@mixin dark-backgrounds() {
  h2, h3, h4, h5, p, strong, .link {
    //default colour
    color: $colour-white;
    // if specific colour is chosen to override default
    &.font--white-smoke {
      color: $colour-white-smoke;
    }
    &.font--white {
      color: $colour-white;
    }
  }
  .bg--white-smoke,
  .bg--white {
    //default colour
    h2, h3, h4, h5 {
      color: $colour-dark-blue;
    }
    p, strong, .link {
      color: $colour-dark-blue-lighter;
    }
    // if specific colour is chosen to override default
    h2, h3, h4, h5, p, strong, .link {
      @for $color from 1 to (length($darkColorList)+1) {
        @include font-variation(nth($darkColorList, $color));
      }
    }
  }
}
@mixin light-backgrounds() {
  //default colour
  h2, h3, h4, h5 {
    color: $colour-dark-blue;
  }
  p, strong, .link {
    color: $colour-dark-blue-lighter;
  }
  // if specific colour is chosen to override default
  h2, h3, h4, h5, p, strong, .link {
    @for $color from 1 to (length($darkColorList)+1) {
      @include font-variation(nth($darkColorList, $color));
    }
  }
  .bg--black,
  .bg--dark-blue,
  .bg--dark-blue-lighter,
  .bg--ruby,
  .bg--gradient-ruby-purple,
  .bg--gradient-purple-ruby {
    h2, h3, h4, h5, p, strong, .link {
      //default colour
      color: $colour-white;
      // if specific colour is chosen to override default
      &.font--white-smoke {
        color: $colour-white-smoke;
      }
      &.font--white {
        color: $colour-white;
      }
    }
  }
}

/**
 * Parameters
 * $color[1] = name
 * $color[2] = font colour
 */
@mixin font-variation($color) {
  .font--#{nth($color, 1)} {
    color: nth($color, 2);
  }
}

@mixin sr_button_types($colour, $bg-colour) {
  color: $colour;
  background-color: $bg-colour;
  &:hover,
  &:focus,
  &:active {
    @if ($bg-colour == $colour-black) or ($bg-colour == $colour-dark-blue) or ($bg-colour == $colour-dark-blue-lighter) {
      background-color: lighten($bg-colour, 10%);
    }
    @else {
      background-color: darken($bg-colour, 5%);
    } 
  }
  &-ghost {
    padding: 20px 29px;
    border: 1px solid $bg-colour;
    color: $bg-colour;
    background-color: transparent;
    background-clip: initial;
    &:hover {
      background-color: $bg-colour;
      color: $colour;
    }
  }
}
