// Buttons
@mixin sr_button_types($colour, $bg-colour) {
  color: $colour;
  background-color: $bg-colour;
  &:hover,
  &:focus,
  &:active {
    @if ($bg-colour == $colour-black) or ($bg-colour == $colour-dark-blue) or ($bg-colour == $colour-dark-blue-lighter) {
      background-color: lighten($bg-colour, 10%);
    }
    @else {
      background-color: darken($bg-colour, 5%);
    } 
  }
  &-ghost {
    padding: 20px 29px;
    border: 1px solid $bg-colour;
    color: $bg-colour;
    background-color: transparent;
    background-clip: initial;
    &:hover {
      background-color: $bg-colour;
      color: $colour;
    }
  }
}

@mixin gradient-background($colour1, $colour2) {
  background-color: transparent;
  background-image: linear-gradient(90deg, $colour1 0%, $colour2 100%);
}

// Links
@mixin link_colour($colour) {
  border-bottom: 1px solid $colour;
  color: $colour;
}

// hide tooltips when meta-icons are active 
@mixin hidetooltips($active) {
  @if $active == 'true' {
    $tooltip-display: none !global;
  }
  @else {
    $tooltip-display: block !global;
  }
}
