<h3>Primary palette</h3>
<p>Across the site we use</p>
<div style="display: inline-block; margin: 10px">
  <div class="bg--black" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-black <br><br><br></p>
  <p>#030e1a</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--dark-blue" style="border: 1px solid black; height: 99px; display:block; width: 99px;"></div>
  <p><br/>$colour-dark-blue <br/>text colour for<br/> headings</p>
  <p>#061d38</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--dark-blue-lighter" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-dark-blue-lighter <br/>text colour for<br/>paragraphs</p>
  <p>#223c59</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--ruby" style="height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-ruby <br><br><br></p>
  <p>#e7135d</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--white-smoke" style="border: 1px solid black; height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-white-smoke <br><br><br></p>
  <p>#fbf5f5</p>
</div>
<div style="display: inline-block; margin: 10px">
  <div class="bg--white" style="border: 1px solid black; height: 100px; display:block; width: 100px;"></div>
  <p><br/>$colour-white <br><br><br></p>
  <p>#ffffff</p>
</div>
