<h3>Primary palette</h3>
<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-deep-violet" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-deep-violet <br><br><br></p>
  <p>#2c0230</p>
</div>

<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-red" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-red <br><br><br></p>
  <p>#e52530</p>
</div>


<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-dark-blue" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-dark-blue <br><br><br></p>
  <p>#3a4972</p>
</div>

<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-white" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-white <br><br><br></p>
  <p>#ffffff</p>
</div>

<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-yellow" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-yellow <br><br><br></p>
  <p>#FFE400</p>
</div>


<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-green" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-green <br><br><br></p>
  <p>#4ecd57</p>
</div>


<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-cyan-blue" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-cyan-blue <br><br><br></p>
  <p>#22CFD8</p>
</div>


<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-light-grey" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-light-grey <br><br><br></p>
  <p>#f4f2f4</p>
</div>

<div style="display: inline-block; margin: 10px">
  <div class="bg--SR20-purple" style="height: 100px; display:block; width: 100px; border: 1px solid black;"></div>
  <p><br/>$colour-SR20-purple <br><br><br></p>
  <p>#7F58A5</p>
</div>
