<div class="block block-sr-footer-app-links">
  <div class="footer-app-links--outer-wrapper">
      <div class="footer-app-links--inner-wrapper">

        <h1> SR FOOTER APP LINK BLOCK </h1>
        <p><a class="btn btn--ruby" href="http://www.Applelink.com"> apple </a></p>
        <p><a class="btn btn--ruby" href="http://www.AndroidLink.com"> android </a></p>
        
      </div>
  </div>
</div>
