<section class="paragraph--full-height-single-image {{modifier_class}} bg--purple">
    <picture>
        <source srcset="kss-assets/images/16-9-img.jpg" media="all and (min-width: 1024px)" type="image/jpeg"/>
        <source srcset="kss-assets/images/16-9-img.jpg" media="all and (min-width: 740px)" type="image/jpeg"/>
        <source srcset="kss-assets/images/4-3-img.jpg" media="(min-width: 0px)" type="image/jpeg"/>
        <img src="kss-assets/images/16-9-img.jpg" alt="boring" typeof="foaf:Image" />
    </picture>
    <div class="fhsi__text-wrapper  {{modifier_class}}">
        <h1 >Full Height Single Image - 4:3 img on mobile</h1>
        <p><a class="btn btn--white" href="https://www.comicrelief.com/#newsletter" title="find out more about Spectacular">Button</a></p>
    </div>
</section>
