p.inline-icon {

  @extend .text--label-small;
  position: relative;
  padding-left: 28px;

  &:before {
    content: "";
    position: absolute;
    top: -1px;
    left:0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-color: none;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--tw-light {
    &:before {
      background-image: url($image-path + "twitter-icon--light.svg");
    }
  }

  &--ig-light {
    &:before {
      background-image: url($image-path + "ig-icon--light.svg");
    }
  }

  &--tw-dark {
    &:before {
      background-image: url($image-path + "twitter-icon--dark.svg");
    }
  }

  &--ig-dark {
    &:before {
      background-image: url($image-path + "ig-icon--dark.svg");
    }
  }
}