<div class="bg--coral" style="padding: 10px;">
  <p class="inline-icon inline-icon--ig-dark">@ComicRelief</p>
  <p>Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc</p>
</div>


<div class="bg--dark-coral" style="padding: 10px;">
  <p class="inline-icon inline-icon--ig-light">@ComicRelief</p>
  <p>Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc</p>
</div>

<div class="bg--coral" style="padding: 10px;">
  <p class="inline-icon inline-icon--tw-dark">@ComicRelief</p>
  <p>Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc</p>
</div>


<div class="bg--dark-coral" style="padding: 10px;">
  <p class="inline-icon inline-icon--tw-light">@ComicRelief</p>
  <p>Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc</p>
</div>
