<div class="bg--dark-coral" style="padding: 10px;">
  <p class="text--label-small">
    <span class="inline-icon inline-icon--tw-light"></span>@ILikeBigButtsAndICannotCry
  </p>
  <p>
  Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
  </p>
</div>

<div class="bg--dark-coral" style="padding: 10px;">
  <p class="text--label-small">
    <span class="inline-icon inline-icon--ig-light"></span>@HornIfYoureHonky
  </p>
    <p>
  Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
  </p>
</div>

<div class="bg--coral" style="padding: 10px;">
  <p class="text--label-small">
    <span class="inline-icon inline-icon--tw-dark"></span>@GreyMaleAndStale
  </p>
    <p>
  Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
  </p>
  </div>
<div class="bg--coral" style="padding: 10px;">

  <p class="text--label-small">
    <span class="inline-icon inline-icon--ig-dark"></span>@KarmakarmakarmakarmakarmakarmakarmakarmakarmakarmaChameleon
  </p>
    <p>
  Some other copy can go here to illustrate alignment etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc etc 
  </p>
</div>