// RND Theme
//
// General overrides - we need to split those rules to specific files

// Header overrides
header[role=banner] {
  height: 80px;

   @include breakpoint($desktop-nav-breakpoint) {
    height: 107px;
  }
}
// hide top wrapper as this doesn't exist in rnd
.header__top-wrapper {
  display: none;
}

#block-rnd17-branding {
  position: absolute;
  top: 0;
  left: 0;
}

.block--cr-email-signup--head.show .block--cr-email-signup__inner-wrapper {
  @media (min-width: 1150px) {
    top: 76px;  
  }
}


// Footer Social icons
.footer__social-links {
  li {
    margin: 5px 4px 0;
    @media (min-width: 740px) {
      margin: 5px 8px 0;
    }
    a {
      -webkit-transition: 0.5s opacity;
      transition: 0.5s opacity;
      border-radius: 50%;
      background: black;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .icon {
    fill: none;
  }
}
