<p>
	<a class="link link--dark-purple" href="#">Dark purple link</a> <i>.link-dark-purple</i> Look over here, son
</p>
<p>
	<a class="link link--red" href="#">Red link</a> <i>.link-red</i> Look over here, son
</p>
<p>
	<a class="link link--royal-blue" href="#">Royal Blue link</a> <i>.link-royal-blue</i> Look over here, son
</p>
<p>
	<a class="link link--purple" href="#">Purple link</a> <i>.link--purple</i> Look over here, son
</p>
<p>
	<a class="link link--black" href="#">Black link</a> <i>.link--black</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--mint-green" href="#">Mint Green</a> <i>.link-mint-green</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--white" href="#">White link</a> <i>.link--white</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--grey" href="#">Grey link</a> <i>.link--grey</i> Look over here, son
</p>

<p class="font--white bg--black" style="padding: 5px;">
  <a class="link link--grey" href="#">Grey link</a> <i>.link--grey</i> Look over here, son
</p>

<h3>New for 2018!</h3>
<p style="padding: 5px;">
  <a class="link link--green" href="#">Green link</a> <i>.link--green</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--orange" href="#">Orange link</a> <i>.link--orange</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--yellow" href="#">Yellow link</a> <i>.link--yellow</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--light-blue" href="#">Light-blue link</a> <i>.link--light-blue</i> - New for 2018!
</p>


<p class="font--white bg--black">
  <a class="link link--red" href="#">Red link</a> <i>.link--red</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--blue" href="#">Blue link</a> <i>.link--blue</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--magenta" href="#">Magenta link</a> <i>.link--magenta</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--purple" href="#">Purple link</a> <i>.link--purple</i> - New for 2018!
</p>


<h3 style="margin-top: 30px;">Inline Link</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue <a href="#" class="link link--dark-purple inline">inline link</a>, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue</p>


