<p>
	<a class="link link--dark-purple" href="#">Dark purple link</a> <i>.link-dark-purple</i> Look over here, son
</p>
<p>
	<a class="link link--red" href="#">Red link</a> <i>.link-red</i> Look over here, son
</p>
<p>
	<a class="link link--royal-blue" href="#">Royal Blue link</a> <i>.link-royal-blue</i> Look over here, son
</p>
<p>
	<a class="link link--purple" href="#">Purple link</a> <i>.link--purple</i> Look over here, son
</p>
<p>
	<a class="link link--black" href="#">Black link</a> <i>.link--black</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--mint-green" href="#">Mint Green</a> <i>.link-mint-green</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--white" href="#">White link</a> <i>.link--white</i> Look over here, son
</p>
<p class="font--white bg--black" style="padding: 5px;">
	<a class="link link--grey" href="#">Grey link</a> <i>.link--grey</i> Look over here, son
</p>

<p class="font--white bg--black" style="padding: 5px;">
  <a class="link link--grey" href="#">Grey link</a> <i>.link--grey</i> Look over here, son
</p>

<h3>New for 2018!</h3>
<p style="padding: 5px;">
  <a class="link link--cr-green" href="#">CR-green link</a> <i>.link--cr-green</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--cr-orange" href="#">CR-orange link</a> <i>.link--cr-orange</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--cr-yellow" href="#">CR-yellow link</a> <i>.link--cr-yellow</i> - New for 2018!
</p>

<p style="padding: 5px;">
  <a class="link link--cr-light-blue" href="#">CR-light-blue link</a> <i>.link--cr-light-blue</i> - New for 2018!
</p>


<p class="font--white bg--black">
  <a class="link link--cr-red" href="#">CR-red link</a> <i>.link--cr-red</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--cr-blue" href="#">CR-blue link</a> <i>.link--cr-blue</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--cr-magenta" href="#">CR-magenta link</a> <i>.link--cr-magenta</i> - New for 2018!
</p>

<p class="font--white bg--black">
  <a class="link link--cr-purple" href="#">CR-purple link</a> <i>.link--cr-purple</i> - New for 2018!
</p>


<h3 style="margin-top: 30px;">Inline Link</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue <a href="#" class="link link--dark-purple inline">inline link</a>, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue</p>


