// Feature Nav
//
// Markup: feature-nav.twig
//
// Style guide: 185.2

// Feature nav menu open
//
// Markup: feature-nav-open.twig
//
// Style guide: 185.3

.feature-nav {
  float: right;
}
.feature-nav__burger {
  border-right: 2px solid $colour-light-grey;
  border-left: 2px solid $colour-light-grey;
  margin-left: 10px;

  .feature-nav-toggle {

    .c-hamburger__text {
      &:before {
        content: "More";
      }
    }

    &.is-active {
      .c-hamburger__text {
        &:before {
          content: "Close";
        }
      }
    }
  }
}

.feature-nav__icons {
  float: left;
  @include breakpoint($desktop-nav-breakpoint) {
    position: relative;
    z-index: 10;
    float: left;
    height: 103px;
    .icon {
      width: 35px;
      height: 100%;
    }
  }
  .feature-nav-toggle {
    float: right;
    font-size: 16px;
  }
}
.feature-nav__items {
  display: none;
  float: left;
  margin-top: 16px;
  @include breakpoint($desktop-nav-breakpoint) {
    display: block;
  }
  li {
    display: inline-block;
    margin: 0 20px;
    padding: 24px 0;
    a {
      transition: border 0.4s;
      padding: 2px 8px;
      text-decoration: none;
      color: #333;
      border-bottom: 3px solid transparent;
      font-size: 16px;
      line-height: 16px;
      font-family: $body-font;
    }
    &.menu-item--active-trail a,
    &.menu-item--active-trail a:hover,
    a:hover {
      border-bottom: 3px solid $colour-red;
      background-color: transparent;
    }
  }
}

.header__inner-wrapper nav.feature-main-nav {
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 0;
  width: 100%;
  display: none;
  @include breakpoint($screen-md) {
    width: auto;
  }
  @include breakpoint($desktop-nav-breakpoint) {
    top: 103px;
  }
  &.show {
    display: block!important; // override inline style fix flash menu
  }
  .menu {
    margin: 0;
    padding: 10px 0;
    text-align: right;
    background: #051d37;
  }
  .menu--level-0 {
    .menu {
      display: none; // fallback in case there are more levels
    }
  }
  li {
    position: relative;
    /* Main menu text */
    a {
      display: block;
      padding: 10px 30px;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      line-height: 16px;
      font-family: $body-font;
      transition: background-color 180ms;
    }
    /* Reset all our mobile styles */
    &.menu-item--active-trail a,
    &.menu-item--active-trail a:hover,
    a:hover {
      color: #fff;
      background-color: #1e354b;
    }
    .font--red:hover,
    .font--red {
      color: $colour-red;
    }
  }
}
