// Navigation
//
// Different types of navigation
// 
// Style guide: 185

// Main Nav
//
// This is the Main Nav
//
// Markup: main-nav.twig
//
// Style guide: 185.1


/* Main navigation menu styling  */ 
.main-nav-menu {

  .main-nav {
    width: 100%;
  }
  @include breakpoint($screen-md) {
    .main-nav {
      float: right;
      width: 50%;
    }
  }
  @include breakpoint($screen-lg) { 
    .main-nav {
      width: 75%;
      float:right;
    }
  }
}
// Show hamburger toggle button on mobile sizes
.main-nav__icons{
  .main-nav-toggle {
    float: right;
    background-color: transparent;
  }
  @include breakpoint($screen-lg) {
    display: none;
  }
}

.main-nav__items {
  display: none;

  li {
    margin: 0 20px;
    padding: 24px 0;
  }
  a {
    font-family: $body-font;
    font-size: 18px;
    line-height: 20px;
    color: $colour-black;
    text-decoration: none;
  }

  /* Menu opened through hamburger toggle button */
  &.menu-open {
    display: block;
    position: absolute;
    top: 76px;
    width: 100%; 
    background-color: $colour-black;

    li {
      margin: 0;
      padding: 14px;
      display:block;
    }
    a {
      text-decoration: none;
      color: $colour-white;
    }
    li:hover {
      background-color: rgba(100, 100, 100, 0.5);
    }
    
    @include breakpoint($screen-md) {
     width: 50%;
    }
  }
}
/* Show inline menu on desktop size with sub menus on hover */
@include breakpoint($screen-lg) {
  .main-nav {
    > ul { 
      > li {
        height: 76px;
      }    
    }
  }
  .main-nav__items,
  .main-nav__items.menu-open  {
    display: block;
    position: relative;
    top:0;
    width: 100%;
    background-color: $colour-white;

    li {
      display: inline-block;
      background-color: transparent;

      a {
        color: $colour-black;  
      }
    
      // Sub menu, hidden until parent item is hovered
      > ul {
        display: none;
        position: absolute;
        top: 76px;
        padding: 0;
        width: 250px;

        // Sub menu items
        li {
          position: relative;
          margin: 0;
          padding: 14px;
          float: left;
          width: 100%;

          a {
            padding: 0;
            font-size: 16px;
            line-height: 18px;
            text-decoration: none;
            color: $colour-white;
            border:none;
          }

          // Our 'landing page' duplicate link, top of each sub menu
          &.menu-item--duplicate  {

            a {
              font-size: 18px;
              line-height: 24px;

              // Triangle pointer
              &:before {
                content: '';
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                left: 20px;
                top: -20px;
                border: 10px solid transparent;
                border-bottom-color: $colour-black;
              }
              &:after {
                content: "";
                position: absolute;
                line-height: 0;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 0;
                margin: 0 10px;
                border-bottom: 2px solid #666;
              }
            }
          }
          &:hover {
            background-color: rgba(100, 100, 100, 0.5);
            > a span.menu-item__text {
              border-bottom: 3px solid transparent;
            }
          }
        }  
      }
      // Show sub menus on hover
      &:hover {
        background-color: transparent;
        > a span.menu-item__text {
            border-bottom: 3px solid $colour-red;
            background-color: transparent;
          }
        > ul.main-nav__items {
          max-height: 400px;
          height: auto;
          display: block;
          background-color: $colour-black;
        }
      }
    }
  }  
}
