// Navigation
//
// Different types of navigation
// 
// Style guide: 185

// Main Nav
//
// This is the Main Nav
//
// Markup: main-nav.twig
//
// Style guide: 185.1


/* Main navigation menu styling  */ 
.main-nav-menu {

  .main-nav {
    width: 100%;
  }
  @include breakpoint($screen-md) {
    .main-nav {
      float: right;
      width: 50%;
    }
  }
  @include breakpoint($screen-lg) { 
    .main-nav {
      width: 75%;
    }
  }
}
// Show hamburger toggle button on mobile sizes
.main-nav__icons {
  .main-nav-toggle {
    float: right;
    background-color: transparent;
  }
  @include breakpoint($screen-lg) {
    display: none;
  }
}

.main-nav__items {
  position: absolute;
  top: 76px;
  overflow: hidden; 
  width: 100%;
  max-height: 0;
  background-color: $colour-black;
  @include transition-property(max-height);
  @include transition-duration(850ms);

  li {
    padding: 14px 20px;
  }
  a {
    color: $colour-white;
    font-family: $body-font;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
  }

  /* Menu opened through hamburger toggle button */
  &.menu-open {
    max-height: 400px;

    li:hover {
      background-color: rgba(100, 100, 100, 0.5);
    }
  }
}
/* Show inline menu on desktop size with sub menus on hover */
@include breakpoint($screen-lg) {
  .main-nav {
    > ul { 
      > li {
        height: 76px;
      }    
    }
  }
  .main-nav__items,
  .main-nav__items.menu-open {
    position: relative;
    top: 25px;
    overflow: visible;
    width: 100%;
    max-height: none;
    background-color: $colour-white;

    li {
      display: inline-block;
      padding: 0 16px;
      background-color: transparent;

      a {
        color: $colour-black;  
      }
    
      // Sub menu, hidden until parent item is hovered
      > ul {
        display: none;
        position: absolute;
        top: 50px; 
        padding: 0;
        width: 250px;

        // Sub menu items
        li {
          position: relative;
          padding: 14px;
          width: 100%;

          a {
            padding: 0;
            color: $colour-white;
            font-size: 16px;
            line-height: 18px;
            text-decoration: none; 
          }

          // Our 'landing page' duplicate link, top of each sub menu
          &.menu-item--duplicate {

            a {
              font-size: 18px;
              line-height: 24px;

              // Triangle pointer
              &:before {
                display: block;
                position: absolute;
                top: -12px;
                left: 20px;
                width: 12px;
                height: 12px;
                border: 6px solid transparent;
                border-bottom-color: $colour-black;
                content: '';
              }
              &:after {
                position: absolute;
                right: 0;
                bottom: -1px;
                left: 0;
                margin: 0 10px;
                height: 0;
                border-bottom: 2px solid #666;
                content: '';
              }
            }
          }
          &:hover {
            background-color: rgba(100, 100, 100, 0.5);
            > a span.menu-item__text {
              border-bottom: 3px solid transparent;
            }
          }
        }  
      }
      // Show sub menus on hover
      &:hover {
        background-color: transparent;
        > a span.menu-item__text {
            border-bottom: 3px solid $colour-red;
            background-color: transparent;
          }
        > ul.main-nav__items {
          display: block;
          max-height: 400px;
          background-color: $colour-black;
        }
      }
    }
  }  
}
