<div class="main-nav__wrapper">
  <!-- Main navigation menu -->
  <div class="main-nav__icons main-nav__burger">
    <a role="button" class="c-hamburger c-hamburger--htx main-nav-toggle">
      <div class="c-hamburger__text">
        <span class="visually-hidden">Open and close navigation menu</span>
      </div>
      <span></span>
    </a>
  </div>
  <nav role="navigation" class="navigation menu--main">
    <h2 class="visually-hidden" id="main-nav__title"> Main navigation menu </h2>
    <!-- Mobile: navigation toggle button -->
    <ul id="main-menu" class="main-nav__items sm menu--level-0 ">
      <li class="menu-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="/">Fundraise</a>
        <ul class="main-nav__items menu--level-1">
          <li class="menu-item menu-item--duplicate">
            <a href="/">
            </a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 1</a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 2</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="/link">What's going on</a>
        <ul class="main-nav__items menu--level-1">
          <li class="menu-item menu-item--duplicate">
            <a href="/">
            </a>
          </li>
          <li class="menu-item menu-item--expanded">
            <a href="/">Sub-item 1 with child menu</a>
            <ul class="main-nav__items menu--level-2">
              <li class="menu-item">
              <a href="/">Sub-sub item</a>
              </li>
              <li class="menu-item">
                <a href="/">Sub-sub item</a>
              </li>
              <li class="menu-item">
                <a href="/">Sub-sub item</a>
              </li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 2</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="/">FAQ</a>
        <ul class="main-nav__items menu--level-1">
          <li class="menu-item menu-item--duplicate">
            <a href="/">
            </a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 1</a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 2</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item--expanded">
        <a href="/">Legal</a>
        <ul class="main-nav__items menu--level-1">
          <li class="menu-item menu-item--duplicate">
            <a href="/">
            </a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 1</a>
          </li>
          <li class="menu-item">
            <a href="/">Sub-item 2</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
