// Header
//
// Markup: base_header.twig
//
// Style guide: 20.180

header[role=banner] {
  border-bottom: 4px solid #E6E6E6;
  padding-bottom: 10px;
  overflow: visible!important;
  padding-bottom: 0!important;
  background-color: $colour-white;
}
.header__top-wrapper {
  background: $colour-black;
  height: 49px;
}
.header__inner-wrapper {
  @include container;
  position: relative;
  cursor: pointer;

  @include breakpoint($desktop-nav-breakpoint) {
    display: flex;
    justify-content: space-between;

    .main-nav__wrapper {
      margin-right: 40px;
    }
  }
  .block-cr-meta-icons {
    float: right;
  }
}
.block-system-branding-block {
  margin-right: auto;
}
.site-logo {
  float: left;
  min-width: 104px;
  width: 104px;
  height: 60px;
  display: block;    
  margin-top: -38px;
  margin-left: 13px;

  img {
    width: inherit;
  }

  @include breakpoint(md) {
    position: relative;
    z-index: 101;
    width: 124px;
    height: 50px;
    margin-top: 12px;
    margin-left: 15px;
  }
}
