<header role="banner">
  <div class="header__top-wrapper">
  </div>
  <div class="header__inner-wrapper">
  	{% include directory ~ '../navigation/main-nav.twig' %}
  	{% include directory ~ '../meta-icons/meta-icons.twig' %}
  </div>
</header>
