// ==========================================================================
// Footer
// ==========================================================================

footer[role=contentinfo] {
  @include breakpoint($screen-lg) {
    padding: 50px 5px 140px;
  }
}

.menu--footer ul li a {
  font-weight: normal;
  @include font-size($p-small-font-size);
}

.footer__social-links li a {
  margin: 0px 5px;
}

.footer__copyright p {
	color: $colour-background-grey;
}

.footer__copyright p span {
	font-size: 18px;
	position: relative;
	top: 5px;
}
