// ==========================================================================
// Form
// ==========================================================================

label {
  margin-bottom: 2px;
}

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  height: 60px;
  background-color: $colour-input-grey;
  border: 1px solid $colour-border-grey;
  margin-bottom: 15px;

  @include font-size($p-small-font-size);
  @include border-radius(2px); 
  @include breakpoint($screen-md) {
    max-width: 100%;
   }
}

input[type="checkbox"] + span {
  background-color: $colour-input-grey;
	@include border-radius(2px);
}

select {
  @include border-radius(2px);
}

// ==========================================================================
// Form Layout
// ==========================================================================

form {
  width: auto;
  overflow: auto;
  margin: 30px calc(2*#{gutter()});
  padding: 30px;
  background-color: $colour-white;
  word-wrap: break-word;
  border: 1px solid #c7c7c7;

  @include breakpoint($screen-md) {
    width: 100%;
    max-width: 640px;
    margin: 60px auto;
    padding: 40px 100px;
  }
}

.form__group {
  position: relative;
  h2 {
    @include font-size($p-font-size);
  }
  @include breakpoint($screen-md) {
     
  }
}

.form__group--grey {  
  background-color: $smoke-grey;
}

.form__group--fullwidth {
  padding: 0px;
  width: 100%;
}

.form__fieldset,
.form__fieldset--divider { 
  margin: 15px 0px;
}

.form__field--checkbox {
  .form__field--copy {
    @include font-size($p-small-font-size);
  }
}

.page-title {
  text-align: center;

  .intro-copy {
    @include font-size($h2-font-size);
  }
  
  .intro-copy-extra span {
    @include font-size($p-small-font-size);
    font-family: $font-bold;
  }
}


// ==========================================================================
// Form Validation
// ==========================================================================
.validation__wrapper {
  position: relative;
  
  input {
    border: 1px solid $colour-red;
  }
}

.validation__message {
  margin-top: -15px;

  p {
    color: $colour-red;
    color: $colour-red;
    @include font-size($p-small-font-size);
  }
}

// ==========================================================================
// Form Modal
// ==========================================================================
.form__overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  z-index: 1;
}

// ==========================================================================
// Form Component
// ==========================================================================
.form__group--age_selection {
  .age_selection {
    width: 100%;
    border-top: 1px solid $colour-border-grey;
    padding-top: 20px;
  }

  .btn {
    width: 45%;
    @extend .btn--blue-ghost;

    &.active { 
      background-color: $colour-blue;
      color: $colour-white;
      border: 0px;
      padding: 23px 40px 19px;
    }
  }

  .btn + .btn {
    margin: 20px 0px 20px 5px;

    @include breakpoint($screen-md) {
      margin-left: 25px;
    }
  }
}

.form__group--password_input {
  .form__field--intro p {
    color: $colour-background-grey;
    font-style: italic;
  }

  .form__field--checkbox {
    .form__field--copy {
      margin-top: 10px;
      display: inline-block;
    }
  }
}

.form__group--custom_link,
.form__group--terms_conditions {
  a {
    @extend .link;
    @extend .link--blue;
    @include font-size($p-small-font-size);
    @include breakpoint($screen-md) {
      @include font-size($p-font-size);
    }
  }
}

.form__group--terms_conditions {
  text-align: center;
  @include font-size($p-small-font-size);

  @include breakpoint($screen-md) {
    width: 80%;
    margin: auto;
    @include font-size($p-font-size);
  }
}

.form__group--nav_buttons {
  @include clearfix;
  @include span(12);
  
  .form__nav {
    margin-bottom: 10px;

    @include breakpoint($screen-md) {
      @include span(6);
    }
  }
  #btnBack {
    @extend .btn--blue-ghost;
  }
  #btnNext,
  #btnBack {
    @include span(12);
    @include font-size($p-font-size);
  }
}


// ==========================================================================
// Form step
// ==========================================================================
#login-first-credential {
  .page-title {
    .intro-copy {
      @include font-size($p-intro-font-size);
    }
  }
  
  .form__group--login_first_credential {
    .input-with-btn-wrap {
      position: relative;
    }
    #btnNext {
      @extend .btn--rectangle;
      width: 100%;

      @include breakpoint($screen-md) {
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
      }
    }
  }
}

/*
 * No back button
 */
#create-account,
#giving-page {
  .form__group--nav_buttons {
    .form__nav {
      @include breakpoint($screen-md) {
        @include span(12);
      }
    }
    #btnBack {
      display: none;
    }
  }
}
