// ==========================================================================
// Progress indicator
// ==========================================================================

$circle-size: 15px !default;
$circle-line-thickness: 3px !default;
$indicator-thickness: 2px !default;

.progress-indicator {
  @include display-flex;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $colour-border-grey;

  li {
    @include display-flex-element;
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $colour-black;
    display: block;
  }

  li:last-child .progress-indicator__circle {
    &:after {
      display: none;
    }
  }
}

.progress-indicator__circle {
  @include border-radius(50%);
  width: $circle-size;
  height: $circle-size;
  background-color: $colour-white;
  display: block;
  margin: 0 auto 0.5em auto;
  border: $indicator-thickness solid $colour-black;
  text-indent: -999px;
}

.progress-indicator__circle {
  &:after {
    display: block;
    position: absolute;
    top: $circle-size / 2 - $indicator-thickness;
    width: 100%;
    height: $circle-line-thickness;
    content: '';
    background-color: transparent;
    border-bottom: 2px dotted $colour-black;
    left: 50%;
    margin-left: 7px;
    width: 98%;
  }
}

.progress-indicator--done {
  .progress-indicator__circle {
    border: $indicator-thickness solid $colour-blue;
    background-color: $colour-blue;

    &:after {
      border-bottom: $circle-line-thickness solid $colour-blue; 
    }
  }
} 

.progress-indicator--active {
  .progress-indicator__circle {
    border: $indicator-thickness solid $colour-blue;

    &:before {
      @include border-radius(50%);
      display: block;
      position: relative;
      content: '';
      z-index: 100;
      width: $circle-size / 3 + $indicator-thickness;
      height: $circle-size / 3 + $indicator-thickness;
      top: $indicator-thickness;
      left: $indicator-thickness;
      background-color: $colour-blue;
    }
  }
}

// ==========================================================================
// Progress indicator AB test override
// ==========================================================================

.form__group--progress_bar_for_ab_test {
  
  .progress-bar--active {
    color: $colour-black;
  }
  .progress-bar__step {
    text-transform: initial;
    display: block;
    font-weight: bold;
  }
}
