<section class="paragraph--full-height-single-img-single-copy {{modifier_class}} bg--coral">
  <div class="fhsisc__image-wrapper">
   {#  <div class="fhsisc__image"> #}
     <img src="kss-assets/images/1-1-img.jpg">
     {# </div> #}
  </div>
  <div class="fhsisc__text-wrapper">
    <div class="fhsisc__text cr-body">
      <h1 class="font--white text-align-center">
        PREPARE FOR A SPECTACULAR NIGHT OF COMEDY
      </h1>
      <p class="text-align-center">28 February 2019. One night, one stage, eight giants of comedy live at The SSE Arena, Wembley</p>
      <p class="text-align-center"><a class="btn btn--light-coral" href="https://www.comicrelief.com/#newsletter" title="find out more about Spectacular">Sign up for pre-sale tickets</a></p>
    </div> 
  </div>
</section>
