<div class="cr-body">
  <h3>Default styling</h3>
  <p>Unordered list default styling</p>
  <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
  <p>Ordered list default styling</p>
  <ol>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ol>
  <h3>Font size and font colour classes can be added to the lists</h3>
   <p>Unordered list class <i>font--ruby</i></p>
   <ul class="font--ruby">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ul>
  <p>Ordered list class <i>font--black font--xxsmall</i></p>
  <ol class="font--black font--xxsmall">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
  </ol>
</div> 
