.teaser-block__body {
  padding: 20px;
  text-align: initial;
}

.teaser-block--bg-image {
  .teaser-block__image:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left:0;
    transition: background-color 0.2s linear;
    // Set this up as totally transparent to fade-in on hover
    // $colour-dark-blue in RGB with alpha
    background-color: rgba($colour-dark-blue, 0);
  }

  .teaser-block__body {
    /* Increase padding-top to extend gradient 'reach';
     * provides better accessibility against the first line of text */
    padding: 80px 30px 40px;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: auto;
    height: auto;
    background-image: linear-gradient(transparent, $colour-dark-blue);
  }

  &:hover {
    .teaser-block__image:after {
      // $colour-dark-blue in RGB with alpha
      background-color: rgba($colour-dark-blue, 0.5);
    }
  }
}



