// Media Reference Block 
//
// Comes in 4 sizes.
//
// Markup: media-block.twig
//
// .block-content--view-mode-cw-s -  Small
// .block-content--view-mode-cw-m  -  Medium
// .block-content--view-mode-cw-mp -  Medium Plus
// .block-content--view-mode-cw-l  -  Large 
//
// Style guide: 20.50

.media-block {
  #play-icon {
    path {
      fill: $colour-mint-green;
    }
  }
}
.media-block__content {
  background-image: linear-gradient(rgba(0,0,0,0), $colour-dark-purple);
  .cr-body {
    .font--mint-green {
      color: $colour-mint-green;
    }
  }
}
