// Background Colours
//
// Markup: background-colours.twig
//
// Style guide: 10.6

.bg--no-colour {
  background-color: transparent;
}
.bg--black {
  background-color: $colour-black;
}
.bg--dark-blue {
  background-color: $colour-dark-blue;
}
.bg--dark-blue-lighter {
  background-color: $colour-dark-blue-lighter;
}
.bg--ruby {
  background-color: $colour-ruby;
}
.bg--white-smoke {
  background-color: $colour-white-smoke;
}
.bg--white {
  background-color: $colour-white;
}

// Background gradients
.bg--gradient-ruby-purple {
  @include gradient-background($colour-ruby, $colour-purple);
}
.bg--gradient-purple-ruby {
  @include gradient-background($colour-purple, $colour-ruby); 
}
