// Background Colours
//
// Markup: background-colours.twig
//
// Style guide: 10.6

.bg--black {
  background-color: $colour-black;
}
.bg--dark-blue {
  background-color: $colour-dark-blue;
}
.bg--dark-blue-lighter {
  background-color: $colour-dark-blue-lighter;
}
.bg--ruby {
  background-color: $colour-ruby;
}
.bg--white-smoke {
  background-color: $colour-white-smoke;
}

//background gradients
.bg--gradient-red-purple {
  background-image: linear-gradient( 158deg, $colour-red 0%, $colour-purple 100%);
}
.bg--gradient-purple-red {
  background-image: linear-gradient( 158deg, $colour-purple 0%, $colour-red 100%);
}
