<h3>Plain background colours</h3>
<div class="bg--black" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--black </b> $colour-black: #030e1a</p>
<div class="bg--dark-blue" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--dark-blue </b> $colour-dark-blue: #061d38</p>
<div class="bg--dark-blue-lighter" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--dark-blue-lighter </b> $colour-dark-blue-lighter: #223c59</p>
<div class="bg--ruby" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--ruby </b>$colour-ruby: #e7135d</p>
<div class="bg--white-smoke" style="border: 1px solid black; height: 100px; width: 100%;"></div>
<p><br/><b>bg--white-smoke </b>$colour-white-smoke: #fbf5f5</p>
<div class="bg--white" style="border: 1px solid black; height: 100px; width: 100%;"></div>
<p><br/><b>bg--white </b>$colour-white: #ffffff</p>
<h3><br/>Background Gradient</h3>
<div class="bg--gradient-ruby-purple" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--gradient-ruby-purple </b><br/>$colour-ruby: #e7135d to $colour-purple: #ab12e3</p>
<div class="bg--gradient-purple-ruby" style="height: 100px; width: 100%;"></div>
<p><br/><b>bg--gradient-purple-ruby </b><br/>$colour-purple: #ab12e3 to $colour-ruby: #e7135d</p>
