<div class="page-node-type-partner">
<article class="cr-article">
  <div class="cr-article__inner-wrapper">
    <div class="cr-article__body">
      
        <div class="cr-body">
          <article class="embedded-entity align-center">
          <div class="media media-cr-image view-mode-large">
            <img src="kss-assets/images/paypal-logo.png" alt="Paypal logo" title="Paypal logo" typeof="foaf:Image">
            </div>
          </article>
          <p>A massive thank you to PayPal for supporting Sport Relief. They allow our supporters to donate quickly, 
            easily and – most importantly – securely through PayPal donations. This is only possible thanks to the superb 
            support their team gives us. Thank you, PayPal – you’re true pals!</p>
        <p>&nbsp;</p>
        </div>

    <a href="http://home.bt.com/" class="link link--red" target="_blank">
        Visit paypal.com
    </a>
    </div>
  </div>
</article>
</div>

