// Cookie consent
//
// Markup: cookie-consent.twig
//
// Style guide: 20.115

.cookie-consent.cc_container {
  padding: 0;

  .cc_message {
    line-height: 14px;
    padding: 10px 0;
    width: calc(100% - 88px);
  }

  @include breakpoint($screen-md) {
    padding: 0;

    .cc_message {
      width: auto;
      font-size: 14px;
      line-height: 14px;
      margin: 0 auto;
      padding: 9px 0;
    }
  }

  .btn {
    border: 0;
    box-shadow: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    @include breakpoint($screen-lg) {
      // re-add mob styles
      text-indent: -9999px;
      background-image: url( $image-path + "cross-close.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }
  }
}
