// Cookie consent
//
// Markup: cookie-consent.twig
//
// Style guide: 20.115

.cookie-consent.cc_container {
  @include breakpoint($screen-md) {
    padding: 10px 20px;

    .cc_message {
      width: auto;
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .btn {
    @include breakpoint($screen-lg) {
      // re-add mob styles
      text-indent: -9999px;
      background-image: url( $image-path + "cross-close.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
    }
  }
}
