
.media-block {
  #play-icon {
    path {
      fill: $colour-teal;
    }
  }
}
.media-block__content {
  background-image: linear-gradient(rgba(0,0,0,0), $colour-dark-purple);
  .cr-body {
    .font--mint-green {
      color: $colour-teal;
    }
  }
}
