.link,
.inline {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 0 2px;

  &:before {
    content: " ";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    background-color: $colour-deep-violet;
    height: 2px;
  }

  // Backwards compatibility with base theme
  &.link--purple { @include link($colour-purple, $colour-deep-violet); }
  &.link--dark-purple { @include link($colour-dark-purple, $colour-deep-violet); }

  &:hover,
  &:focus,
  &:active {
    font-weight: 700;
    padding: 0;
  }

  &.link--strong {
    font-weight: 700;
    &:before {
      bottom: 1px;
    }
    &:hover,
    &:focus,
    &:active {
      font-weight: 800;
      padding: 0 1px;
    }
  }
}

// Default link for Article and Page types
.cr-article__body .link,
.basic-page--content .link {
/*   @include link($colour-black, $colour-red);
  line-height: 14px;
  border-bottom: 4px solid rgba($colour-black, 0.5);
  &:hover {
    border-bottom: 4px solid rgba($colour-red, 0.5);
  } */
}
