.link {
  &.link--dark-purple{
    @include link($colour-black, $colour-red);
  }
  &.link--purple {
    @include link($colour-purple, $colour-dark-purple);
  }
  &.link--royal-blue {
    @include link($colour-royal-blue, $colour-dark-purple);
  }
  &.link--red {
    @include link($colour-red, $colour-dark-purple);
  }
  &.link--mint-green {
    @include link($colour-teal, $colour-white);
  }
  &.link--white {
    @include link($colour-white, $colour-teal);
  }
  &.link--grey {
    @include link($colour-grey, $colour-teal);
  }
  &.link--light-grey {
    @include link($colour-light-grey, $colour-teal);
  }
  &.link--black{
    @include link($colour-black, $colour-royal-blue);
    border-color: $colour-red;
    &:hover {
        color: $colour-black;
    }
  }
}
// Default link for Article and Page types
.cr-article__body .link,
.basic-page--content .link {
  @include link($colour-black, $colour-red);
  line-height: 14px;
  border-bottom: 4px solid rgba($colour-black, 0.5);
  &:hover {
    border-bottom: 4px solid rgba($colour-red, 0.5);
  }
}
