<p>LINKS</p>
<p> <a class="link link--red" href="#">Red link</a> <i>.link-red</i>   </p>
<p><a class="link link--grey" href="#">Grey link</a> <i>.link--grey</i>   </p>
<p><a class="link link--coral" href="#">coral link</a> <i>.link--coral</i>   </p>
<p><a class="link link--orange" href="#">Orange link</a> <i>.link--orange</i>   </p>
<p><a class="link link--yellow" href="#">Yellow link</a> <i>.link--yellow</i>   </p>
<p><a class="link link--green" href="#">Green link</a> <i>.link--green</i>   </p>
<p><a class="link link--blue" href="#">Blue link</a> <i>.link--blue</i>   </p>
<p><a class="link link--magenta" href="#">Magenta link</a> <i>.link--magenta</i>   </p>
<p><a class="link link--purple" href="#">Purple link</a> <i>.link--purple</i>   </p>
<p><a class="link link--teal" href="#">Teal link</a> <i>.link--purple</i>   </p>

<br><br>

<p>LIGHT LINKS</p>
<p><a class="link link--light-grey" href="#">Light grey link</a> <i>.link--light-grey</i>   </p>
<p><a class="link link--light-coral" href="#">Light coral link</a> <i>.link--light-coral</i>   </p>
<p><a class="link link--light-orange" href="#">Light orange link</a> <i>.link--light-orange</i>   </p>
<p><a class="link link--light-yellow" href="#">Light yellow link</a> <i>.link--light-yellow</i>   </p>
<p><a class="link link--light-green" href="#">Light green link</a> <i>.link--light-green</i>   </p>
<p><a class="link link--light-blue" href="#">Light blue link</a> <i>.link--light-blue</i>   </p>
<p><a class="link link--light-magenta" href="#">Light magenta link</a> <i>.link--light-magenta</i>   </p>
<p><a class="link link--light-purple" href="#">Light purple link</a> <i>.link--light-purple</i>   </p>
<p><a class="link link--light-teal" href="#">Light teal link</a> <i>.link--light-teal</i>   </p>

<br><br>


<p>DARK LINKS</p>
<p><a class="link link--dark-grey" href="#">Dark grey link</a> <i>.link--dark-grey</i>   </p>
<p><a class="link link--dark-coral" href="#">Dark coral link</a> <i>.link--dark-coral</i>   </p>
<p><a class="link link--dark-orange" href="#">Dark orange link</a> <i>.link--dark-orange</i>   </p>
<p><a class="link link--dark-yellow" href="#">Dark yellow link</a> <i>.link--dark-yellow</i>   </p>
<p><a class="link link--dark-green" href="#">Dark green link</a> <i>.link--dark-green</i>   </p>
<p><a class="link link--dark-blue" href="#">Dark blue link</a> <i>.link--dark-blue</i>   </p>
<p><a class="link link--dark-magenta" href="#">Dark magenta link</a> <i>.link--dark-magenta</i>   </p>
<p><a class="link link--dark-purple" href="#">Dark purple link</a> <i>.link--dark-purple</i>   </p>
<p><a class="link link--dark-teal" href="#">Dark teal link</a> <i>.link--dark-teal</i>   </p>



<p class="bg--black" style="padding: 5px;">
  <a class="link link--white" href="#">White link</a>
  <i>.link--white</i>
</p>




<h3 style="margin-top: 30px;">Inline Link</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue <a href="#" class="link link--dark-purple inline">inline link</a>, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus efficitur sem sit amet interdum. Donec aliquam augue</p>
