// Cards
//
// Markup: cards.twig
//
// .cards--feature-layout - Feature Layout
// .cards--four-grid - Grid of four cards
//
// Style guide: 20.61

.cards {
  width: 100%;
  padding: 30px 0;
  @include breakpoint($screen-md) {
    padding: 60px 0;
  }
  &.cards--four-grid {
    .cards__wrapper {
      justify-content: left;
      .card {
        @include breakpoint($screen-md-max) {
          @include span(3);
        }
      }
    }
  }
}
.cards__wrapper {
  text-align: center;
  @include breakpoint($screen-md-max) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    @include breakpoint($screen-md-max) {
      @include span(4);
    }
  }
}
