// Cards
//
// Markup: cards.twig
//
// .cards--four-grid.cards--feature-layout - Feature Layout
// .cards--four-grid - Grid of four cards left aligned (default)
// .cards--four-grid-centre - Grid of four cards centre align
// .cards--three-grid - Grid of three cards left aligned
// .cards--three-grid-centre - Grid of three cards centre align
//
// Style guide: 20.61

.cards {
  width: 100%;
  padding: 30px 0;
  @include breakpoint($screen-md) {
    padding: 60px 0;
  }
  &.cards--four-grid {
    .cards__wrapper {
      justify-content: flex-start;
    }
  }
  &.cards--three-grid {
    .cards__wrapper {
      justify-content: flex-start;
      .card {
        @include breakpoint($screen-md-max) {
          @include span(4);
        }
      }
    }
    &-centre {
      .cards__wrapper {
        .card {
          @include breakpoint($screen-md-max) {
            @include span(4);
          }
        }
      }
    }
  }
}
.cards__wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  @include breakpoint($screen-md) {
    @include span(6);
  }
  @include breakpoint($screen-md-max) {
    @include span(3);
  }
}
