.paragraph--full-height-single-image-single-copy {
  padding: 0;

  .fhsisc {
    &__image-wrapper {
      padding: 0;
    }

    &__text-wrapper {
      padding: 0 5vw;

      .form__step .form__fieldset {
        input#field-input--amount {
          border-right: none;
          margin-right: -6px;
        }

        select.form__field--currency {
          border-left: none;
        }

        .form__field--wrapper {
          width: 250px;
        }
      }
    }
  }

  @include breakpoint($screen-md) {
    .fhsisc {
      &__image-wrapper {
        img {
          max-height: 100vh;
        }
      }

      &__text-wrapper {
        padding: 0 60px;

        form {
          margin: 60px auto 60px;
          width: 100%;
          border: none;
          background-color: transparent;

          .form__row {
            width: 100%;
            padding: 0;

            .form__fieldset {
              width: 100%;

              fieldset#giving_type_selector {
                .form__giving-type {
                  display: flex;
                  width: 70%;
                  max-height: 80px;
                  .form__field--wrapper {
                    label {
                      text-transform: capitalize;
                    }
                  }
                }
              }

              button.select-amount-btn {
                .select-amount {
                  width: 125px;

                  .amount-text {
                    font-size: 30px;
                    &-value {
                      font-size: 35px;
                      top: calc(50% - 0.5em + 3px);
                    }
                  }

                  &--context {
                    margin-left: 125px;
                  }
                }
              }
            }
          }

          @include breakpoint($screen-lg) {
            width: 100%;
          }
        }
      }
    }
  }
}
