.block--cr-email-signup--head.cr-header-email-signup-form,
.block--cr-email-signup--head.block--cr-email-signup--error.cr-header-email-signup-form {
  .block--cr-email-signup__inner-wrapper {
    background-color: $colour-dark-blue;
  }
  input.button[type=submit] {
    @extend .btn--ruby;
    margin: 0 0 30px 0 !important;
  }
  &.block--cr-email-signup--error.block--cr-email-signup {
    .esu-errors.messages.messages--error {
      background-color: $colour-dark-blue;
    }
  }
}    
