<h3> Default link styling </h3>
<a class="link" href="#">
  Link
</a>
<p> Link has the class <i>link</i></p>
<p>
  This is <a class="link inline" href="#">an example</a> of an inline link.
</p>
<p>Inline link has an extra class <i>inline</i></p>

<h3> Coloured link styling </h3>
<p>
  <a class="link link--black" href="#">
    Black link
  </a>
</p>
<p>
  Black <a class="link link--black inline" href="#">link</a> inline.
</p>
<p>
  <a class="link link--dark-blue" href="#">
    Dark blue link
  </a>
</p>
<p>
  Dark blue <a class="link link--dark-blue inline" href="#">link</a> inline.
</p>
<p>
  <a class="link link--dark-blue-lighter" href="#">
    Dark blue lighter link
  </a>
</p>
<p class="font--black">
  Dark blue lighter <a class="link link--dark-blue-lighter inline" href="#">link</a> inline.
</p>
<p>
  <a class="link link--ruby" href="#">
    Ruby link
  </a>
</p>
<p>
  Ruby <a class="link link--ruby inline" href="#">link</a> inline.
</p>
<div class="bg--gradient-ruby-purple" style="padding: 20px; margin-bottom: 20px;">
  <p>
  <a class="link link--white-smoke" href="#">
    White smoke link
  </a>
</p>
<p class="font--white-smoke">
  White smoke <a class="link link--white-smoke inline" href="#">link</a> inline.
</p>
</div>
<div class="bg--black" style="padding: 20px; margin-bottom: 20px;">
  <p>
  <a class="link link--white" href="#">
    White link
  </a>
</p>
<p class="font--white">
  White <a class="link link--white inline" href="#">link</a> inline.
</p>
</div>

