<h3> Default link styling </h3>
<p>
  <a href="#">
    Link
  </a>
</p>
<p> Link inside paragraph tags</p>
<a class="link" href="#">
  Link
</a>
<p> Link with the class <i>link</i></p>
<p>
  This is <a class="inline">an example</a> of an inline link.
</p>
<p>Inline link class <i>inline</i></p>
