// Progress indicator
//
// This is Progress indicator
//
// Markup: progress-indicator.twig
//
// Style guide: 20.1001

$circle-size: 15px !default;
$circle-line-thickness: 3px !default;
$indicator-thickness: 2px !default;

.progress-indicator {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  padding-bottom: 20px;

  li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: $colour-black;
    display: inline-block;
    vertical-align: top;

    &:last-child {
      .progress-indicator__circle {
        &:after {
          display: none;
        }
      }  
    }
  }
}

.progress-indicator__steps-1 li {
  width: 100%;
}

.progress-indicator__steps-2 li {
  width: 50%;
}

.progress-indicator__steps-3 li {
  width: 33%;
}

.progress-indicator__steps-4 li {
  width: 25%;
}

.progress-indicator__steps-5 li {
  width: 20%;
}

.progress-indicator__circle {
  @include border-radius(50%);
  width: $circle-size;
  height: $circle-size;
  background-color: $colour-white;
  display: block;
  margin: 0 auto 0.5em auto;
  border: $indicator-thickness solid $colour-black;
  text-indent: -999px;

  &:after {
    display: block;
    position: absolute;
    top: $circle-size / 2 - $indicator-thickness;
    width: 100%;
    height: $circle-line-thickness;
    content: '';
    background-color: transparent;
    border-bottom: 2px dotted $colour-black;
    left: 50%;
    margin-left: 7px;
    width: 98%;
  }
}

.progress-indicator--done .progress-indicator__circle {
  border: $indicator-thickness solid $colour-blue;
  background-color: $colour-blue;

  &:after {
    border-bottom: $circle-line-thickness solid $colour-blue; 
  }
} 

.progress-indicator--active .progress-indicator__circle {
  border: $indicator-thickness solid $colour-blue;

  &:before {
    @include border-radius(50%);
    display: block;
    position: relative;
    content: '';
    z-index: 1;
    width: $circle-size / 3 + $indicator-thickness;
    height: $circle-size / 3 + $indicator-thickness;
    top: $indicator-thickness;
    left: $indicator-thickness;
    background-color: $colour-blue;
  }
}

// ==========================================================================
// Progress indicator AB test override
// ==========================================================================

.form__group--progress_bar_for_ab_test {
  
  .progress-indicator--active {
    color: $colour-black;
    width: 100%;
  }
  .progress-bar__step {
    text-transform: initial;
    display: block;
    font-weight: bold;
  }
}
