<div id="block-metaiconsblock" class="contextual-region block block-cr-meta-icons">
  <div class="meta-icons">
    <a role="button" class="meta-icons__magnify has-tooltip active" title="Search" href="#">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-magnify"></use>
      </svg>
    </a>
    <a role="button" href="https://my.rednoseday.com/user/login" target="_blank" class="meta-icons__login has-tooltip" title="Log in to your Giving Page">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-login"></use>
      </svg>
    </a>
    <a role="button" class="meta-icons__esu-toggle has-tooltip" title="Sign up for emails" href="#">
      <svg class="icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"></use>
      </svg>
      <span>Get the latest</span>
    </a>
  </div>
</div>
