
// Grids
//
// Susy Grid: http://susydocs.oddbird.net/en/latest/
//
// Style guide: Grids

/*
 * TODO: Extract grid from susy framework instead of importing all
 */
@import "susy/sass/_susy";

/* Changing Susy default global settings */
$susy: (  
  columns: $columns,
  container: $max-width,
  gutters: $gutter/$column,
  global-box-sizing: border-box,
  gutter-position: split,
  output: float,
  last-flow: to
);
