$colour-smoke-grey: #f0f0f0;
$colour-mercury-grey: #e8e8e8;
$colour-old-lavender: #806880;

// 2020 Payin-Donate Update Colours:
$colour--black: #222222;
$colour--white: #FFFFFF;
$colour--red: #e52730;
$colour--blue: #024487;
$colour--accent: #6489FC;

$colour--error-msg-bg: #FFE0E1;

$colour--btn-light: #BECCF9;
$colour--btn-hover: #3B5FCD;
$colour--btn-on-click: #2042AD;
$colour--btn-selected: #6489FC;

$colour--cta-hover: #890B11;
$colour--cta-click: #530004;
$colour--cta2-hover: #222222;
$colour--cta2-on-click: #FFFFFF;

$colour--cta2-disbled: #5d5d5d;


$colour--bg-gradient-top-right: #004C99;
$colour--bg-gradient-bottom-left: #003D7A;

$colour--placeholder: #E0E0E0;
$colour--field-border: #999999;

$colour--system-blue: #80B2F7;
