@mixin clearfix {
	content: "";
	display: table;
	clear:both;
}

@mixin clearfix-after {
 	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden; 
}

@mixin box-shadow-transition() {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s linear;
  
  &:hover,
  &:active {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    box-shadow: none;
  }
}

@mixin colour-transition(){
  transition: color 0.1s linear, background-color 0.1s linear;
}

@mixin colour-transition-2(){
  transition: color 0.1s linear, border-color 0.1s linear;
}
