// Fonts
$montserrat: "Montserrat", Helvetica, Arial, sans-serif;

// Backwards compatibility to keep the base theme happy
$body-font: $montserrat;

// Font sizing
$small-header-fontsize: 12px;
$small-header-lineheight: 15px;

$standard-headings-fontsize: 24px;
$standards-headings-lineheight: 29px;

$large-headings-fontsize: 36px;
$large-headings-lineheight: 44px;

$bold-36pt-fontsize: 36px;
$bold-36pt-lineheight: 44px;

$button-cta-fields-fontsize: 18px;
$button-cta-fields-lineheight: 22px;


/* Attempt to map to required vars */

// 'Large' headings
$h1-title-font-size: (
  null: (36px, 44px),
  $screen-md: (36px, 44px),
  $screen-lg: (36px, 44px)
);
$h1-font-size: (
  null: (36px, 44px),
  $screen-md: (36px, 44px),
  $screen-lg: (36px, 44px)
);
$h2-font-size: (
  null: (36px, 44px),
  $screen-md: (36px, 44px),
  $screen-lg: (36px, 44px)
);

// 'Standard' headings
$h3-font-size: (
  null: (24px, 29px),
  $screen-md: (24px, 29px),
  $screen-lg: (26px, 29px)
);
$h4-font-size: (
  null: (24px, 29px),
  $screen-md: (24px, 29px),
  $screen-lg: (24px, 29px)
);

// 'Small' headings
$h5-font-size: (
  null: (12px, 15px),
  $screen-md: (12px, 15px),
  $screen-lg: (12px, 15px)
);
$h6-font-size: (
  null: (12px, 15px),
  $screen-md: (12px, 15px),
  $screen-lg: (12px, 15px)
);
