header[role=banner] {
  height: 50px;
  
  @include breakpoint($screen-md) {
    height: 105px;
    padding: 10px 0;
  }
}

.block-branding {
  margin: 0 auto;
  width: span(10);
  text-align: center;

  @include breakpoint($screen-lg) {
    width: span(7);
  }
  
  .site-logo {
    float: none;
    min-width: auto;
    height: auto;
    width: 40px;
    margin: 5px auto;
    z-index: auto;
    overflow: visible;

    @include breakpoint($screen-md) {
      width: 80px;
      margin: 0 auto;
    }

    img {
      max-width:100%;
    }
  }
}
