header[role=banner] {

  &.header {
    height: 50px;
    padding: 4px 0;
    border-bottom: 2px solid;
  
    @include breakpoint($screen-md) {
      height: 109px;
      padding: 14px 0;
    }

    .header__inner-wrapper {
      cursor: auto;
      display: flex;
      justify-content: center;
    }
  }
}

.block-branding {
  margin: 0 auto;
  
  .site-logo {
    float: none;
    min-width: auto;
    height: auto;
    width: 40px;
    margin: 5px auto;
    z-index: auto;
    overflow: visible;

    @include breakpoint($screen-md) {
      width: 80px;
      margin: 0 auto;
    }

    img {
      max-width:100%;
    }
  }
}
