<div class="paragraph paragraph--type--cr-block-reference paragraph--view-mode--default app-link-block-outerwrapper">
	<div class="app-phone-number-form block block-sr-app-link block-sr-app-link-block-app-phone-number app-link-block__wrapper" id="block-sr18appphonenumberentry">
	<div class="app-link-block__innerwrapper">
		<form action="/" method="post" id="app-phone-number-form" class="app-link-block__form" accept-charset="UTF-8">
		<div class="app-link-block__form">
	    <span class="app-link-block__label">Enter mobile number</span>
			<div class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-phone-number form-item-phone-number">
				<label for="edit-phone-number" class="visually-hidden">Enter mobile number</label>
				<input class="–metrika-nokeys form-tel" type="tel" id="edit-phone-number" name="phone_number" value="" size="30" maxlength="128" placeholder="E.g +447012345678">
			</div>
			<input type="submit" id="edit-submit" name="submit" value="Send me link" class="button js-form-submit form-submit btn btn--ruby">
			<span class="phone-number-valid-message app-link-block__error-message"></span>
			<input autocomplete="off" type="hidden" name="form_build_id" value="form-SgdKr14X1FDjbIEqMeDijGzv1pEl-ERAD0pvT92SNSE">
			<input type="hidden" name="form_id" value="app_phone_number_form">
		</div>
		</form>
		<div class="app-link__download">
			<a href="https://itunes.apple.com/us/app/sport-relief/id1322989652?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat center ;width:135px;height:35px;background-size:contain;margin-top:8px;"></a>
			<a href='https://play.google.com/store/apps/details?id=com.sportrelief.app2018&hl=en'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		</div>
	</div>
	</div>
</div>

<div class="paragraph paragraph--type--cr-block-reference paragraph--view-mode--default app-link-block-outerwrapper">
	<div class="app-phone-number-form block block-sr-app-link block-sr-app-link-block-app-phone-number app-link-block__wrapper" id="block-sr18appphonenumberentry">
	<div class="app-link-block__innerwrapper">
		<form action="/" method="post" id="app-phone-number-form" class="error" accept-charset="UTF-8">
			<div class="app-link-block__form">
	    <span class="app-link-block__label">Enter mobile number</span>
			<div class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-phone-number form-item-phone-number">
				<label for="edit-phone-number" class="visually-hidden">Enter mobile number</label>
				<input class="–metrika-nokeys form-tel" type="tel" id="edit-phone-number" name="phone_number" value="" size="30" maxlength="128" placeholder="E.g +447012345678">
			</div>
			<input type="submit" id="edit-submit" name="submit" value="Send me link" class="button js-form-submit form-submit btn btn--ruby">
			<span class="phone-number-valid-message app-link-block__error-message"><div>Phone number not valid.</div></span>
			<input autocomplete="off" type="hidden" name="form_build_id" value="form-SgdKr14X1FDjbIEqMeDijGzv1pEl-ERAD0pvT92SNSE">
			<input type="hidden" name="form_id" value="app_phone_number_form">
		</div>
		</form>
		<div class="app-link__download">
			<a href="https://itunes.apple.com/us/app/sport-relief/id1322989652?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat center ;width:135px;height:35px;background-size:contain;margin-top:8px;"></a>
			<a href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		</div>
	</div>
	</div>
</div>

<div class="paragraph paragraph--type--cr-block-reference paragraph--view-mode--default app-link-block-outerwrapper">
	<div class="app-phone-number-form block block-sr-app-link block-sr-app-link-block-app-phone-number app-link-block__wrapper" id="block-sr18appphonenumberentry">
	<div class="app-link-block__innerwrapper">
		<form action="/" method="post" id="app-phone-number-form" class="valid" accept-charset="UTF-8">
		 <div class="app-link-block__form">
	    <span class="app-link-block__label">Enter mobile number</span>
			<div class="js-form-item form-item js-form-type-tel form-type-tel js-form-item-phone-number form-item-phone-number">
				<label for="edit-phone-number" class="visually-hidden">Enter mobile number</label>
				<input class="–metrika-nokeys form-tel" type="tel" id="edit-phone-number" name="phone_number" value="" size="30" maxlength="128" placeholder="E.g +447012345678">
			</div>
			<input type="submit" id="edit-submit" name="submit" value="Send me link" class="button js-form-submit form-submit">
			<span class="phone-number-valid-message app-link-block__error-message"><div>Phone number is valid</div></span>
			<input autocomplete="off" type="hidden" name="form_build_id" value="form-SgdKr14X1FDjbIEqMeDijGzv1pEl-ERAD0pvT92SNSE">
			<input type="hidden" name="form_id" value="app_phone_number_form">
		</div>
		</form>
		<div class="app-link__download">
			<a href="https://itunes.apple.com/us/app/sport-relief/id1322989652?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat center ;width:135px;height:35px;background-size:contain;margin-top:8px;"></a>
			<a href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		</div>
	</div>
	</div>
</div>

<div class="paragraph paragraph--type--cr-block-reference paragraph--view-mode--default app-link-block-outerwrapper">
	<div class="app-phone-number-form block block-sr-app-link block-sr-app-link-block-app-phone-number app-link-block__wrapper" id="block-sr18appphonenumberentry">
	<div class="app-link-block__innerwrapper success">
		<form action="/" method="post" id="app-phone-number-form" class="success" accept-charset="UTF-8">
		 <div class="app-link-block__form">
				<div class='sr-app-link-success-message'>
					<h3>All done....</h3>
					<p>Thank you, we've text you a link to download the app. So once downloaded you're all set get stepping and make difference.
				</div>
			</div>
		</form>
		<div class="app-link__download">
			<a href="https://itunes.apple.com/us/app/sport-relief/id1322989652?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat center ;width:135px;height:35px;background-size:contain;margin-top:8px;"></a>
			<a href='http://play.google.com/store/?pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
		</div>
	</div>
	</div>
</div>
