<section id="payin-step-four" class="content">
  <div class="promo-header promo-header--default promo-header--failure">
    <div class="promo-header__content">
      <div class="promo-header__content-inner promo-header__content-inner--centre">
        <h1>Payment Failed</h1>
      </div>
    </div>
  </div>
  <div class="inner-content">
    <p>Sorry, your payment has failed. Please try again to pay in your fundraising money.</p>
    <a href="/" class="btn btn--ruby">Try again</a>
    <p class="contact-information">If you continue to experience issues, please <a href="http://www.comicrelief.com/contact-us?_ga=2.216239263.884518803.1517826958-841508478.1506692348">contact us.</a>
  </div>
</section>
