<section id="payin-step-four" class="content success-content">
  <header class="bg--gradient-purple-ruby promo-header promo-header--default  promo-header--no-image contextual-region">
    <div class="promo-header__content">
    	<div class="promo-header__content-inner promo-header__content-inner--centre">
       	<h1 class="text-align-center font--white">Thank you</h1>
        <p>Your payment has been processed.</p>
      </div>
    </div>
  </header>
  <div class="form__row form__row--success">
    <div class="form__fieldset">
      <p>Transaction ID: <strong> 371d3265-efcd-11e7-89992-0e0f567937ca</strong>
      </p>
    </div>
  </div>
  <div class="form__row--user-generate-content">
    <div class="form__fieldset">
      <div class="form-error">
        error message...
      </div>
      <div class="form-user-content--copy-">
        <label for="whatyoudid">Tell us about your fundraising activities and you could feature in our next campaign!</label>
        <textarea placeholder="Enter your Sport Relief 2018 story..."  maxlength="400" id="whatyoudid" ></textarea>
    </div>
    <div class="form-terms">
      <input type="checkbox" id="subscribe" />
      <label for="subscribe" class="terms">I am happy for Comic Relief to contact me about my fundraising</label>
    </div>
    <input type="submit" value="submit story" class="button"/>
  </div>
</div>
  <div class="form__row bg--white-smoke cards cards--three-grid-centre">
    <div class="cards__wrapper">
      <div class="card">
        <div class="card__image">
            <img src="kss-assets/images/1-1-img.jpg" alt="Where does the money go">
          </div>
        <div class="card__content-wrapper">
            <div class="cards__content">
              <h3>Where your money goes</h3>
              <p>Learn about the projects we support and the impact that your money has.</p>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="card__image">
            <img src="kss-assets/images/1-1-img.jpg" alt="Fundraiser gallery">
          </div>
        <div class="card__content-wrapper">
            <div class="cards__content">
              <h3>Fundraiser Gallery</h3>
              <p>Showcase your fabulous fundraising photos in out fundraising gallery.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
