<div class="userFrTarget">
  <div class="amount">
    <h6>Set a fundraising target</h6>
    <p class="form__subcopy">Be ambitious.You can do it</p>
    <div>
      <span class="pounds-typography">£</span>
      <input type="text" autocomplete="on" class="form__input extra" id="userFrTarget" name="userFrTarget" value="150" maxlength="6">
    </div>
  </div>
  <div class="copy">
    <div class="digit digit-1">
      <span>3</span>
    </div>
    <div class="digit-copy">
      <div>
        <p>
          Thanks to you, at least <strong>three</strong> children living and 
          working on the streets of Liberia could go to school for an entire year.
        </p>
      </div>
    </div>
  </div>
</div>
